## **Importing Dataset**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!unzip -q /content/drive/MyDrive/eYSIP_Data/Dataset.zip

## **Importing Libraries**

In [3]:
import pandas as pd
import numpy as np

In [4]:
Mem_Details = pd.read_csv(r'/content/Dataset/Team_Members_Details_ DaPrA - team_member_details_30_09.csv')

In [7]:
Dep_Details = pd.read_csv(r'/content/departments.csv')

In [8]:
Mem_Details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5689 entries, 0 to 5688
Data columns (total 68 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   team_id          5689 non-null   int64
 1   role             5689 non-null   int64
 2   Department       5672 non-null   object
 3   Discipline       5672 non-null   object
 4   Year             5672 non-null   float64
 5   Gender           5672 non-null   object
 6   eyrc_year        5670 non-null   object
 7   eyrc_theme       641 non-null    object
 8   eyrc_cert        641 non-null    object
 9   elsiLab          5664 non-null   float64
 10  cgpa             5383 non-null   float64
 11  onlineCourse     5665 non-null   float64
 12  paidCert         5665 non-null   float64
 13  completeCourse   5665 non-null   float64
 14  courseName1      2582 non-null   object
 15  courseYear1      2584 non-null   object
 16  courseRs1        2578 non-null   object
 17  courseName2      1725 non-null   object
 18  courseYear2      1725 non-null   object
 19  courseRs2        1721 non-null   object
 20  courseName3      1170 non-null   object
 21  courseYear3      1171 non-null   object
 22  courseRs3        1167 non-null   object
 23  courseName4      776 non-null    object
 24  courseYear4      777 non-null    object
 25  courseRs4        772 non-null    object
 26  courseName5      501 non-null    object
 27  courseYear5      502 non-null    object
 28  courseRs5        501 non-null    object
 29  bankAcc          0 non-null      float64
 30  paymentOpt       0 non-null      float64
 31  categoryDomain   0 non-null      float64
 32  otherComp        0 non-null      float64
 33  isFee            0 non-null      float64
 34  internetOpt      5662 non-null   object
 35  ssc_board        5431 non-null   object
 36  hsc_board        5428 non-null   object
 37  workstation      5662 non-null   float64
 38  memory           3377 non-null   object
 39  storage          3123 non-null   object
 40  processor        3170 non-null   object
 41  graphics         2739 non-null   object
 42  graphics_memory  2888 non-null   object
 43  internetspeed    4503 non-null   object
 44  geekbench        4503 non-null   object
 45  geekbench1       4503 non-null   object
 46  os               3387 non-null   object
 47  sub_ros          5672 non-null   float64
 48  sub_ip           5672 non-null   float64
 49  sub_emb_c        5672 non-null   float64
 50  sub_ml           5672 non-null   float64
 51  sub_ap           5672 non-null   float64
 52  sub_cs           5672 non-null   float64
 53  sub_mss          5672 non-null   float64
 54  sub_fpga         5672 non-null   float64
 55  sub_mm           5672 non-null   float64
 56  sub_de           5672 non-null   float64
 57  preference       5634 non-null   object
 58  preference1      5634 non-null   object
 59  preference2      5634 non-null   object
 60  preference3      5634 non-null   object
 61  preference4      5634 non-null   object
 62  preference5      5634 non-null   object
 63  preference6      5634 non-null   object
 64  college_id       5689 non-null   object
 65  college_name     5689 non-null   object
 66  IS_eLSI          5689 non-null   int64
 67  country          5689 non-null   object
dtypes: float64(22), int64(3), object(43)
memory usage: 3.0+ MB

## **Removing Teams with less than 4 members**

In [10]:
Mem_Details['freq'] = Mem_Details.groupby('team_id')['team_id'].transform('count')
Mem_Details.count()

team_id         5689
role            5689
Department      5672
Discipline      5672
Year            5672
                ...
college_id      5689
college_name    5689
IS_eLSI         5689
country         5689
freq            5689
Length: 69, dtype: int64

In [11]:
Mem_Details = Mem_Details[Mem_Details.freq >3]
Mem_Details.count()

team_id         5172
role            5172
Department      5161
Discipline      5161
Year            5161
                ...
college_id      5172
college_name    5172
IS_eLSI         5172
country         5172
freq            5172
Length: 69, dtype: int64

## **Analysing Null and Unique Values in every column**

In [12]:
print(Mem_Details.isna().sum().sort_values(ascending=False).to_markdown())

|                 |    0 |
|:----------------|-----:|
| otherComp       | 5172 |
| isFee           | 5172 |
| categoryDomain  | 5172 |
| paymentOpt      | 5172 |
| bankAcc         | 5172 |
| courseRs5       | 4725 |
| courseName5     | 4725 |
| courseYear5     | 4724 |
| eyrc_theme      | 4615 |
| eyrc_cert       | 4615 |
| courseRs4       | 4485 |
| courseName4     | 4481 |
| courseYear4     | 4480 |
| courseRs3       | 4130 |
| courseName3     | 4127 |
| courseYear3     | 4126 |
| courseRs2       | 3623 |
| courseName2     | 3619 |
| courseYear2     | 3618 |
| courseRs1       | 2839 |
| courseName1     | 2834 |
| courseYear1     | 2833 |
| graphics        | 2698 |
| graphics_memory | 2567 |
| storage         | 2349 |
| processor       | 2303 |
| memory          | 2113 |
| os              | 2106 |
| geekbench       | 1105 |
| internetspeed   | 1105 |
| geekbench1      | 1105 |
| cgpa            |  265 |
| hsc_board       |  225 |
| ssc_board       |  222 |
| preference5     |   52 |
| preference      |   52 |
| preference6     |   52 |
| preference4     |   52 |
| preference2     |   52 |
| preference1     |   52 |
| preference3     |   52 |
| elsiLab         |   19 |
| internetOpt     |   18 |
| workstation     |   18 |
| completeCourse  |   18 |
| onlineCourse    |   18 |
| paidCert        |   18 |
| eyrc_year       |   13 |
| sub_mm          |   11 |
| Department      |   11 |
| Discipline      |   11 |
| Year            |   11 |
| Gender          |   11 |
| sub_de          |   11 |
| sub_fpga        |   11 |
| sub_mss         |   11 |
| sub_cs          |   11 |
| sub_ap          |   11 |
| sub_ml          |   11 |
| sub_emb_c       |   11 |
| sub_ip          |   11 |
| sub_ros         |   11 |
| country         |    0 |
| college_name    |    0 |
| IS_eLSI         |    0 |
| team_id         |    0 |
| college_id      |    0 |
| role            |    0 |
| freq            |    0 |

In [13]:
Mem_Details.head()

,team_id,role,Department,Discipline,Year,Gender,eyrc_year,eyrc_theme,eyrc_cert,elsiLab,...,preference2,preference3,preference4,preference5,preference6,college_id,college_name,IS_eLSI,country,freq
0,1001,1,Electronics and Communication Engineering,BE/BTech/B.Dec,3.0,Male,"[""eyrc20""]",20_VD,20_6,1.0,...,Agribot (AB),Soil Monitoring Bot (SM),Berryminator (BM),Dairy Bike (DB),Functional Weeder (FW),KA1006,Alva's Institute of Engineering & Technology,1,India,4
1,1001,2,Electronics and Communication Engineering,BE/BTech/B.Dec,3.0,Male,"[""eyrc20""]",20_VD,20_6,1.0,...,Agribot (AB),Soil Monitoring Bot (SM),Berryminator (BM),Dairy Bike (DB),Functional Weeder (FW),KA1006,Alva's Institute of Engineering & Technology,1,India,4
2,1001,2,Electronics and Communication Engineering,BE/BTech/B.Dec,3.0,Male,"[""none""]",NaN,NaN,1.0,...,Agribot (AB),Soil Monitoring Bot (SM),Berryminator (BM),Dairy Bike (DB),Functional Weeder (FW),KA1006,Alva's Institute of Engineering & Technology,1,India,4
3,1001,2,Electronics and Communication Engineering,BE/BTech/B.Dec,3.0,Male,"[""none""]",NaN,NaN,1.0,...,Agribot (AB),Soil Monitoring Bot (SM),Berryminator (BM),Dairy Bike (DB),Functional Weeder (FW),KA1006,Alva's Institute of Engineering & Technology,1,India,4
4,1002,1,Electronics and Communication Engineering,BE/BTech/B.Dec,3.0,Male,"[""eyrc19"",""eyrc20""]","20_SB,19_SR","20_6,19_6",2.0,...,Berryminator (BM),Agribot (AB),Soil Monitoring Bot (SM),Dairy Bike (DB),Functional Weeder (FW),DL1039,University School of Information And Communica...,0,India,4

In [14]:
Mem_Details.columns

Index(['team_id', 'role', 'Department', 'Discipline', 'Year', 'Gender',
       'eyrc_year', 'eyrc_theme', 'eyrc_cert', 'elsiLab', 'cgpa',
       'onlineCourse', 'paidCert', 'completeCourse', 'courseName1',
       'courseYear1', 'courseRs1', 'courseName2', 'courseYear2', 'courseRs2',
       'courseName3', 'courseYear3', 'courseRs3', 'courseName4', 'courseYear4',
       'courseRs4', 'courseName5', 'courseYear5', 'courseRs5', 'bankAcc',
       'paymentOpt', 'categoryDomain', 'otherComp', 'isFee', 'internetOpt',
       'ssc_board', 'hsc_board', 'workstation', 'memory', 'storage',
       'processor', 'graphics', 'graphics_memory', 'internetspeed',
       'geekbench', 'geekbench1', 'os', 'sub_ros', 'sub_ip', 'sub_emb_c',
       'sub_ml', 'sub_ap', 'sub_cs', 'sub_mss', 'sub_fpga', 'sub_mm', 'sub_de',
       'preference', 'preference1', 'preference2', 'preference3',
       'preference4', 'preference5', 'preference6', 'college_id',
       'college_name', 'IS_eLSI', 'country', 'freq'],
      dtype='object')

### **Function to create a dateframe indicating count of unique value and the values themselves**

In [15]:
def unique_chart(Dataset):
  uni_dict = {}
  uni_value ={}
  keys = Dataset.columns
  for i in keys:
    uni_dict[i] = Dataset[i].nunique()
    if Dataset[i].nunique() <= 10:
      uni_value[i] = Dataset[i].unique()
    else:
      uni_value[i] = None
  Unique = pd.DataFrame([uni_dict, uni_value]) 
  return (Unique)

In [17]:
Unique = unique_chart(Mem_Details)
print(Unique.to_markdown())

|    |   team_id | role   |   Department | Discipline                                                 | Year                  | Gender                | eyrc_year                                                              |   eyrc_theme |   eyrc_cert | elsiLab       |   cgpa |   onlineCourse |   paidCert |   completeCourse |   courseName1 |   courseYear1 |   courseRs1 |   courseName2 |   courseYear2 |   courseRs2 |   courseName3 |   courseYear3 |   courseRs3 |   courseName4 |   courseYear4 |   courseRs4 |   courseName5 |   courseYear5 |   courseRs5 |   bankAcc |   paymentOpt |   categoryDomain |   otherComp |   isFee |   internetOpt | ssc_board                             | hsc_board                             | workstation   | memory                                                                 | storage                                                             |   processor |   graphics | graphics_memory                                                        | internetspeed                                                |   geekbench |   geekbench1 | os                                                                          | sub_ros                   | sub_ip                    | sub_emb_c                 | sub_ml                    | sub_ap                    | sub_cs                    | sub_mss                   | sub_fpga                  | sub_mm                    | sub_de                    |   preference | preference1                                                            | preference2                                           | preference3                                                             | preference4                                                             | preference5                                                               | preference6                                                      |   college_id |   college_name | IS_eLSI   | country                        |   freq |
|---:|----------:|:-------|-------------:|:-----------------------------------------------------------|:----------------------|:----------------------|:-----------------------------------------------------------------------|-------------:|------------:|:--------------|-------:|---------------:|-----------:|-----------------:|--------------:|--------------:|------------:|--------------:|--------------:|------------:|--------------:|--------------:|------------:|--------------:|--------------:|------------:|--------------:|--------------:|------------:|----------:|-------------:|-----------------:|------------:|--------:|--------------:|:--------------------------------------|:--------------------------------------|:--------------|:-----------------------------------------------------------------------|:--------------------------------------------------------------------|------------:|-----------:|:-----------------------------------------------------------------------|:-------------------------------------------------------------|------------:|-------------:|:----------------------------------------------------------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|-------------:|:-----------------------------------------------------------------------|:------------------------------------------------------|:------------------------------------------------------------------------|:------------------------------------------------------------------------|:--------------------------------------------------------------------------|:-----------------------------------------------------------------|-------------:|---------------:|:----------|:-------------------------------|-------:|
|  0 |      1293 | 2      |           43 | 6                                                          | 4                     | 2                     | 9                                                                      |           30 |          31 | 2             |    905 |             40 |         32 |               35 |          1581 |           504 |         294 |          1137 |           387 |         206 |           803 |           288 |         172 |           525 |           211 |         125 |           337 |           160 |          97 |         0 |            0 |                0 |           0 |       0 |            79 | 5                                     | 5                                     | 2             | 7                                                                      | 5                                                                   |         665 |        711 | 7                                                                      | 6                                                            |        3979 |         3978 | 7                                                                           | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         |          472 | 6                                                                      | 6                                                     | 6                                                                       | 6                                                                       | 6                                                                         | 6                                                                |          303 |            302 | 2         | 3                              |      1 |
|  1 |       nan | [1 2]  |          nan | ['BE/BTech/B.Dec' 'ME/MTech' 'Dual Degree B.Tech & M.Tech' | [ 3.  2.  4.  1. nan] | ['Male' 'Female' nan] | ['["eyrc20"]' '["none"]' '["eyrc19","eyrc20"]' '["eyrc19"]'            |          nan |         nan | [ 1.  2. nan] |    nan |            nan |        nan |              nan |           nan |           nan |         nan |           nan |           nan |         nan |           nan |           nan |         nan |           nan |           nan |         nan |           nan |           nan |         nan |       nan |          nan |              nan |         nan |     nan |           nan | ['SB' 'CBSE' 'CISCE' nan 'OT' 'NIOS'] | ['CBSE' 'SB' 'CISCE' 'NIOS' nan 'OT'] | [ 1.  2. nan] | ['4 GB' '8 GB' '6 GB' nan '16 GB & more' '12 GB' 'Up to 2 GB' 'Other'] | ['1.6 - 2 GHz' '2.1 - 2.5 GHz' '2.5 GHz & more' nan 'Up to 1.5 GHz' |         nan |        nan | ['Other' 'Up to 2 GB' '4 GB' nan '6 GB' '8 GB' '16 GB & more' '12 GB'] | ['Upto 1 Mbps' 'Upto 10 Mbps' 'Upto 50 Mbps' 'Upto 150 Mbps' |         nan |          nan | ['Linux' 'Windows 10' nan 'Windows 8.1' 'Other' 'Mac OS' 'Windows 7' 'DOS'] | [ 1.  0.  4.  3.  2. nan] | [ 0.  2.  3.  1.  4. nan] | [ 1.  0.  3.  2.  4. nan] | [ 0.  1.  3.  4.  2. nan] | [ 0.  2.  1.  3.  4. nan] | [ 2.  1.  0.  3.  4. nan] | [ 0.  1.  3.  2.  4. nan] | [ 1.  0.  2.  4.  3. nan] | [ 0.  2.  1.  3. nan  4.] | [ 2.  1.  0.  3.  4. nan] |          nan | ['Strawberry Stacker (SS)' 'Agribot (AB)' 'Functional Weeder (FW)'     | ['Agribot (AB)' 'Berryminator (BM)' 'Dairy Bike (DB)' | ['Soil Monitoring Bot (SM)' 'Agribot (AB)' 'Dairy Bike (DB)'            | ['Berryminator (BM)' 'Soil Monitoring Bot (SM)' 'Dairy Bike (DB)'       | ['Dairy Bike (DB)' 'Functional Weeder (FW)' 'Berryminator (BM)'           | ['Functional Weeder (FW)' 'Soil Monitoring Bot (SM)'             |          nan |            nan | [1 0]     | ['India' 'Bhutan' 'Sri Lanka'] |      4 |
|    |           |        |              |  'BSc/BCA/B.Voc/B.Com' 'Diploma' 'MSc/MCA' nan]            |                       |                       |  '["eyrc20","eyrc19"]' '["eyrc18"]' nan '["eyrc20","eyrc19","eyrc18"]' |              |             |               |        |                |            |                  |               |               |             |               |               |             |               |               |             |               |               |             |               |               |             |           |              |                  |             |         |               |                                       |                                       |               |                                                                        |  'Other']                                                           |             |            |                                                                        |  'Upto 200 Mbps & more' 'Upto 100 Mbps' nan]                 |             |              |                                                                             |                           |                           |                           |                           |                           |                           |                           |                           |                           |                           |              |  'Berryminator (BM)' 'Soil Monitoring Bot (SM)' 'Dairy Bike (DB)' nan] |  'Strawberry Stacker (SS)' 'Functional Weeder (FW)'   |  'Berryminator (BM)' 'Strawberry Stacker (SS)' 'Functional Weeder (FW)' |  'Agribot (AB)' 'Strawberry Stacker (SS)' 'Functional Weeder (FW)' nan] |  'Soil Monitoring Bot (SM)' 'Agribot (AB)' 'Strawberry Stacker (SS)' nan] |  'Strawberry Stacker (SS)' 'Dairy Bike (DB)' 'Berryminator (BM)' |              |                |           |                                |        |
|    |           |        |              |                                                            |                       |                       |  '["eyrc19","eyrc18"]' '["eyrc17"]']                                   |              |             |               |        |                |            |                  |               |               |             |               |               |             |               |               |             |               |               |             |               |               |             |           |              |                  |             |         |               |                                       |                                       |               |                                                                        |                                                                     |             |            |                                                                        |                                                              |             |              |                                                                             |                           |                           |                           |                           |                           |                           |                           |                           |                           |                           |              |                                                                        |  'Soil Monitoring Bot (SM)' nan]                      |  nan]                                                                   |                                                                         |                                                                           |  'Agribot (AB)' nan]                                             |              |                |           |                                |        |

In [18]:
Unique.columns

Index(['team_id', 'role', 'Department', 'Discipline', 'Year', 'Gender',
       'eyrc_year', 'eyrc_theme', 'eyrc_cert', 'elsiLab', 'cgpa',
       'onlineCourse', 'paidCert', 'completeCourse', 'courseName1',
       'courseYear1', 'courseRs1', 'courseName2', 'courseYear2', 'courseRs2',
       'courseName3', 'courseYear3', 'courseRs3', 'courseName4', 'courseYear4',
       'courseRs4', 'courseName5', 'courseYear5', 'courseRs5', 'bankAcc',
       'paymentOpt', 'categoryDomain', 'otherComp', 'isFee', 'internetOpt',
       'ssc_board', 'hsc_board', 'workstation', 'memory', 'storage',
       'processor', 'graphics', 'graphics_memory', 'internetspeed',
       'geekbench', 'geekbench1', 'os', 'sub_ros', 'sub_ip', 'sub_emb_c',
       'sub_ml', 'sub_ap', 'sub_cs', 'sub_mss', 'sub_fpga', 'sub_mm', 'sub_de',
       'preference', 'preference1', 'preference2', 'preference3',
       'preference4', 'preference5', 'preference6', 'college_id',
       'college_name', 'IS_eLSI', 'country', 'freq'],
      dtype='object')

Observation: From the above operations, we can see that some of the columns have high number of null and unique values that will not contribute towards further analysis. So, we can drop them.

In [19]:
Updated_dataset = Mem_Details.drop(['eyrc_theme', 'eyrc_cert', 'paidCert', 'courseName1', 'courseYear1', 'courseRs1', 'courseName2', 'courseYear2', 'courseRs2', 'courseName3', 'courseYear3', 'courseRs3', 'courseName4', 'courseYear4', 'courseRs4', 'courseName5', 'courseYear5', 'courseRs5', 'bankAcc', 'paymentOpt', 'categoryDomain', 'otherComp', 'isFee', 'memory', 'storage', 'processor','os', 'geekbench', 'geekbench1', 'graphics','preference', 'college_id'], axis=1)

In [20]:
Updated_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5172 entries, 0 to 5688
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   team_id          5172 non-null   int64
 1   role             5172 non-null   int64
 2   Department       5161 non-null   object
 3   Discipline       5161 non-null   object
 4   Year             5161 non-null   float64
 5   Gender           5161 non-null   object
 6   eyrc_year        5159 non-null   object
 7   elsiLab          5153 non-null   float64
 8   cgpa             4907 non-null   float64
 9   onlineCourse     5154 non-null   float64
 10  completeCourse   5154 non-null   float64
 11  internetOpt      5154 non-null   object
 12  ssc_board        4950 non-null   object
 13  hsc_board        4947 non-null   object
 14  workstation      5154 non-null   float64
 15  graphics_memory  2605 non-null   object
 16  internetspeed    4067 non-null   object
 17  sub_ros          5161 non-null   float64
 18  sub_ip           5161 non-null   float64
 19  sub_emb_c        5161 non-null   float64
 20  sub_ml           5161 non-null   float64
 21  sub_ap           5161 non-null   float64
 22  sub_cs           5161 non-null   float64
 23  sub_mss          5161 non-null   float64
 24  sub_fpga         5161 non-null   float64
 25  sub_mm           5161 non-null   float64
 26  sub_de           5161 non-null   float64
 27  preference1      5120 non-null   object
 28  preference2      5120 non-null   object
 29  preference3      5120 non-null   object
 30  preference4      5120 non-null   object
 31  preference5      5120 non-null   object
 32  preference6      5120 non-null   object
 33  college_name     5172 non-null   object
 34  IS_eLSI          5172 non-null   int64
 35  country          5172 non-null   object
 36  freq             5172 non-null   int64
dtypes: float64(16), int64(4), object(17)
memory usage: 1.5+ MB

In [21]:
Unique1 = unique_chart(Updated_dataset)
print(Unique1.to_markdown())

|    |   team_id | role   |   Department | Discipline                                                 | Year                  | Gender                | eyrc_year                                                              | elsiLab       |   cgpa |   onlineCourse |   completeCourse |   internetOpt | ssc_board                             | hsc_board                             | workstation   | graphics_memory                                                        | internetspeed                                                | sub_ros                   | sub_ip                    | sub_emb_c                 | sub_ml                    | sub_ap                    | sub_cs                    | sub_mss                   | sub_fpga                  | sub_mm                    | sub_de                    | preference1                                                            | preference2                                           | preference3                                                             | preference4                                                             | preference5                                                               | preference6                                                      |   college_name | IS_eLSI   | country                        |   freq |
|---:|----------:|:-------|-------------:|:-----------------------------------------------------------|:----------------------|:----------------------|:-----------------------------------------------------------------------|:--------------|-------:|---------------:|-----------------:|--------------:|:--------------------------------------|:--------------------------------------|:--------------|:-----------------------------------------------------------------------|:-------------------------------------------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:-----------------------------------------------------------------------|:------------------------------------------------------|:------------------------------------------------------------------------|:------------------------------------------------------------------------|:--------------------------------------------------------------------------|:-----------------------------------------------------------------|---------------:|:----------|:-------------------------------|-------:|
|  0 |      1293 | 2      |           43 | 6                                                          | 4                     | 2                     | 9                                                                      | 2             |    905 |             40 |               35 |            79 | 5                                     | 5                                     | 2             | 7                                                                      | 6                                                            | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 6                                                                      | 6                                                     | 6                                                                       | 6                                                                       | 6                                                                         | 6                                                                |            302 | 2         | 3                              |      1 |
|  1 |       nan | [1 2]  |          nan | ['BE/BTech/B.Dec' 'ME/MTech' 'Dual Degree B.Tech & M.Tech' | [ 3.  2.  4.  1. nan] | ['Male' 'Female' nan] | ['["eyrc20"]' '["none"]' '["eyrc19","eyrc20"]' '["eyrc19"]'            | [ 1.  2. nan] |    nan |            nan |              nan |           nan | ['SB' 'CBSE' 'CISCE' nan 'OT' 'NIOS'] | ['CBSE' 'SB' 'CISCE' 'NIOS' nan 'OT'] | [ 1.  2. nan] | ['Other' 'Up to 2 GB' '4 GB' nan '6 GB' '8 GB' '16 GB & more' '12 GB'] | ['Upto 1 Mbps' 'Upto 10 Mbps' 'Upto 50 Mbps' 'Upto 150 Mbps' | [ 1.  0.  4.  3.  2. nan] | [ 0.  2.  3.  1.  4. nan] | [ 1.  0.  3.  2.  4. nan] | [ 0.  1.  3.  4.  2. nan] | [ 0.  2.  1.  3.  4. nan] | [ 2.  1.  0.  3.  4. nan] | [ 0.  1.  3.  2.  4. nan] | [ 1.  0.  2.  4.  3. nan] | [ 0.  2.  1.  3. nan  4.] | [ 2.  1.  0.  3.  4. nan] | ['Strawberry Stacker (SS)' 'Agribot (AB)' 'Functional Weeder (FW)'     | ['Agribot (AB)' 'Berryminator (BM)' 'Dairy Bike (DB)' | ['Soil Monitoring Bot (SM)' 'Agribot (AB)' 'Dairy Bike (DB)'            | ['Berryminator (BM)' 'Soil Monitoring Bot (SM)' 'Dairy Bike (DB)'       | ['Dairy Bike (DB)' 'Functional Weeder (FW)' 'Berryminator (BM)'           | ['Functional Weeder (FW)' 'Soil Monitoring Bot (SM)'             |            nan | [1 0]     | ['India' 'Bhutan' 'Sri Lanka'] |      4 |
|    |           |        |              |  'BSc/BCA/B.Voc/B.Com' 'Diploma' 'MSc/MCA' nan]            |                       |                       |  '["eyrc20","eyrc19"]' '["eyrc18"]' nan '["eyrc20","eyrc19","eyrc18"]' |               |        |                |                  |               |                                       |                                       |               |                                                                        |  'Upto 200 Mbps & more' 'Upto 100 Mbps' nan]                 |                           |                           |                           |                           |                           |                           |                           |                           |                           |                           |  'Berryminator (BM)' 'Soil Monitoring Bot (SM)' 'Dairy Bike (DB)' nan] |  'Strawberry Stacker (SS)' 'Functional Weeder (FW)'   |  'Berryminator (BM)' 'Strawberry Stacker (SS)' 'Functional Weeder (FW)' |  'Agribot (AB)' 'Strawberry Stacker (SS)' 'Functional Weeder (FW)' nan] |  'Soil Monitoring Bot (SM)' 'Agribot (AB)' 'Strawberry Stacker (SS)' nan] |  'Strawberry Stacker (SS)' 'Dairy Bike (DB)' 'Berryminator (BM)' |                |           |                                |        |
|    |           |        |              |                                                            |                       |                       |  '["eyrc19","eyrc18"]' '["eyrc17"]']                                   |               |        |                |                  |               |                                       |                                       |               |                                                                        |                                                              |                           |                           |                           |                           |                           |                           |                           |                           |                           |                           |                                                                        |  'Soil Monitoring Bot (SM)' nan]                      |  nan]                                                                   |                                                                         |                                                                           |  'Agribot (AB)' nan]                                             |                |           |                                |        |

In [22]:
Unique1.columns

Index(['team_id', 'role', 'Department', 'Discipline', 'Year', 'Gender',
       'eyrc_year', 'elsiLab', 'cgpa', 'onlineCourse', 'completeCourse',
       'internetOpt', 'ssc_board', 'hsc_board', 'workstation',
       'graphics_memory', 'internetspeed', 'sub_ros', 'sub_ip', 'sub_emb_c',
       'sub_ml', 'sub_ap', 'sub_cs', 'sub_mss', 'sub_fpga', 'sub_mm', 'sub_de',
       'preference1', 'preference2', 'preference3', 'preference4',
       'preference5', 'preference6', 'college_name', 'IS_eLSI', 'country',
       'freq'],
      dtype='object')

## **Converting Discipline Column into numerical vaalues**

In [23]:
Updated_dataset['Discipline'].replace(['BE/BTech/B.Dec', 'ME/MTech', 'Dual Degree B.Tech & M.Tech', 'BSc/BCA/B.Voc/B.Com', 'Diploma', 'MSc/MCA'], [0, 1, 2, 3, 4, 5], inplace=True)

In [24]:
Updated_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5172 entries, 0 to 5688
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   team_id          5172 non-null   int64
 1   role             5172 non-null   int64
 2   Department       5161 non-null   object
 3   Discipline       5161 non-null   float64
 4   Year             5161 non-null   float64
 5   Gender           5161 non-null   object
 6   eyrc_year        5159 non-null   object
 7   elsiLab          5153 non-null   float64
 8   cgpa             4907 non-null   float64
 9   onlineCourse     5154 non-null   float64
 10  completeCourse   5154 non-null   float64
 11  internetOpt      5154 non-null   object
 12  ssc_board        4950 non-null   object
 13  hsc_board        4947 non-null   object
 14  workstation      5154 non-null   float64
 15  graphics_memory  2605 non-null   object
 16  internetspeed    4067 non-null   object
 17  sub_ros          5161 non-null   float64
 18  sub_ip           5161 non-null   float64
 19  sub_emb_c        5161 non-null   float64
 20  sub_ml           5161 non-null   float64
 21  sub_ap           5161 non-null   float64
 22  sub_cs           5161 non-null   float64
 23  sub_mss          5161 non-null   float64
 24  sub_fpga         5161 non-null   float64
 25  sub_mm           5161 non-null   float64
 26  sub_de           5161 non-null   float64
 27  preference1      5120 non-null   object
 28  preference2      5120 non-null   object
 29  preference3      5120 non-null   object
 30  preference4      5120 non-null   object
 31  preference5      5120 non-null   object
 32  preference6      5120 non-null   object
 33  college_name     5172 non-null   object
 34  IS_eLSI          5172 non-null   int64
 35  country          5172 non-null   object
 36  freq             5172 non-null   int64
dtypes: float64(17), int64(4), object(16)
memory usage: 1.5+ MB

## **Converting Gender Column into numerical values**

In [25]:
Updated_dataset['Gender'].replace(['Male', 'Female'], [0, 1], inplace=True)

In [26]:
Updated_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5172 entries, 0 to 5688
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   team_id          5172 non-null   int64
 1   role             5172 non-null   int64
 2   Department       5161 non-null   object
 3   Discipline       5161 non-null   float64
 4   Year             5161 non-null   float64
 5   Gender           5161 non-null   float64
 6   eyrc_year        5159 non-null   object
 7   elsiLab          5153 non-null   float64
 8   cgpa             4907 non-null   float64
 9   onlineCourse     5154 non-null   float64
 10  completeCourse   5154 non-null   float64
 11  internetOpt      5154 non-null   object
 12  ssc_board        4950 non-null   object
 13  hsc_board        4947 non-null   object
 14  workstation      5154 non-null   float64
 15  graphics_memory  2605 non-null   object
 16  internetspeed    4067 non-null   object
 17  sub_ros          5161 non-null   float64
 18  sub_ip           5161 non-null   float64
 19  sub_emb_c        5161 non-null   float64
 20  sub_ml           5161 non-null   float64
 21  sub_ap           5161 non-null   float64
 22  sub_cs           5161 non-null   float64
 23  sub_mss          5161 non-null   float64
 24  sub_fpga         5161 non-null   float64
 25  sub_mm           5161 non-null   float64
 26  sub_de           5161 non-null   float64
 27  preference1      5120 non-null   object
 28  preference2      5120 non-null   object
 29  preference3      5120 non-null   object
 30  preference4      5120 non-null   object
 31  preference5      5120 non-null   object
 32  preference6      5120 non-null   object
 33  college_name     5172 non-null   object
 34  IS_eLSI          5172 non-null   int64
 35  country          5172 non-null   object
 36  freq             5172 non-null   int64
dtypes: float64(18), int64(4), object(15)
memory usage: 1.5+ MB

## **Creating a participation frequency column from eyrc_year**

In [28]:
Updated_dataset['eyrc_year'] = Updated_dataset['eyrc_year'].replace(np.nan, 0)
Updated_dataset['eyrc_year'] = Updated_dataset['eyrc_year'].replace('["none"]', 0)

In [30]:
def freqofyear(row) :
    year_data = row['eyrc_year']
#     print(year_data)
    if year_data != 0:
        years = str(year_data).split(',')
        # print(years)
        year_freq = len(years)
        # print(year_freq, row['team_id'])
    else:
        year_freq = 0
        # print(year_freq)
    row['Participation_Freq'] = year_freq
    return row

In [31]:
Updated_dataset= Updated_dataset.apply(freqofyear, axis=1)

In [32]:
Unique1 = unique_chart(Updated_dataset)
print(Unique1.to_markdown())

|    |   team_id | role   |   Department | Discipline                    | Year                  | Gender        | eyrc_year                                                                | elsiLab       |   cgpa |   onlineCourse |   completeCourse |   internetOpt | ssc_board                             | hsc_board                             | workstation   | graphics_memory                                                        | internetspeed                                                | sub_ros                   | sub_ip                    | sub_emb_c                 | sub_ml                    | sub_ap                    | sub_cs                    | sub_mss                   | sub_fpga                  | sub_mm                    | sub_de                    | preference1                                                            | preference2                                           | preference3                                                             | preference4                                                             | preference5                                                               | preference6                                                      |   college_name | IS_eLSI   | country                        |   freq | Participation_Freq   |
|---:|----------:|:-------|-------------:|:------------------------------|:----------------------|:--------------|:-------------------------------------------------------------------------|:--------------|-------:|---------------:|-----------------:|--------------:|:--------------------------------------|:--------------------------------------|:--------------|:-----------------------------------------------------------------------|:-------------------------------------------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:-----------------------------------------------------------------------|:------------------------------------------------------|:------------------------------------------------------------------------|:------------------------------------------------------------------------|:--------------------------------------------------------------------------|:-----------------------------------------------------------------|---------------:|:----------|:-------------------------------|-------:|:---------------------|
|  0 |      1293 | 2      |           43 | 6                             | 4                     | 2             | 9                                                                        | 2             |    905 |             40 |               35 |            79 | 5                                     | 5                                     | 2             | 7                                                                      | 6                                                            | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 6                                                                      | 6                                                     | 6                                                                       | 6                                                                       | 6                                                                         | 6                                                                |            302 | 2         | 3                              |      1 | 4                    |
|  1 |       nan | [1 2]  |          nan | [ 0.  1.  2.  3.  4.  5. nan] | [ 3.  2.  4.  1. nan] | [ 0.  1. nan] | ['["eyrc20"]' 0 '["eyrc19","eyrc20"]' '["eyrc19"]' '["eyrc20","eyrc19"]' | [ 1.  2. nan] |    nan |            nan |              nan |           nan | ['SB' 'CBSE' 'CISCE' nan 'OT' 'NIOS'] | ['CBSE' 'SB' 'CISCE' 'NIOS' nan 'OT'] | [ 1.  2. nan] | ['Other' 'Up to 2 GB' '4 GB' nan '6 GB' '8 GB' '16 GB & more' '12 GB'] | ['Upto 1 Mbps' 'Upto 10 Mbps' 'Upto 50 Mbps' 'Upto 150 Mbps' | [ 1.  0.  4.  3.  2. nan] | [ 0.  2.  3.  1.  4. nan] | [ 1.  0.  3.  2.  4. nan] | [ 0.  1.  3.  4.  2. nan] | [ 0.  2.  1.  3.  4. nan] | [ 2.  1.  0.  3.  4. nan] | [ 0.  1.  3.  2.  4. nan] | [ 1.  0.  2.  4.  3. nan] | [ 0.  2.  1.  3. nan  4.] | [ 2.  1.  0.  3.  4. nan] | ['Strawberry Stacker (SS)' 'Agribot (AB)' 'Functional Weeder (FW)'     | ['Agribot (AB)' 'Berryminator (BM)' 'Dairy Bike (DB)' | ['Soil Monitoring Bot (SM)' 'Agribot (AB)' 'Dairy Bike (DB)'            | ['Berryminator (BM)' 'Soil Monitoring Bot (SM)' 'Dairy Bike (DB)'       | ['Dairy Bike (DB)' 'Functional Weeder (FW)' 'Berryminator (BM)'           | ['Functional Weeder (FW)' 'Soil Monitoring Bot (SM)'             |            nan | [1 0]     | ['India' 'Bhutan' 'Sri Lanka'] |      4 | [1 0 2 3]            |
|    |           |        |              |                               |                       |               |  '["eyrc18"]' '["eyrc20","eyrc19","eyrc18"]' '["eyrc19","eyrc18"]'       |               |        |                |                  |               |                                       |                                       |               |                                                                        |  'Upto 200 Mbps & more' 'Upto 100 Mbps' nan]                 |                           |                           |                           |                           |                           |                           |                           |                           |                           |                           |  'Berryminator (BM)' 'Soil Monitoring Bot (SM)' 'Dairy Bike (DB)' nan] |  'Strawberry Stacker (SS)' 'Functional Weeder (FW)'   |  'Berryminator (BM)' 'Strawberry Stacker (SS)' 'Functional Weeder (FW)' |  'Agribot (AB)' 'Strawberry Stacker (SS)' 'Functional Weeder (FW)' nan] |  'Soil Monitoring Bot (SM)' 'Agribot (AB)' 'Strawberry Stacker (SS)' nan] |  'Strawberry Stacker (SS)' 'Dairy Bike (DB)' 'Berryminator (BM)' |                |           |                                |        |                      |
|    |           |        |              |                               |                       |               |  '["eyrc17"]']                                                           |               |        |                |                  |               |                                       |                                       |               |                                                                        |                                                              |                           |                           |                           |                           |                           |                           |                           |                           |                           |                           |                                                                        |  'Soil Monitoring Bot (SM)' nan]                      |  nan]                                                                   |                                                                         |                                                                           |  'Agribot (AB)' nan]                                             |                |           |                                |        |                      |

In [33]:
Updated_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5172 entries, 0 to 5688
Data columns (total 38 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   team_id             5172 non-null   int64
 1   role                5172 non-null   int64
 2   Department          5161 non-null   object
 3   Discipline          5161 non-null   float64
 4   Year                5161 non-null   float64
 5   Gender              5161 non-null   float64
 6   eyrc_year           5172 non-null   object
 7   elsiLab             5153 non-null   float64
 8   cgpa                4907 non-null   float64
 9   onlineCourse        5154 non-null   float64
 10  completeCourse      5154 non-null   float64
 11  internetOpt         5154 non-null   object
 12  ssc_board           4950 non-null   object
 13  hsc_board           4947 non-null   object
 14  workstation         5154 non-null   float64
 15  graphics_memory     2605 non-null   object
 16  internetspeed       4067 non-null   object
 17  sub_ros             5161 non-null   float64
 18  sub_ip              5161 non-null   float64
 19  sub_emb_c           5161 non-null   float64
 20  sub_ml              5161 non-null   float64
 21  sub_ap              5161 non-null   float64
 22  sub_cs              5161 non-null   float64
 23  sub_mss             5161 non-null   float64
 24  sub_fpga            5161 non-null   float64
 25  sub_mm              5161 non-null   float64
 26  sub_de              5161 non-null   float64
 27  preference1         5120 non-null   object
 28  preference2         5120 non-null   object
 29  preference3         5120 non-null   object
 30  preference4         5120 non-null   object
 31  preference5         5120 non-null   object
 32  preference6         5120 non-null   object
 33  college_name        5172 non-null   object
 34  IS_eLSI             5172 non-null   int64
 35  country             5172 non-null   object
 36  freq                5172 non-null   int64
 37  Participation_Freq  5172 non-null   int64
dtypes: float64(18), int64(5), object(15)
memory usage: 1.5+ MB

## **Creating a Internet option count column from InternetOpt**

In [34]:
Updated_dataset['internetOpt'] = Updated_dataset['internetOpt'].replace(np.nan, 0)

In [35]:
def internetoptcount(row) :
    opt_count = row['internetOpt']
    # print(year_data)
    if opt_count != 0:
        opt = str(opt_count).split(',')
        opt_freq = len(opt)
        # print(year_freq)
    else:
        opt_freq = 0
        # print(year_freq)
    row['Internet_option_freq'] = opt_freq
    return row

In [36]:
Updated_dataset= Updated_dataset.apply(internetoptcount, axis=1)

In [37]:
Updated_dataset['Internet_option_freq'].unique()

array([3, 2, 1, 4, 5, 0])

In [38]:
Updated_dataset = Updated_dataset.drop(['internetOpt', 'eyrc_year'], axis=1)

## **Converting preference column into numerical values**

In [39]:
Updated_dataset['preference1'].replace(['Strawberry Stacker (SS)', 'Agribot (AB)', 'Functional Weeder (FW)',  'Berryminator (BM)', 'Soil Monitoring Bot (SM)', 'Dairy Bike (DB)'], [0, 1, 2, 3, 4, 5], inplace=True)
Updated_dataset['preference2'].replace(['Strawberry Stacker (SS)', 'Agribot (AB)', 'Functional Weeder (FW)',  'Berryminator (BM)', 'Soil Monitoring Bot (SM)', 'Dairy Bike (DB)'], [0, 1, 2, 3, 4, 5], inplace=True)
Updated_dataset['preference3'].replace(['Strawberry Stacker (SS)', 'Agribot (AB)', 'Functional Weeder (FW)',  'Berryminator (BM)', 'Soil Monitoring Bot (SM)', 'Dairy Bike (DB)'], [0, 1, 2, 3, 4, 5], inplace=True)
Updated_dataset['preference4'].replace(['Strawberry Stacker (SS)', 'Agribot (AB)', 'Functional Weeder (FW)',  'Berryminator (BM)', 'Soil Monitoring Bot (SM)', 'Dairy Bike (DB)'], [0, 1, 2, 3, 4, 5], inplace=True)
Updated_dataset['preference5'].replace(['Strawberry Stacker (SS)', 'Agribot (AB)', 'Functional Weeder (FW)',  'Berryminator (BM)', 'Soil Monitoring Bot (SM)', 'Dairy Bike (DB)'], [0, 1, 2, 3, 4, 5], inplace=True)
Updated_dataset['preference6'].replace(['Strawberry Stacker (SS)', 'Agribot (AB)', 'Functional Weeder (FW)',  'Berryminator (BM)', 'Soil Monitoring Bot (SM)', 'Dairy Bike (DB)'], [0, 1, 2, 3, 4, 5], inplace=True)

## **Dropping College Name and freq Columns**

In [40]:
Updated_dataset = Updated_dataset.drop(['college_name'], axis=1)

In [42]:
Updated_dataset = Updated_dataset.drop(['freq'], axis=1)

In [43]:
Updated_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5172 entries, 0 to 5688
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   team_id               5172 non-null   int64
 1   role                  5172 non-null   int64
 2   Department            5161 non-null   object
 3   Discipline            5161 non-null   float64
 4   Year                  5161 non-null   float64
 5   Gender                5161 non-null   float64
 6   elsiLab               5153 non-null   float64
 7   cgpa                  4907 non-null   float64
 8   onlineCourse          5154 non-null   float64
 9   completeCourse        5154 non-null   float64
 10  ssc_board             4950 non-null   object
 11  hsc_board             4947 non-null   object
 12  workstation           5154 non-null   float64
 13  graphics_memory       2605 non-null   object
 14  internetspeed         4067 non-null   object
 15  sub_ros               5161 non-null   float64
 16  sub_ip                5161 non-null   float64
 17  sub_emb_c             5161 non-null   float64
 18  sub_ml                5161 non-null   float64
 19  sub_ap                5161 non-null   float64
 20  sub_cs                5161 non-null   float64
 21  sub_mss               5161 non-null   float64
 22  sub_fpga              5161 non-null   float64
 23  sub_mm                5161 non-null   float64
 24  sub_de                5161 non-null   float64
 25  preference1           5120 non-null   float64
 26  preference2           5120 non-null   float64
 27  preference3           5120 non-null   float64
 28  preference4           5120 non-null   float64
 29  preference5           5120 non-null   float64
 30  preference6           5120 non-null   float64
 31  IS_eLSI               5172 non-null   int64
 32  country               5172 non-null   object
 33  Participation_Freq    5172 non-null   int64
 34  Internet_option_freq  5172 non-null   int64
dtypes: float64(24), int64(5), object(6)
memory usage: 1.4+ MB

### **Converting Department columns into three categories: Computers, Electronics and Others**

In [44]:
Dep_Details.head()

   S.no                                 Department     Category
0     1                    Electronics Engineering  Electronics
1     2                           Computer Science    Computers
2     3                       Computer Engineering    Computers
3     4                     Information Technology    Computers
4     5  Electronics and Communication Engineering  Electronics

In [45]:
Dep_Details.drop(['S.no'],axis=1, inplace=True)

In [46]:
Dep_Details['Category'].replace(['Electronics', 'Computers','Computer', 'Others', 'Other', 'other'], ['Electronics', 'Computers', 'Computers', 'Others', 'Others', 'Others'], inplace=True)

In [47]:
Updated_dataset = Updated_dataset.merge(Dep_Details, how="left")

In [49]:
Updated_dataset['Category'].unique()

array(['Electronics', 'Computers', 'Others', nan], dtype=object)

In [50]:
Updated_dataset['Category'].replace(['Electronics', 'Computers', 'Others'], [0,1,2], inplace=True)

In [51]:
Updated_dataset.drop(['Department'], axis=1, inplace=True)
Updated_dataset.rename(columns = {'Category':'Department_category'}, inplace = True)

In [52]:
Updated_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5172 entries, 0 to 5171
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   team_id               5172 non-null   int64
 1   role                  5172 non-null   int64
 2   Discipline            5161 non-null   float64
 3   Year                  5161 non-null   float64
 4   Gender                5161 non-null   float64
 5   elsiLab               5153 non-null   float64
 6   cgpa                  4907 non-null   float64
 7   onlineCourse          5154 non-null   float64
 8   completeCourse        5154 non-null   float64
 9   ssc_board             4950 non-null   object
 10  hsc_board             4947 non-null   object
 11  workstation           5154 non-null   float64
 12  graphics_memory       2605 non-null   object
 13  internetspeed         4067 non-null   object
 14  sub_ros               5161 non-null   float64
 15  sub_ip                5161 non-null   float64
 16  sub_emb_c             5161 non-null   float64
 17  sub_ml                5161 non-null   float64
 18  sub_ap                5161 non-null   float64
 19  sub_cs                5161 non-null   float64
 20  sub_mss               5161 non-null   float64
 21  sub_fpga              5161 non-null   float64
 22  sub_mm                5161 non-null   float64
 23  sub_de                5161 non-null   float64
 24  preference1           5120 non-null   float64
 25  preference2           5120 non-null   float64
 26  preference3           5120 non-null   float64
 27  preference4           5120 non-null   float64
 28  preference5           5120 non-null   float64
 29  preference6           5120 non-null   float64
 30  IS_eLSI               5172 non-null   int64
 31  country               5172 non-null   object
 32  Participation_Freq    5172 non-null   int64
 33  Internet_option_freq  5172 non-null   int64
 34  Department_category   5111 non-null   float64
dtypes: float64(25), int64(5), object(5)
memory usage: 1.4+ MB

## **Dropping Graphics Memory Column**

In [53]:
Updated_dataset.drop('graphics_memory',axis=1, inplace=True)

In [54]:
Updated_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5172 entries, 0 to 5171
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   team_id               5172 non-null   int64
 1   role                  5172 non-null   int64
 2   Discipline            5161 non-null   float64
 3   Year                  5161 non-null   float64
 4   Gender                5161 non-null   float64
 5   elsiLab               5153 non-null   float64
 6   cgpa                  4907 non-null   float64
 7   onlineCourse          5154 non-null   float64
 8   completeCourse        5154 non-null   float64
 9   ssc_board             4950 non-null   object
 10  hsc_board             4947 non-null   object
 11  workstation           5154 non-null   float64
 12  internetspeed         4067 non-null   object
 13  sub_ros               5161 non-null   float64
 14  sub_ip                5161 non-null   float64
 15  sub_emb_c             5161 non-null   float64
 16  sub_ml                5161 non-null   float64
 17  sub_ap                5161 non-null   float64
 18  sub_cs                5161 non-null   float64
 19  sub_mss               5161 non-null   float64
 20  sub_fpga              5161 non-null   float64
 21  sub_mm                5161 non-null   float64
 22  sub_de                5161 non-null   float64
 23  preference1           5120 non-null   float64
 24  preference2           5120 non-null   float64
 25  preference3           5120 non-null   float64
 26  preference4           5120 non-null   float64
 27  preference5           5120 non-null   float64
 28  preference6           5120 non-null   float64
 29  IS_eLSI               5172 non-null   int64
 30  country               5172 non-null   object
 31  Participation_Freq    5172 non-null   int64
 32  Internet_option_freq  5172 non-null   int64
 33  Department_category   5111 non-null   float64
dtypes: float64(25), int64(5), object(4)
memory usage: 1.4+ MB

In [55]:
Updated_dataset.describe()

,team_id,role,Discipline,Year,Gender,elsiLab,cgpa,onlineCourse,completeCourse,workstation,...,preference1,preference2,preference3,preference4,preference5,preference6,IS_eLSI,Participation_Freq,Internet_option_freq,Department_category
count,5172.000000,5172.000000,5161.000000,5161.000000,5161.000000,5153.000000,4907.000000,5154.000000,5154.000000,5154.000000,...,5120.000000,5120.000000,5120.000000,5120.000000,5120.000000,5120.000000,5172.000000,5172.000000,5172.000000,5111.000000
mean,1948.748647,1.750000,0.158303,2.504553,0.261383,1.503202,20.847700,2.900466,1.963912,1.210904,...,2.271875,2.328125,2.507031,2.582813,2.789062,2.521094,0.526682,0.119296,1.457463,0.730972
std,560.346617,0.433055,0.690981,0.769595,0.439431,0.500038,124.590659,4.812291,3.610615,0.407990,...,1.602739,1.710473,1.767926,1.674702,1.602169,1.827367,0.499336,0.358717,0.784894,0.829388
min,1001.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.530000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1466.000000,1.750000,0.000000,2.000000,0.000000,1.000000,8.170000,0.000000,0.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,1897.000000,2.000000,0.000000,2.000000,0.000000,2.000000,8.830000,2.000000,1.000000,1.000000,...,3.000000,2.000000,3.000000,2.000000,3.000000,2.000000,1.000000,0.000000,1.000000,0.000000
75%,2457.000000,2.000000,0.000000,3.000000,1.000000,2.000000,9.480000,4.000000,3.000000,1.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000,0.000000,2.000000,1.000000
max,2971.000000,2.000000,5.000000,4.000000,1.000000,2.000000,8395.000000,100.000000,100.000000,2.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000,3.000000,5.000000,2.000000

In [56]:
Updated_dataset.to_csv('Dataset(24-06-22).csv', index=True)

This dataset has the least number of null values in its columns, all the redundant and irrelevant columns are dropped. Also, this dataset only contains the user details and no computer specification as of now.