## **Import Dataset**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## **Import Libraries**

In [2]:
import pandas as pd
import numpy as np

In [3]:
pc_details = pd.read_csv(r'/content/drive/MyDrive/dataset/Cleaned_pc_specs1.csv')
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1481 non-null   int64
 1   team_id             1481 non-null   int64
 2   Single core score1  1481 non-null   object
 3   Single core score2  1481 non-null   object
 4   Single core score3  1429 non-null   object
 5   Single core score4  1293 non-null   object
 6   Multi core score1   1481 non-null   object
 7   Multi core score2   1481 non-null   object
 8   Multi core score3   1429 non-null   object
 9   Multi core score4   1293 non-null   object
 10  OpenCL score1       1111 non-null   object
 11  OpenCL score2       1023 non-null   object
 12  OpenCL score3       952 non-null    object
 13  OpenCL score4       848 non-null    object
 14  OS1                 1481 non-null   object
 15  OS2                 1481 non-null   object
 16  OS3                 1429 non-null   object
 17  OS4                 1293 non-null   object
 18  Model1              1481 non-null   object
 19  Model2              1481 non-null   object
 20  Model3              1429 non-null   object
 21  Model4              1293 non-null   object
 22  CPU1                1481 non-null   object
 23  CPU2                1481 non-null   object
 24  CPU3                1429 non-null   object
 25  CPU4                1293 non-null   object
 26  Memory1             1481 non-null   object
 27  Memory2             1481 non-null   object
 28  Memory3             1429 non-null   object
 29  Memory4             1293 non-null   object
 30  Graphic Card1       1111 non-null   object
 31  Graphic Card2       1023 non-null   object
 32  Graphic Card3       952 non-null    object
 33  Graphic Card4       848 non-null    object
dtypes: int64(2), object(32)
memory usage: 393.5+ KB

In [4]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,CPU3,CPU4,Memory1,Memory2,Memory3,Memory4,Graphic Card1,Graphic Card2,Graphic Card3,Graphic Card4
0,0,1001,1142,543,836,601,2148,1132,1525,2281,...,Intel Core i5-7200U,AMD Ryzen 5 3500U,3.62,3.64,3.73,5.74,NaN,Intel(R) HD Graphics 520 (SKL GT2),Intel(R) HD Graphics 620 (KBL GT2),AMD RADV RAVEN (ACO)
1,1,1002,1060,549,416,590,3394,1834,857,1326,...,Intel Core i3-2350M,Intel Core i5-5200U,2,2,2,1,3.14,2.00,NaN,2.00
2,2,1003,363,451,488,NaN,779,1154,1116,NaN,...,Intel Core i3-3110M,NaN,1,1,2,NaN,1.37,1.56,1.37,NaN
3,3,1004,809,1182,847,770,2303,6647,2474,1643,...,Intel Core i5-8250U,Intel Core i7-6500U,1,2,1,1,2.00 3.00,6.00,3.16,2.00
4,4,1005,686,1003,624,827,3318,3848,3610,4071,...,AMD Ryzen 5 4600H,Intel Core i7-9750H,15.52,1,1,1,NaN,6.00,4.00,6.00 6.00

## **Analzing the values and count of numeric values**

In [5]:
pc_details['Memory1'].str.isnumeric().sum()

1122

In [6]:
import re

In [7]:
pc_details['Memory1'].str.isalpha().sum()

231

In [8]:
pc_details['Memory2'].str.isalpha().sum()

343

In [9]:
pc_details['Memory3'].str.isalpha().sum()

346

In [10]:
pc_details['Memory1']

0        3.62
1             2
2             1
3             1
4       15.52
         ...
1476          1
1477          2
1478        Nil
1479        Nil
1480        Nil
Name: Memory1, Length: 1481, dtype: object

In [11]:
pc_details['Memory1'].isnull().sum()

0

In [12]:
pc_details['Memory1'].str.replace('Nil','')

0        3.62
1             2
2             1
3             1
4       15.52
         ...
1476          1
1477          2
1478
1479
1480
Name: Memory1, Length: 1481, dtype: object

In [13]:
pc_details['Memory1'].isnull().sum()

0

In [14]:
a=  pc_details['Memory1'].unique()
print(a)

['3.62  ' '2' '1' '15.52  ' '8.00   LPDDR3 2133 MT/s' '7.56  ' '7.69  '
 '7.60  ' '15.30  ' 'Nil' '5.74  ' '7.77  ' '7.68  ' '7.67  ' '15.51  '
 '3.76  ' '4.00    794 MHz' '8.00  ' '8.00   DDR3 1600 MT/s' '3.86  '
 '16.00  ' '11.58  ' '16.00   DDR4 2400 MT/s' '1.95  '
 '16.00   LPDDR4X 3733 MT/s' '7.62  ' '2.84  ' '7.66  ' '4' '7.55  '
 '3.92   DDR3 SDRAM 1599 MHz' '15.57  ' '7.85  ' '3.30  ' '3.63  '
 '4.00   DDR3 SDRAM 665 MHz' '7.64  ' '15.49  ' '6.75  '
 '8.00   LPDDR4X 3733 MT/s' '15.37  ' '8.00   LPDDR3 933 MHz' '3.74  '
 '3.55  ' '3.77  ' '15.41  ' '15.14  ' '3.73  ' '3.71  ' '7.14  '
 '4.00   DDR3 SDRAM 1599 MHz' '7.86  ' '3.75  ' '7.44  ' '3.69  ' '7.63  '
 '15.39  ' '5.59  ' '4.00  ' '11.49  ' '15.55  ' '7.65  ' '7.51  '
 '4.00    798 MHz' '16.00   EDO RAM' '7.52  ']

In [15]:
print(pc_details.isna().sum().sort_values(ascending=False).to_markdown())

|                    |   0 |
|:-------------------|----:|
| Graphic Card4      | 633 |
| OpenCL score4      | 633 |
| Graphic Card3      | 529 |
| OpenCL score3      | 529 |
| OpenCL score2      | 458 |
| Graphic Card2      | 458 |
| Graphic Card1      | 370 |
| OpenCL score1      | 370 |
| Memory4            | 188 |
| CPU4               | 188 |
| Model4             | 188 |
| OS4                | 188 |
| Multi core score4  | 188 |
| Single core score4 | 188 |
| OS3                |  52 |
| Single core score3 |  52 |
| Memory3            |  52 |
| Model3             |  52 |
| Multi core score3  |  52 |
| CPU3               |  52 |
| Multi core score1  |   0 |
| Single core score1 |   0 |
| Single core score2 |   0 |
| Memory2            |   0 |
| Memory1            |   0 |
| CPU2               |   0 |
| CPU1               |   0 |
| Multi core score2  |   0 |
| Model2             |   0 |
| Model1             |   0 |
| team_id            |   0 |
| OS2                |   0 |
| OS1                |   0 |
| Unnamed: 0         |   0 |

In [16]:
pc_details.columns

Index(['Unnamed: 0', 'team_id', 'Single core score1', 'Single core score2',
       'Single core score3', 'Single core score4', 'Multi core score1',
       'Multi core score2', 'Multi core score3', 'Multi core score4',
       'OpenCL score1', 'OpenCL score2', 'OpenCL score3', 'OpenCL score4',
       'OS1', 'OS2', 'OS3', 'OS4', 'Model1', 'Model2', 'Model3', 'Model4',
       'CPU1', 'CPU2', 'CPU3', 'CPU4', 'Memory1', 'Memory2', 'Memory3',
       'Memory4', 'Graphic Card1', 'Graphic Card2', 'Graphic Card3',
       'Graphic Card4'],
      dtype='object')

In [17]:
print(pc_details.isnull().sum(axis=1).sort_values(ascending=False).to_markdown())

|      |   0 |
|-----:|----:|
| 1307 |  20 |
|  540 |  20 |
| 1354 |  20 |
|  768 |  18 |
| 1010 |  18 |
|  858 |  18 |
|  872 |  18 |
| 1412 |  18 |
| 1403 |  18 |
|  912 |  18 |
|  806 |  18 |
|  591 |  18 |
| 1452 |  18 |
|  255 |  18 |
|  949 |  18 |
|  141 |  18 |
|  678 |  18 |
|  190 |  18 |
|  319 |  18 |
| 1170 |  18 |
| 1105 |  18 |
|  168 |  16 |
|  108 |  16 |
|  670 |  16 |
| 1253 |  16 |
| 1420 |  16 |
|   73 |  16 |
| 1196 |  16 |
|  302 |  16 |
| 1394 |  16 |
|  339 |  16 |
|  111 |  16 |
|  356 |  16 |
|  166 |  16 |
| 1129 |  16 |
| 1299 |  16 |
|  967 |  16 |
| 1308 |  16 |
| 1059 |  16 |
|   48 |  16 |
|  507 |  16 |
| 1002 |  16 |
|  468 |  16 |
|  514 |  16 |
|  561 |  16 |
| 1466 |  16 |
| 1456 |  16 |
|   22 |  16 |
|   44 |  16 |
|  772 |  16 |
|  758 |  16 |
|  753 |  16 |
| 1097 |  14 |
|  950 |  14 |
|  869 |  14 |
| 1144 |  14 |
| 1293 |  14 |
| 1186 |  14 |
| 1450 |  14 |
| 1193 |  14 |
|  963 |  14 |
|  236 |  14 |
| 1216 |  14 |
| 1451 |  14 |
|  615 |  12 |
|   91 |  12 |
|  876 |  12 |
| 1416 |  12 |
|  569 |  12 |
|  174 |  12 |
|   75 |  12 |
| 1096 |  12 |
| 1123 |  12 |
|    7 |  12 |
|  836 |  12 |
|  827 |  12 |
|  578 |  10 |
| 1381 |  10 |
|  562 |  10 |
| 1364 |  10 |
| 1384 |  10 |
|  112 |  10 |
|  131 |  10 |
|  804 |  10 |
|   26 |  10 |
|  136 |  10 |
|  149 |  10 |
|  730 |  10 |
|  970 |  10 |
|  231 |  10 |
|  223 |  10 |
| 1135 |  10 |
|  389 |  10 |
| 1468 |  10 |
|  409 |  10 |
|  787 |  10 |
|  453 |  10 |
|  794 |  10 |
| 1335 |  10 |
|  597 |  10 |
|  488 |  10 |
|  154 |  10 |
| 1350 |  10 |
| 1455 |  10 |
|  928 |  10 |
| 1239 |  10 |
| 1417 |  10 |
|  909 |  10 |
|  823 |  10 |
|  601 |  10 |
|  104 |  10 |
| 1431 |  10 |
| 1423 |  10 |
|   85 |  10 |
|   71 |  10 |
|  888 |  10 |
| 1405 |  10 |
| 1430 |  10 |
|  625 |  10 |
| 1111 |   8 |
|  852 |   8 |
|  370 |   8 |
| 1125 |   8 |
| 1131 |   8 |
| 1101 |   8 |
|  364 |   8 |
| 1137 |   8 |
|  783 |   8 |
|  667 |   8 |
|  927 |   8 |
|  815 |   8 |
|  395 |   8 |
| 1074 |   8 |
| 1075 |   8 |
|  861 |   8 |
|  784 |   8 |
|  705 |   8 |
| 1080 |   8 |
|  421 |   8 |
| 1085 |   8 |
|  410 |   8 |
|  860 |   8 |
|  751 |   8 |
|  407 |   8 |
| 1091 |   8 |
|  859 |   8 |
|  672 |   8 |
| 1140 |   8 |
|  673 |   8 |
| 1146 |   8 |
| 1215 |   8 |
| 1201 |   8 |
| 1205 |   8 |
| 1207 |   8 |
| 1209 |   8 |
|  285 |   8 |
| 1214 |   8 |
|  829 |   8 |
|  686 |   8 |
| 1219 |   8 |
|  770 |   8 |
| 1221 |   8 |
| 1226 |   8 |
| 1230 |   8 |
| 1235 |   8 |
| 1197 |   8 |
|  834 |   8 |
|  342 |   8 |
|  756 |   8 |
| 1066 |   8 |
| 1166 |   8 |
|  847 |   8 |
|  755 |   8 |
| 1173 |   8 |
| 1177 |   8 |
| 1184 |   8 |
|  835 |   8 |
| 1185 |   8 |
|  838 |   8 |
|  824 |   8 |
| 1187 |   8 |
|  305 |   8 |
|  680 |   8 |
| 1070 |   8 |
|  442 |   8 |
|  437 |   8 |
|  964 |   8 |
|  723 |   8 |
|  803 |   8 |
|  556 |   8 |
|  893 |   8 |
|  891 |   8 |
|  889 |   8 |
|  965 |   8 |
|  525 |   8 |
|  626 |   8 |
|  542 |   8 |
|  541 |   8 |
|  798 |   8 |
|  973 |   8 |
|  530 |   8 |
|  710 |   8 |
|  897 |   8 |
|  570 |   8 |
|  574 |   8 |
|  941 |   8 |
|  910 |   8 |
|  940 |   8 |
|  609 |   8 |
|  938 |   8 |
|  937 |   8 |
|  934 |   8 |
|  587 |   8 |
|  588 |   8 |
|  607 |   8 |
|  813 |   8 |
|  933 |   8 |
|  713 |   8 |
|  527 |   8 |
|  879 |   8 |
|  439 |   8 |
| 1052 |   8 |
|  476 |   8 |
|  707 |   8 |
| 1034 |   8 |
|  736 |   8 |
| 1039 |   8 |
|  462 |   8 |
|  864 |   8 |
|  990 |   8 |
| 1055 |   8 |
|  451 |   8 |
|  748 |   8 |
|  446 |   8 |
|  441 |   8 |
| 1062 |   8 |
|  795 |   8 |
| 1019 |   8 |
|  486 |   8 |
| 1016 |   8 |
|  708 |   8 |
|  495 |   8 |
|  733 |   8 |
|  497 |   8 |
|  499 |   8 |
|  732 |   8 |
|  504 |   8 |
|  643 |   8 |
|  814 |   8 |
|  641 |   8 |
|  878 |   8 |
|  992 |   8 |
|  826 |   8 |
|  695 |   8 |
| 1480 |   8 |
| 1246 |   8 |
| 1425 |   8 |
| 1277 |   8 |
| 1288 |   8 |
| 1275 |   8 |
| 1399 |   8 |
| 1289 |   8 |
| 1402 |   8 |
|   86 |   8 |
| 1274 |   8 |
| 1273 |   8 |
| 1290 |   8 |
| 1345 |   8 |
| 1411 |   8 |
| 1291 |   8 |
| 1272 |   8 |
| 1344 |   8 |
| 1340 |   8 |
| 1338 |   8 |
|  163 |   8 |
| 1336 |   8 |
| 1393 |   8 |
| 1278 |   8 |
|  106 |   8 |
| 1285 |   8 |
|  135 |   8 |
| 1367 |   8 |
| 1361 |   8 |
| 1369 |   8 |
|  128 |   8 |
| 1372 |   8 |
| 1373 |   8 |
| 1281 |   8 |
| 1286 |   8 |
| 1287 |   8 |
| 1280 |   8 |
| 1382 |   8 |
|  117 |   8 |
|  221 |   8 |
| 1357 |   8 |
|  116 |   8 |
| 1387 |   8 |
| 1392 |   8 |
| 1268 |   8 |
| 1363 |   8 |
|  176 |   8 |
|   14 |   8 |
|   24 |   8 |
|   20 |   8 |
|  178 |   8 |
| 1460 |   8 |
| 1426 |   8 |
| 1462 |   8 |
|   33 |   8 |
|   34 |   8 |
| 1256 |   8 |
| 1317 |   8 |
| 1324 |   8 |
| 1259 |   8 |
| 1463 |   8 |
| 1296 |   8 |
| 1443 |   8 |
|   42 |   8 |
|  185 |   8 |
|   58 |   8 |
|    2 |   8 |
| 1479 |   8 |
| 1478 |   8 |
| 1265 |   8 |
|  196 |   8 |
| 1319 |   6 |
| 1320 |   6 |
|  431 |   6 |
| 1071 |   6 |
|  534 |   6 |
|  538 |   6 |
|  528 |   6 |
| 1311 |   6 |
|  529 |   6 |
| 1355 |   6 |
| 1026 |   6 |
|  519 |   6 |
| 1352 |   6 |
| 1029 |   6 |
|  475 |   6 |
|  491 |   6 |
| 1362 |   6 |
|  474 |   6 |
| 1341 |   6 |
|  473 |   6 |
| 1009 |   6 |
| 1038 |   6 |
| 1326 |   6 |
| 1325 |   6 |
|  466 |   6 |
| 1346 |   6 |
| 1347 |   6 |
|  460 |   6 |
| 1049 |   6 |
|  511 |   6 |
| 1051 |   6 |
|  450 |   6 |
|  493 |   6 |
|  929 |   6 |
|  962 |   6 |
|  805 |   6 |
|  679 |   6 |
| 1436 |   6 |
|  687 |   6 |
|  690 |   6 |
| 1441 |   6 |
|   46 |   6 |
|  696 |   6 |
|  701 |   6 |
|  704 |   6 |
| 1444 |   6 |
| 1448 |   6 |
|  720 |   6 |
|  854 |   6 |
|   27 |   6 |
|  796 |   6 |
|  731 |   6 |
|  793 |   6 |
|  743 |   6 |
|  746 |   6 |
| 1465 |   6 |
| 1467 |   6 |
| 1469 |   6 |
|  780 |   6 |
|  764 |   6 |
|  853 |   6 |
|   66 |   6 |
|  960 |   6 |
| 1398 |   6 |
|  130 |   6 |
|  565 |   6 |
|  572 |   6 |
|  576 |   6 |
|  577 |   6 |
|  584 |   6 |
| 1386 |   6 |
| 1087 |   6 |
|  595 |   6 |
|  596 |   6 |
| 1395 |   6 |
| 1401 |   6 |
| 1419 |   6 |
|  627 |   6 |
|  632 |   6 |
|  634 |   6 |
|  637 |   6 |
|  644 |   6 |
|  870 |   6 |
|  649 |   6 |
|  652 |   6 |
|  654 |   6 |
|  865 |   6 |
| 1418 |   6 |
|  192 |   6 |
| 1115 |   6 |
|  312 |   6 |
| 1266 |   6 |
| 1223 |   6 |
| 1167 |   6 |
|  360 |   6 |
| 1217 |   6 |
| 1257 |   6 |
| 1267 |   6 |
| 1095 |   6 |
|  215 |   6 |
|  284 |   6 |
|  398 |   6 |
| 1227 |   6 |
|  288 |   6 |
| 1098 |   6 |
| 1210 |   6 |
| 1107 |   6 |
| 1100 |   6 |
| 1294 |   6 |
|  391 |   6 |
|  321 |   6 |
|  367 |   6 |
| 1224 |   6 |
|  332 |   6 |
|  240 |   6 |
|  269 |   6 |
| 1153 |   6 |
| 1233 |   6 |
| 1150 |   6 |
| 1120 |   6 |
| 1301 |   6 |
| 1128 |   6 |
| 1158 |   6 |
| 1142 |   6 |
| 1247 |   6 |
| 1240 |   6 |
| 1147 |   6 |
| 1130 |   6 |
|  890 |   4 |
| 1404 |   4 |
|  230 |   4 |
|  642 |   4 |
|  622 |   4 |
|  318 |   4 |
|   90 |   4 |
|  315 |   4 |
| 1409 |   4 |
|  638 |   4 |
| 1407 |   4 |
| 1182 |   4 |
|  314 |   4 |
|  628 |   4 |
|  227 |   4 |
|  880 |   4 |
|   93 |   4 |
|  631 |   4 |
|  640 |   4 |
|  414 |   4 |
|  896 |   4 |
| 1164 |   4 |
|  567 |   4 |
|  573 |   4 |
|  122 |   4 |
| 1379 |   4 |
|  580 |   4 |
|  582 |   4 |
| 1154 |   4 |
|  338 |   4 |
|  114 |   4 |
|  589 |   4 |
|  416 |   4 |
| 1279 |   4 |
|  322 |   4 |
|  330 |   4 |
|  598 |   4 |
|  102 |   4 |
|  920 |   4 |
|  604 |   4 |
| 1176 |   4 |
|  875 |   4 |
|  911 |   4 |
|   97 |   4 |
|  612 |   4 |
|  900 |   4 |
| 1178 |   4 |
| 1421 |   4 |
| 1415 |   4 |
|  817 |   4 |
|   40 |   4 |
|  706 |   4 |
|   39 |   4 |
| 1258 |   4 |
|  716 |   4 |
| 1218 |   4 |
|   30 |   4 |
|  722 |   4 |
|   28 |   4 |
|  727 |   4 |
| 1249 |   4 |
|  737 |   4 |
|  738 |   4 |
|  739 |   4 |
|  741 |   4 |
|  742 |   4 |
|  791 |   4 |
|  267 |   4 |
|  788 |   4 |
| 1231 |   4 |
|  252 |   4 |
|  752 |   4 |
| 1470 |   4 |
| 1475 |   4 |
|  261 |   4 |
|  771 |   4 |
| 1243 |   4 |
| 1213 |   4 |
|  818 |   4 |
| 1188 |   4 |
|  819 |   4 |
| 1189 |   4 |
|   77 |   4 |
| 1190 |   4 |
|  866 |   4 |
| 1191 |   4 |
|  306 |   4 |
|  656 |   4 |
|  657 |   4 |
|  862 |   4 |
|  348 |   4 |
| 1270 |   4 |
| 1269 |   4 |
|  300 |   4 |
|  668 |   4 |
|   59 |   4 |
|  297 |   4 |
|   54 |   4 |
|  837 |   4 |
|  682 |   4 |
|  295 |   4 |
|   50 |   4 |
| 1202 |   4 |
| 1208 |   4 |
|  693 |   4 |
|  825 |   4 |
| 1442 |   4 |
|   43 |   4 |
| 1145 |   4 |
|  110 |   4 |
|  996 |   4 |
|  179 |   4 |
|  449 |   4 |
| 1122 |   4 |
| 1003 |   4 |
| 1094 |   4 |
|  447 |   4 |
|  505 |   4 |
| 1000 |   4 |
| 1348 |   4 |
|  998 |   4 |
|  995 |   4 |
|  144 |   4 |
|  444 |   4 |
| 1061 |   4 |
|  150 |   4 |
|  180 |   4 |
|  988 |   4 |
|  985 |   4 |
|  406 |   4 |
|  981 |   4 |
|  979 |   4 |
|  402 |   4 |
| 1321 |   4 |
| 1057 |   4 |
|  492 |   4 |
| 1332 |   4 |
|  478 |   4 |
|  206 |   4 |
| 1035 |   4 |
| 1103 |   4 |
| 1041 |   4 |
| 1042 |   4 |
|  483 |   4 |
|  484 |   4 |
| 1110 |   4 |
|  207 |   4 |
| 1295 |   4 |
| 1050 |   4 |
| 1114 |   4 |
|  200 |   4 |
|  489 |   4 |
| 1323 |   4 |
| 1056 |   4 |
|  384 |   4 |
|  362 |   4 |
|  368 |   4 |
|  205 |   4 |
|  433 |   4 |
|  359 |   4 |
|  557 |   4 |
|  358 |   4 |
|  351 |   4 |
|  188 |   4 |
|  427 |   4 |
| 1141 |   4 |
|  355 |   4 |
|  951 |   4 |
|  954 |   4 |
| 1368 |   4 |
|  423 |   4 |
|  132 |   4 |
| 1139 |   4 |
|  413 |   4 |
|  411 |   4 |
| 1283 |   4 |
|  434 |   4 |
|  435 |   4 |
|  976 |   4 |
| 1282 |   4 |
|  184 |   4 |
| 1359 |   4 |
| 1084 |   4 |
|  408 |   4 |
|  536 |   4 |
| 1083 |   2 |
| 1241 |   2 |
| 1082 |   2 |
| 1322 |   2 |
| 1043 |   2 |
|  833 |   2 |
| 1302 |   2 |
| 1471 |   2 |
| 1439 |   2 |
| 1237 |   2 |
| 1262 |   2 |
| 1212 |   2 |
| 1081 |   2 |
|  775 |   2 |
| 1306 |   2 |
| 1292 |   2 |
| 1036 |   2 |
|  782 |   2 |
| 1046 |   2 |
| 1228 |   2 |
| 1079 |   2 |
| 1248 |   2 |
| 1458 |   2 |
| 1457 |   2 |
| 1065 |   2 |
| 1297 |   2 |
| 1225 |   2 |
| 1453 |   2 |
| 1090 |   2 |
| 1437 |   2 |
|  799 |   2 |
|  801 |   2 |
| 1312 |   2 |
| 1060 |   2 |
| 1447 |   2 |
| 1250 |   2 |
| 1255 |   2 |
|  807 |   2 |
|  790 |   2 |
| 1088 |   2 |
|  808 |   2 |
|  809 |   2 |
| 1232 |   2 |
| 1229 |   2 |
| 1449 |   2 |
| 1077 |   2 |
|  812 |   2 |
|  946 |   2 |
| 1334 |   2 |
| 1435 |   2 |
|  969 |   2 |
| 1171 |   2 |
|  925 |   2 |
| 1360 |   2 |
|  924 |   2 |
|  972 |   2 |
|  914 |   2 |
|  975 |   2 |
| 1181 |   2 |
| 1400 |   2 |
|  903 |   2 |
| 1134 |   2 |
| 1133 |   2 |
|  899 |   2 |
|  898 |   2 |
|  982 |   2 |
|  984 |   2 |
| 1138 |   2 |
|  968 |   2 |
| 1284 |   2 |
| 1377 |   2 |
|  944 |   2 |
|  947 |   2 |
|  943 |   2 |
| 1374 |   2 |
| 1376 |   2 |
|  942 |   2 |
|  948 |   2 |
| 1151 |   2 |
|  932 |   2 |
|  955 |   2 |
|  939 |   2 |
|  959 |   2 |
|  961 |   2 |
| 1155 |   2 |
| 1160 |   2 |
| 1389 |   2 |
|  986 |   2 |
| 1406 |   2 |
|  987 |   2 |
| 1024 |   2 |
|  863 |   2 |
| 1192 |   2 |
| 1337 |   2 |
|  945 |   2 |
|  855 |   2 |
| 1198 |   2 |
| 1428 |   2 |
| 1108 |   2 |
| 1015 |   2 |
| 1432 |   2 |
|  844 |   2 |
|  840 |   2 |
| 1433 |   2 |
| 1434 |   2 |
| 1030 |   2 |
| 1032 |   2 |
| 1271 |   2 |
|  767 |   2 |
| 1353 |   2 |
| 1001 |   2 |
|  887 |   2 |
| 1132 |   2 |
|  993 |   2 |
|  882 |   2 |
| 1245 |   2 |
| 1408 |   2 |
|  997 |   2 |
| 1413 |   2 |
| 1011 |   2 |
| 1127 |   2 |
| 1414 |   2 |
| 1008 |   2 |
| 1124 |   2 |
| 1121 |   2 |
|  868 |   2 |
| 1117 |   2 |
| 1424 |   2 |
|    0 |   2 |
|  740 |   2 |
|  636 |   2 |
|  399 |   2 |
|  138 |   2 |
|  400 |   2 |
|  602 |   2 |
|  401 |   2 |
|  260 |   2 |
|  599 |   2 |
|  258 |   2 |
|  590 |   2 |
|  412 |   2 |
|  148 |   2 |
|  151 |   2 |
|  254 |   2 |
|  253 |   2 |
|  579 |   2 |
|  575 |   2 |
|  571 |   2 |
|  153 |   2 |
|  251 |   2 |
|  249 |   2 |
|  560 |   2 |
|  555 |   2 |
|  248 |   2 |
|  159 |   2 |
|  160 |   2 |
|  603 |   2 |
|  397 |   2 |
|  134 |   2 |
|  619 |   2 |
|  633 |   2 |
|  105 |   2 |
|  107 |   2 |
|  271 |   2 |
|  383 |   2 |
|  109 |   2 |
|  624 |   2 |
|  621 |   2 |
|  113 |   2 |
|  266 |   2 |
|  386 |   2 |
|  387 |   2 |
|  394 |   2 |
|  119 |   2 |
|  120 |   2 |
|  388 |   2 |
|  613 |   2 |
|  123 |   2 |
|  126 |   2 |
|  127 |   2 |
|  610 |   2 |
|  393 |   2 |
|  606 |   2 |
|  605 |   2 |
|  552 |   2 |
|  164 |   2 |
|  551 |   2 |
|  485 |   2 |
|  189 |   2 |
|  191 |   2 |
|  457 |   2 |
|  498 |   2 |
|  496 |   2 |
|  494 |   2 |
|  458 |   2 |
|  225 |   2 |
|  487 |   2 |
|  195 |   2 |
|  461 |   2 |
|  220 |   2 |
|  502 |   2 |
|  198 |   2 |
|  199 |   2 |
|  463 |   2 |
|  202 |   2 |
|  218 |   2 |
|  204 |   2 |
|  208 |   2 |
|  479 |   2 |
|  477 |   2 |
|  469 |   2 |
|  471 |   2 |
|  187 |   2 |
|  503 |   2 |
|  549 |   2 |
|  440 |   2 |
|  548 |   2 |
|  547 |   2 |
|  546 |   2 |
|  429 |   2 |
|  169 |   2 |
|  543 |   2 |
|  243 |   2 |
|  532 |   2 |
|  171 |   2 |
|  526 |   2 |
|  523 |   2 |
|  521 |   2 |
|  506 |   2 |
|  520 |   2 |
|  445 |   2 |
|  448 |   2 |
|  516 |   2 |
|  233 |   2 |
|  515 |   2 |
|  232 |   2 |
|  512 |   2 |
|  510 |   2 |
|  509 |   2 |
|  508 |   2 |
|  101 |   2 |
|  390 |   2 |
|  470 |   2 |
|  286 |   2 |
|  694 |   2 |
|  692 |   2 |
|  689 |   2 |
|   52 |   2 |
|  745 |   2 |
|   55 |   2 |
|  749 |   2 |
|  308 |   2 |
|  681 |   2 |
|  697 |   2 |
|  331 |   2 |
|  353 |   2 |
|  354 |   2 |
|  754 |   2 |
|  757 |   2 |
|   64 |   2 |
|  310 |   2 |
|   67 |   2 |
|    1 |   2 |
|   17 |   2 |
|   68 |   2 |
|  725 |   2 |
|   36 |   2 |
|  717 |   2 |
|  337 |   2 |
|   37 |   2 |
|  719 |   2 |
|  712 |   2 |
|  711 |   2 |
|   29 |   2 |
|  709 |   2 |
|  734 |   2 |
|  299 |   2 |
|  301 |   2 |
|  343 |   2 |
|  700 |   2 |
|   41 |   2 |
|   18 |   2 |
|   47 |   2 |
|  274 |   2 |
|  280 |   2 |
|   35 |   2 |
|  674 |   2 |
|  325 |   2 |
|   69 |   2 |
|  761 |   2 |
|  660 |   2 |
|  659 |   2 |
|  277 |   2 |
|  655 |   2 |
|  324 |   2 |
|  376 |   2 |
|   88 |   2 |
|   89 |   2 |
|   92 |   2 |
|    4 |   2 |
|  765 |   2 |
|   95 |   2 |
|  378 |   2 |
|  379 |   2 |
|  276 |   2 |
|  645 |   2 |
|  275 |   2 |
|  374 |   2 |
|  661 |   2 |
|  326 |   2 |
|   82 |   2 |
|  365 |   2 |
|  328 |   2 |
|  313 |   2 |
|  371 |   2 |
|  327 |   2 |
|   80 |   2 |
|  373 |   2 |
|   78 |   2 |
|  664 |   2 |
|  663 |   2 |
|  216 |   0 |
| 1199 |   0 |
| 1194 |   0 |
| 1183 |   0 |
|  311 |   0 |
|  219 |   0 |
| 1276 |   0 |
|  234 |   0 |
|  226 |   0 |
|  217 |   0 |
|  296 |   0 |
| 1200 |   0 |
|  229 |   0 |
|  222 |   0 |
|  307 |   0 |
|  224 |   0 |
|  298 |   0 |
|  214 |   0 |
|  303 |   0 |
|  316 |   0 |
|  317 |   0 |
|  304 |   0 |
|  228 |   0 |
| 1195 |   0 |
|  309 |   0 |
|  273 |   0 |
|  235 |   0 |
|  237 |   0 |
|  256 |   0 |
|  283 |   0 |
|  282 |   0 |
| 1244 |   0 |
|  257 |   0 |
| 1242 |   0 |
|  259 |   0 |
|  281 |   0 |
|  279 |   0 |
|  278 |   0 |
| 1238 |   0 |
|  262 |   0 |
| 1220 |   0 |
| 1236 |   0 |
|  263 |   0 |
| 1234 |   0 |
|  264 |   0 |
|  213 |   0 |
|  265 |   0 |
| 1222 |   0 |
|  268 |   0 |
|  270 |   0 |
|  272 |   0 |
|  287 |   0 |
| 1211 |   0 |
|  289 |   0 |
|  244 |   0 |
|  238 |   0 |
|  239 |   0 |
|  241 |   0 |
| 1264 |   0 |
| 1263 |   0 |
|  242 |   0 |
| 1261 |   0 |
| 1260 |   0 |
|  294 |   0 |
| 1203 |   0 |
| 1204 |   0 |
|  290 |   0 |
|  245 |   0 |
|  293 |   0 |
|  246 |   0 |
|  247 |   0 |
| 1254 |   0 |
|  292 |   0 |
|  291 |   0 |
| 1252 |   0 |
| 1251 |   0 |
|  250 |   0 |
| 1206 |   0 |
|  170 |   0 |
|  212 |   0 |
|   65 |   0 |
|   79 |   0 |
|   76 |   0 |
|   74 |   0 |
|   72 |   0 |
|   70 |   0 |
| 1422 |   0 |
|   63 |   0 |
| 1410 |   0 |
| 1427 |   0 |
|   62 |   0 |
| 1429 |   0 |
|   61 |   0 |
|   60 |   0 |
|   57 |   0 |
|   81 |   0 |
|   83 |   0 |
|   53 |   0 |
| 1396 |   0 |
| 1385 |   0 |
|  115 |   0 |
| 1388 |   0 |
| 1390 |   0 |
| 1391 |   0 |
|  103 |   0 |
| 1397 |   0 |
|   84 |   0 |
|  100 |   0 |
|   99 |   0 |
|   98 |   0 |
|   96 |   0 |
|   94 |   0 |
|   87 |   0 |
|   56 |   0 |
|   51 |   0 |
| 1383 |   0 |
|    6 |   0 |
|   13 |   0 |
|   12 |   0 |
|   11 |   0 |
|   10 |   0 |
|    9 |   0 |
|    8 |   0 |
| 1472 |   0 |
|   15 |   0 |
| 1473 |   0 |
| 1474 |   0 |
|    5 |   0 |
| 1476 |   0 |
| 1477 |   0 |
|    3 |   0 |
| 1464 |   0 |
|   16 |   0 |
| 1438 |   0 |
|   32 |   0 |
|   49 |   0 |
| 1440 |   0 |
|   45 |   0 |
|   38 |   0 |
| 1445 |   0 |
| 1446 |   0 |
|   31 |   0 |
| 1461 |   0 |
|   25 |   0 |
| 1454 |   0 |
|   23 |   0 |
|   21 |   0 |
|   19 |   0 |
| 1459 |   0 |
|  118 |   0 |
| 1380 |   0 |
|  211 |   0 |
|  175 |   0 |
| 1316 |   0 |
|  183 |   0 |
| 1318 |   0 |
|  182 |   0 |
|  181 |   0 |
|  177 |   0 |
|  173 |   0 |
| 1314 |   0 |
|  172 |   0 |
|  323 |   0 |
| 1327 |   0 |
| 1328 |   0 |
| 1329 |   0 |
| 1330 |   0 |
| 1315 |   0 |
| 1313 |   0 |
| 1333 |   0 |
| 1300 |   0 |
|  210 |   0 |
|  209 |   0 |
|  203 |   0 |
|  201 |   0 |
| 1298 |   0 |
|  197 |   0 |
|  194 |   0 |
|  186 |   0 |
| 1303 |   0 |
| 1304 |   0 |
| 1305 |   0 |
|  193 |   0 |
| 1309 |   0 |
| 1310 |   0 |
| 1331 |   0 |
|  167 |   0 |
|  121 |   0 |
|  133 |   0 |
|  142 |   0 |
|  140 |   0 |
|  139 |   0 |
|  137 |   0 |
| 1365 |   0 |
| 1366 |   0 |
|  129 |   0 |
| 1358 |   0 |
| 1370 |   0 |
| 1371 |   0 |
|  125 |   0 |
| 1375 |   0 |
|  124 |   0 |
| 1378 |   0 |
|  143 |   0 |
|  145 |   0 |
|  165 |   0 |
|  157 |   0 |
|  162 |   0 |
|  161 |   0 |
| 1339 |   0 |
| 1342 |   0 |
| 1343 |   0 |
|  158 |   0 |
|  156 |   0 |
| 1356 |   0 |
|  155 |   0 |
| 1349 |   0 |
|  152 |   0 |
| 1351 |   0 |
|  147 |   0 |
|  146 |   0 |
|  320 |   0 |
|  766 |   0 |
| 1180 |   0 |
|  892 |   0 |
|  894 |   0 |
|  895 |   0 |
|  618 |   0 |
|  617 |   0 |
|  616 |   0 |
|  614 |   0 |
|  901 |   0 |
|  902 |   0 |
|  904 |   0 |
|  905 |   0 |
|  906 |   0 |
|  907 |   0 |
|  908 |   0 |
|  611 |   0 |
|  608 |   0 |
|  620 |   0 |
|  623 |   0 |
|  651 |   0 |
|  629 |   0 |
|  648 |   0 |
|  871 |   0 |
|  647 |   0 |
|  873 |   0 |
|  874 |   0 |
|  646 |   0 |
|  877 |   0 |
|  639 |   0 |
|  635 |   0 |
|  881 |   0 |
|  883 |   0 |
|  884 |   0 |
|  885 |   0 |
|  886 |   0 |
|  630 |   0 |
|  913 |   0 |
|  915 |   0 |
|  916 |   0 |
|  917 |   0 |
|  568 |   0 |
|  566 |   0 |
|  564 |   0 |
|  563 |   0 |
|  559 |   0 |
|  558 |   0 |
|  554 |   0 |
|  952 |   0 |
|  953 |   0 |
|  553 |   0 |
|  956 |   0 |
|  957 |   0 |
|  958 |   0 |
|  550 |   0 |
|  545 |   0 |
|  581 |   0 |
|  583 |   0 |
|  585 |   0 |
|  926 |   0 |
|  918 |   0 |
|  919 |   0 |
|  921 |   0 |
|  922 |   0 |
|  923 |   0 |
|  600 |   0 |
|  594 |   0 |
|  936 |   0 |
|  593 |   0 |
|  930 |   0 |
|  931 |   0 |
|  592 |   0 |
|  586 |   0 |
|  935 |   0 |
|  650 |   0 |
|  867 |   0 |
|  544 |   0 |
|  744 |   0 |
|  735 |   0 |
|  729 |   0 |
|  797 |   0 |
|  728 |   0 |
|  726 |   0 |
|  800 |   0 |
|  802 |   0 |
|  724 |   0 |
|  721 |   0 |
|  718 |   0 |
|  715 |   0 |
|  714 |   0 |
|  810 |   0 |
|  811 |   0 |
|  703 |   0 |
|  792 |   0 |
|  789 |   0 |
|  653 |   0 |
|  747 |   0 |
|  769 |   0 |
|  763 |   0 |
|  762 |   0 |
|  773 |   0 |
|  774 |   0 |
|  760 |   0 |
|  776 |   0 |
|  777 |   0 |
|  778 |   0 |
|  779 |   0 |
|  759 |   0 |
|  781 |   0 |
|  750 |   0 |
|  785 |   0 |
|  786 |   0 |
|  816 |   0 |
|  702 |   0 |
|  699 |   0 |
|  820 |   0 |
|  675 |   0 |
|  845 |   0 |
|  846 |   0 |
|  848 |   0 |
|  849 |   0 |
|  850 |   0 |
|  851 |   0 |
|  671 |   0 |
|  669 |   0 |
|  666 |   0 |
|  665 |   0 |
|  856 |   0 |
|  857 |   0 |
|  662 |   0 |
|  658 |   0 |
|  843 |   0 |
|  842 |   0 |
|  841 |   0 |
|  831 |   0 |
|  821 |   0 |
|  822 |   0 |
|  698 |   0 |
|  691 |   0 |
|  828 |   0 |
|  830 |   0 |
|  832 |   0 |
|  676 |   0 |
|  688 |   0 |
|  685 |   0 |
|  684 |   0 |
|  683 |   0 |
|  677 |   0 |
|  839 |   0 |
|  966 |   0 |

In [18]:
Nullvalsgrouped = pd.DataFrame(pc_details.isnull().sum(axis=1).sort_values(ascending=False))

In [19]:
Nullvalsgrouped[Nullvalsgrouped[0]>15].index

Int64Index([1307,  540, 1354,  768, 1010,  858,  872, 1412, 1403,  912,  806,
             591, 1452,  255,  949,  141,  678,  190,  319, 1170, 1105,  168,
             108,  670, 1253, 1420,   73, 1196,  302, 1394,  339,  111,  356,
             166, 1129, 1299,  967, 1308, 1059,   48,  507, 1002,  468,  514,
             561, 1466, 1456,   22,   44,  772,  758,  753],
           dtype='int64')

## **Managing null values in Score column**

In [20]:
Memory1_null = pd.DataFrame(pc_details.Memory1.isnull())
Memory2_null = pd.DataFrame(pc_details.Memory2.isnull())
Memory3_null = pd.DataFrame(pc_details.Memory3.isnull())
Memory4_null = pd.DataFrame(pc_details.Memory4.isnull())

In [21]:
pc_details['Memory1'] = pc_details['Memory1'].fillna(0)

In [22]:
pc_details['Memory2'] = pc_details['Memory2'].fillna(0)

In [23]:
pc_details[pc_details['Memory1'].isnull()==True]

Empty DataFrame
Columns: [Unnamed: 0, team_id, Single core score1, Single core score2, Single core score3, Single core score4, Multi core score1, Multi core score2, Multi core score3, Multi core score4, OpenCL score1, OpenCL score2, OpenCL score3, OpenCL score4, OS1, OS2, OS3, OS4, Model1, Model2, Model3, Model4, CPU1, CPU2, CPU3, CPU4, Memory1, Memory2, Memory3, Memory4, Graphic Card1, Graphic Card2, Graphic Card3, Graphic Card4]
Index: []

[0 rows x 34 columns]

In [24]:
print(pc_details.isna().sum().sort_values(ascending=False).to_markdown())

|                    |   0 |
|:-------------------|----:|
| Graphic Card4      | 633 |
| OpenCL score4      | 633 |
| Graphic Card3      | 529 |
| OpenCL score3      | 529 |
| OpenCL score2      | 458 |
| Graphic Card2      | 458 |
| Graphic Card1      | 370 |
| OpenCL score1      | 370 |
| Memory4            | 188 |
| CPU4               | 188 |
| Model4             | 188 |
| OS4                | 188 |
| Multi core score4  | 188 |
| Single core score4 | 188 |
| OS3                |  52 |
| Single core score3 |  52 |
| Memory3            |  52 |
| Model3             |  52 |
| Multi core score3  |  52 |
| CPU3               |  52 |
| Multi core score1  |   0 |
| Single core score1 |   0 |
| Single core score2 |   0 |
| Memory2            |   0 |
| Memory1            |   0 |
| CPU2               |   0 |
| CPU1               |   0 |
| Multi core score2  |   0 |
| Model2             |   0 |
| Model1             |   0 |
| team_id            |   0 |
| OS2                |   0 |
| OS1                |   0 |
| Unnamed: 0         |   0 |

In [25]:
pc_details['Single core score1'] = pc_details['Single core score1'].fillna(0)
pc_details['Single core score2'] = pc_details['Single core score2'].fillna(0)
pc_details['Single core score3'] = pc_details['Single core score3'].fillna(0)
pc_details['Single core score4'] = pc_details['Single core score4'].fillna(0)

In [26]:
pc_details[pc_details['Single core score1'].isnull()==True]

Empty DataFrame
Columns: [Unnamed: 0, team_id, Single core score1, Single core score2, Single core score3, Single core score4, Multi core score1, Multi core score2, Multi core score3, Multi core score4, OpenCL score1, OpenCL score2, OpenCL score3, OpenCL score4, OS1, OS2, OS3, OS4, Model1, Model2, Model3, Model4, CPU1, CPU2, CPU3, CPU4, Memory1, Memory2, Memory3, Memory4, Graphic Card1, Graphic Card2, Graphic Card3, Graphic Card4]
Index: []

[0 rows x 34 columns]

In [27]:
print(pc_details.isna().sum().sort_values(ascending=False).to_markdown())

|                    |   0 |
|:-------------------|----:|
| Graphic Card4      | 633 |
| OpenCL score4      | 633 |
| Graphic Card3      | 529 |
| OpenCL score3      | 529 |
| OpenCL score2      | 458 |
| Graphic Card2      | 458 |
| Graphic Card1      | 370 |
| OpenCL score1      | 370 |
| Memory4            | 188 |
| CPU4               | 188 |
| Model4             | 188 |
| OS4                | 188 |
| Multi core score4  | 188 |
| OS3                |  52 |
| Memory3            |  52 |
| Model3             |  52 |
| Multi core score3  |  52 |
| CPU3               |  52 |
| Multi core score1  |   0 |
| Single core score1 |   0 |
| Single core score2 |   0 |
| Single core score3 |   0 |
| Single core score4 |   0 |
| Memory2            |   0 |
| Memory1            |   0 |
| CPU2               |   0 |
| CPU1               |   0 |
| Multi core score2  |   0 |
| Model2             |   0 |
| Model1             |   0 |
| team_id            |   0 |
| OS2                |   0 |
| OS1                |   0 |
| Unnamed: 0         |   0 |

In [28]:
pc_details.fillna(value=0, inplace=True)

In [29]:
print(pc_details.isna().sum().sort_values(ascending=False).to_markdown())

|                    |   0 |
|:-------------------|----:|
| Unnamed: 0         |   0 |
| CPU4               |   0 |
| Model2             |   0 |
| Model3             |   0 |
| Model4             |   0 |
| CPU1               |   0 |
| CPU2               |   0 |
| CPU3               |   0 |
| Memory1            |   0 |
| team_id            |   0 |
| Memory2            |   0 |
| Memory3            |   0 |
| Memory4            |   0 |
| Graphic Card1      |   0 |
| Graphic Card2      |   0 |
| Graphic Card3      |   0 |
| Model1             |   0 |
| OS4                |   0 |
| OS3                |   0 |
| OS2                |   0 |
| OS1                |   0 |
| OpenCL score4      |   0 |
| OpenCL score3      |   0 |
| OpenCL score2      |   0 |
| OpenCL score1      |   0 |
| Multi core score4  |   0 |
| Multi core score3  |   0 |
| Multi core score2  |   0 |
| Multi core score1  |   0 |
| Single core score4 |   0 |
| Single core score3 |   0 |
| Single core score2 |   0 |
| Single core score1 |   0 |
| Graphic Card4      |   0 |

In [30]:
pc_details

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,CPU3,CPU4,Memory1,Memory2,Memory3,Memory4,Graphic Card1,Graphic Card2,Graphic Card3,Graphic Card4
0,0,1001,1142,543,836,601,2148,1132,1525,2281,...,Intel Core i5-7200U,AMD Ryzen 5 3500U,3.62,3.64,3.73,5.74,0,Intel(R) HD Graphics 520 (SKL GT2),Intel(R) HD Graphics 620 (KBL GT2),AMD RADV RAVEN (ACO)
1,1,1002,1060,549,416,590,3394,1834,857,1326,...,Intel Core i3-2350M,Intel Core i5-5200U,2,2,2,1,3.14,2.00,0,2.00
2,2,1003,363,451,488,0,779,1154,1116,0,...,Intel Core i3-3110M,0,1,1,2,0,1.37,1.56,1.37,0
3,3,1004,809,1182,847,770,2303,6647,2474,1643,...,Intel Core i5-8250U,Intel Core i7-6500U,1,2,1,1,2.00 3.00,6.00,3.16,2.00
4,4,1005,686,1003,624,827,3318,3848,3610,4071,...,AMD Ryzen 5 4600H,Intel Core i7-9750H,15.52,1,1,1,0,6.00,4.00,6.00 6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,1476,2964,416,777,1059,622,1101,2845,2893,2040,...,Intel Core i5-10300H,Intel Core i5-8265U,1,8.00 LPDDR3 2133 MT/s,1,1,1.56,1.50,4.00,2.00
1477,1477,2965,664,Nil,587,441,4373,Nil,2513,1053,...,Intel Core i5-10210U,Intel Core i3-5005U,2,1,1,1,4.00,1.55,3.12,1.56
1478,1478,2968,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,...,Nil,Nil,Nil,Nil,Nil,Nil,0,0,0,0
1479,1479,2970,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,...,Nil,Nil,Nil,Nil,Nil,Nil,0,0,0,0
1480,1480,2971,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,...,Nil,Nil,Nil,Nil,Nil,Nil,0,0,0,0

## **Cleaning Memory columns**

In [31]:
pc_details['Memory1'].str.isalpha().sum()

231

In [32]:
a=  pc_details['Memory1'].unique()
print(a)

['3.62  ' '2' '1' '15.52  ' '8.00   LPDDR3 2133 MT/s' '7.56  ' '7.69  '
 '7.60  ' '15.30  ' 'Nil' '5.74  ' '7.77  ' '7.68  ' '7.67  ' '15.51  '
 '3.76  ' '4.00    794 MHz' '8.00  ' '8.00   DDR3 1600 MT/s' '3.86  '
 '16.00  ' '11.58  ' '16.00   DDR4 2400 MT/s' '1.95  '
 '16.00   LPDDR4X 3733 MT/s' '7.62  ' '2.84  ' '7.66  ' '4' '7.55  '
 '3.92   DDR3 SDRAM 1599 MHz' '15.57  ' '7.85  ' '3.30  ' '3.63  '
 '4.00   DDR3 SDRAM 665 MHz' '7.64  ' '15.49  ' '6.75  '
 '8.00   LPDDR4X 3733 MT/s' '15.37  ' '8.00   LPDDR3 933 MHz' '3.74  '
 '3.55  ' '3.77  ' '15.41  ' '15.14  ' '3.73  ' '3.71  ' '7.14  '
 '4.00   DDR3 SDRAM 1599 MHz' '7.86  ' '3.75  ' '7.44  ' '3.69  ' '7.63  '
 '15.39  ' '5.59  ' '4.00  ' '11.49  ' '15.55  ' '7.65  ' '7.51  '
 '4.00    798 MHz' '16.00   EDO RAM' '7.52  ']

In [33]:
columns = ['Memory1', 'Memory2', 'Memory3', 'Memory4']

def Memory_replace(columns):  # Removing text data
  for cols in columns:
    pc_details[cols] = pc_details[cols].str.split(' ').str[0]
  return pc_details

pc_details = Memory_replace(columns)

In [34]:
a=  pc_details['Memory1'].unique()
print(a)

['3.62' '2' '1' '15.52' '8.00' '7.56' '7.69' '7.60' '15.30' 'Nil' '5.74'
 '7.77' '7.68' '7.67' '15.51' '3.76' '4.00' '3.86' '16.00' '11.58' '1.95'
 '7.62' '2.84' '7.66' '4' '7.55' '3.92' '15.57' '7.85' '3.30' '3.63'
 '7.64' '15.49' '6.75' '15.37' '3.74' '3.55' '3.77' '15.41' '15.14' '3.73'
 '3.71' '7.14' '7.86' '3.75' '7.44' '3.69' '7.63' '15.39' '5.59' '11.49'
 '15.55' '7.65' '7.51' '7.52']

In [35]:
columns = ['Memory1', 'Memory2', 'Memory3', 'Memory4']

def Memory_null_replace(columns):   # Converting nil and null values to 0
  for cols in columns:
    pc_details[cols] = pc_details[cols].replace('Nil' , '')
    pc_details[cols] = pc_details[cols].replace(r'^\s*$', np.nan, regex=True)
    pc_details[cols] = pc_details[cols].fillna(0)
  return pc_details

pc_details = Memory_null_replace(columns)

In [36]:
pc_details

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,CPU3,CPU4,Memory1,Memory2,Memory3,Memory4,Graphic Card1,Graphic Card2,Graphic Card3,Graphic Card4
0,0,1001,1142,543,836,601,2148,1132,1525,2281,...,Intel Core i5-7200U,AMD Ryzen 5 3500U,3.62,3.64,3.73,5.74,0,Intel(R) HD Graphics 520 (SKL GT2),Intel(R) HD Graphics 620 (KBL GT2),AMD RADV RAVEN (ACO)
1,1,1002,1060,549,416,590,3394,1834,857,1326,...,Intel Core i3-2350M,Intel Core i5-5200U,2,2,2,1,3.14,2.00,0,2.00
2,2,1003,363,451,488,0,779,1154,1116,0,...,Intel Core i3-3110M,0,1,1,2,0,1.37,1.56,1.37,0
3,3,1004,809,1182,847,770,2303,6647,2474,1643,...,Intel Core i5-8250U,Intel Core i7-6500U,1,2,1,1,2.00 3.00,6.00,3.16,2.00
4,4,1005,686,1003,624,827,3318,3848,3610,4071,...,AMD Ryzen 5 4600H,Intel Core i7-9750H,15.52,1,1,1,0,6.00,4.00,6.00 6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,1476,2964,416,777,1059,622,1101,2845,2893,2040,...,Intel Core i5-10300H,Intel Core i5-8265U,1,8.00,1,1,1.56,1.50,4.00,2.00
1477,1477,2965,664,Nil,587,441,4373,Nil,2513,1053,...,Intel Core i5-10210U,Intel Core i3-5005U,2,1,1,1,4.00,1.55,3.12,1.56
1478,1478,2968,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,...,Nil,Nil,0,0,0,0,0,0,0,0
1479,1479,2970,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,...,Nil,Nil,0,0,0,0,0,0,0,0
1480,1480,2971,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,...,Nil,Nil,0,0,0,0,0,0,0,0

In [37]:
a = pc_details['Memory1'].unique()
print(a)

['3.62' '2' '1' '15.52' '8.00' '7.56' '7.69' '7.60' '15.30' 0 '5.74'
 '7.77' '7.68' '7.67' '15.51' '3.76' '4.00' '3.86' '16.00' '11.58' '1.95'
 '7.62' '2.84' '7.66' '4' '7.55' '3.92' '15.57' '7.85' '3.30' '3.63'
 '7.64' '15.49' '6.75' '15.37' '3.74' '3.55' '3.77' '15.41' '15.14' '3.73'
 '3.71' '7.14' '7.86' '3.75' '7.44' '3.69' '7.63' '15.39' '5.59' '11.49'
 '15.55' '7.65' '7.51' '7.52']

In [38]:
a = pc_details['Memory2'].unique()
print(a)

['3.64' '2' '1' 0 '3.62' '15.29' '15.49' '8.00' '5.81' '7.21' '5.71'
 '16.00' '7.67' '7.68' '13.64' '7.58' '7.55' '31.29' '15.43' '3.51'
 '15.65' '3.75' '11.58' '3.86' '7.69' '4.00' '7.64' '3.73' '7.62' '3.76'
 '7.47' '7.60' '7.50' '11.61' '19.23' '15.54' '7.54' '3.65' '5.77' '3.88'
 '3.68' '15.32' '15.50' '3.54' '12.00' '11.59' '15.46' '15.57' '1.96'
 '32.00']

In [39]:
a = pc_details['Memory3'].unique()
print(a)

['3.73' '2' '1' 0 '4.00' '15.52' '7.68' '19.46' '15.56' '7.65' '15.53'
 '8.00' '16.00' '7.71' '3.32' '7.88' '7.55' '5.70' '7.61' '7.64' '5.73'
 '7.21' '7.46' '3.55' '11.57' '3.72' '3.35' '7.58' '7.66' '7.44' '7.70'
 '15.51' '7.56' '3.91' '3.76' '4' '32.00' '7.69' '3.85' '7.60' '3.88']

In [40]:
a = pc_details['Memory4'].unique()
print(a)

['5.74' '1' 0 '2' '7.65' '7.85' '8.00' '16.00' '15.48' '7.56' '7.78'
 '7.52' '7.66' '7.70' '15.52' '15.51' '7.63' '7.61' '4.00' '4' '32.00'
 '3.74' '15.56' '7.44' '15.36' '11.81' '11.54' '3.57' '11.48' '7.60'
 '15.53' '11.86']

## **Analysing score data**

In [41]:
a = pc_details['Single core score1'].unique()
print(a)

['1142' '1060' '363' '809' '686' '1004' '834' '446' '973' '769' '1044'
 '1150' '493' '632' '321' '805' '325' '855' '1057' '1114' '1085' '1096'
 '875' '794' '864' '815' '759' '545' '860' '1186' '967' '551' '1291'
 '1084' '217' '1048' '1015' '980' '765' '323' '569' '522' 'Nil' '1140'
 '521' '348' '1075' '603' '917' '1054' '820' '1066' '464' '1086' '747'
 '1128' '911' '777' '892' '1031' '783' '657' '934' '811' '886' '665' '586'
 '417' '454' '1233' '607' '975' '758' '1136' '652' '254' '253' '1132'
 '902' '432' '888' '1078' '912' '1047' '289' '1062' '451' '1359' '455'
 '816' '393' '974' '1040' '533' '1104' '969' '1009' '466' '880' '990'
 '713' '703' '1162' '343' '706' '599' '398' '906' '971' '585' '733' '874'
 '535' '276' '1055' '1088' '957' '1107' '460' '913' '734' '463' '675'
 '985' '1038' '1052' '1039' '1181' '486' '1241' '523' '536' '528' '505'
 '359' '767' '882' '354' '618' '1116' '337' '732' '407' '839' '890' '234'
 '1063' '1274' '899' '550' '1073' '1007' '1203' '1072' '992' '502' '788'
 '986' '1018' '633' '830' '563' '879' '548' '895' '634' '339' '396' '952'
 '223' '869' '1041' '851' '683' '501' '499' '1329' '1720' '668' '736'
 '387' '784' '1033' '687' '336' '159' '299' '923' '739' '1008' '1242'
 '400' '1029' '1037' '544' '812' '701' '1056' '1317' '670' '408' '807'
 '887' '1036' '527' '893' '479' '1146' '868' '854' '836' '1076' '674'
 '473' '1051' '590' '1124' '1050' '1134' '1139' '260' '949' '1157' '715'
 '748' '411' '431' '1164' '373' '503' '922' '677' '1314' '496' '685'
 '1472' '489' '588' '529' '1106' '857' '630' '357' '1365' '965' '711'
 '841' '928' '1734' '185' '679' '970' '441' '935' '648' '1095' '593' '472'
 '1069' '540' '450' '629' '1195' '1342' '1294' '896' '1145' '98' '817'
 '1082' '898' '1093' '780' '1137' '329' '822' '598' '1221' '666' '940'
 '165' '1218' '409' '1246' '524' '1013' '785' '795' '979' '624' '328'
 '1010' '786' '1143' '265' '361' '1268' '1362' '549' '1193' '470' '620'
 '847' '671' '1207' '921' '558' '506' '215' '1188' '916' '381' '1074'
 '950' '481' '385' '199' '725' '379' '793' '266' '941' '1190' '866' '658'
 '1171' '543' '638' '556' '651' '171' '901' '840' '833' '1053' '1364'
 '1049' '539' '823' '1094' '1014' '1733' '741' '1344' '680' '399' '760'
 '656' '575' '238' '763' '871' '1001' '835' '770' '636' '1330' '358' '513'
 '391' '492' '491' '360' '996' '570' '929' '1016' '774' '948' '270' '1208'
 '1005' '821' '749' '1112' '578' '710' '800' '1110' '1122' '669' '262'
 '469' '596' '330' '977' '429' '754' '1115' '915' '382' '592' '617' '647'
 '258' '826' '993' '810' '580' '309' '1130' '962' '639' '1464' '306' '983'
 '465' '1168' '1089' '1243' '987' '752' '425' '519' '597' '610' '384'
 '1302' '335' '438' '582' '552' '918' '831' '660' '1166' '1354' '312'
 '277' '557' '1262' '247' '416' '480' '604' '707' '891' '994' '951' '322'
 '559' '292' '376' '342' '640' '218' '261' '471' '751' '1741' '1042'
 '1068' '1123' '615' '388' '1189' '542' '942' '627' '745' '518' '1043'
 '392' '938' '577' '695' '858' '849' '845' '850' '340' '1340' '877' '722'
 '211' '1216' '526' '799' '1017' '468' '1002' '862' '787' '616' '1201'
 '1064' '370' '1209' '1385' '241' '1035' '814' '368' '1046' '900' '613'
 '672' '1256' '776' '755' '623' '422' '1065' '424' '717' '818' '600'
 '1236' '744' '326' '447' '859' '395' '681' '334' '1011' '516' '1125'
 '356' '1728' '958' '621' '1121' '937' '731' '1167' '984' '520' '959'
 '1234' '1032' '594' '846' '547' '883' '1080' '302' '1026' '1090' '541'
 '1153' '852' '389' '1180' '530' '1097' '622' '1213' '136' '931' '1070'
 '1071' '612' '458' '477' '664' '1023' '1178' '452' '690' '1199' '1175'
 '1144' '988' '1411' '1629' '279' '646' '998' '275' '587' '176' '1222'
 '1020' '740' '654' '625' '349' '1185' '1092' '1686' '1261' '903' '870'
 '961' '426' '682' '1045' '945' '571' '714' '673' '956' '444' '483' '699'
 '1108' '410' '1355' '981' '1265' '678' '512' '982' '885' '963' '909'
 '832' '1380' '955' '1034' '693' '485' '806' '478' '197' '1331' '378'
 '798' '1277' '635' '437' '1027' '978' '1077' '1161' '1292' '487' '643'
 '1081' '572' '1346' '308' '313' '766' '333' '1350' '184' '844' '1006'
 '288' '1012' '926' '1694' '374' '1120' '1360' '589' '1280' '609' '1224'
 '120' '482' '914' '645' '421' '1727' '249' '813' '910' '1286' '1158'
 '397' '954' '907' '730' '204' '494' '700' '829' '445' '1079' '1098' '872'
 '507' '461' '716' '579' '1163' '930' '1732' '724' '628' '897' '297'
 '1127' '1151' '750' '947' '631' '1024' '1739' '1735' '372' '1257' '999'
 '314' '1152' '412' '742' '436' '1003' '735' '1706' '351' '394' '1192'
 '663' '933' '252' '808' '1206' '366' '1022' '1030' '453' '375' '775'
 '884' '943' '434' '995' '216']

The score data are all clean and do not consist of null values, these values should be converted to integer format.

## **Converting score and memory column to numeric format**

In [42]:
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1481 non-null   int64
 1   team_id             1481 non-null   int64
 2   Single core score1  1481 non-null   object
 3   Single core score2  1481 non-null   object
 4   Single core score3  1481 non-null   object
 5   Single core score4  1481 non-null   object
 6   Multi core score1   1481 non-null   object
 7   Multi core score2   1481 non-null   object
 8   Multi core score3   1481 non-null   object
 9   Multi core score4   1481 non-null   object
 10  OpenCL score1       1481 non-null   object
 11  OpenCL score2       1481 non-null   object
 12  OpenCL score3       1481 non-null   object
 13  OpenCL score4       1481 non-null   object
 14  OS1                 1481 non-null   object
 15  OS2                 1481 non-null   object
 16  OS3                 1481 non-null   object
 17  OS4                 1481 non-null   object
 18  Model1              1481 non-null   object
 19  Model2              1481 non-null   object
 20  Model3              1481 non-null   object
 21  Model4              1481 non-null   object
 22  CPU1                1481 non-null   object
 23  CPU2                1481 non-null   object
 24  CPU3                1481 non-null   object
 25  CPU4                1481 non-null   object
 26  Memory1             1481 non-null   object
 27  Memory2             1481 non-null   object
 28  Memory3             1481 non-null   object
 29  Memory4             1481 non-null   object
 30  Graphic Card1       1481 non-null   object
 31  Graphic Card2       1481 non-null   object
 32  Graphic Card3       1481 non-null   object
 33  Graphic Card4       1481 non-null   object
dtypes: int64(2), object(32)
memory usage: 393.5+ KB

In [43]:
columns = ['Single core score1', 'Single core score2', 'Single core score3', 'Single core score4', 'Multi core score1', 'Multi core score2', 'Multi core score3', 'Multi core score4', 'Memory1', 'Memory2', 'Memory3', 'Memory4']
def Convert_to_numerical(columns):
  for cols in columns:
    pc_details[cols] = pc_details[cols].apply(pd.to_numeric, errors='coerce')
  return pc_details

pc_details = Convert_to_numerical(columns)

In [44]:
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1481 non-null   int64
 1   team_id             1481 non-null   int64
 2   Single core score1  1227 non-null   float64
 3   Single core score2  1114 non-null   float64
 4   Single core score3  1109 non-null   float64
 5   Single core score4  1121 non-null   float64
 6   Multi core score1   1227 non-null   float64
 7   Multi core score2   1114 non-null   float64
 8   Multi core score3   1109 non-null   float64
 9   Multi core score4   1121 non-null   float64
 10  OpenCL score1       1481 non-null   object
 11  OpenCL score2       1481 non-null   object
 12  OpenCL score3       1481 non-null   object
 13  OpenCL score4       1481 non-null   object
 14  OS1                 1481 non-null   object
 15  OS2                 1481 non-null   object
 16  OS3                 1481 non-null   object
 17  OS4                 1481 non-null   object
 18  Model1              1481 non-null   object
 19  Model2              1481 non-null   object
 20  Model3              1481 non-null   object
 21  Model4              1481 non-null   object
 22  CPU1                1481 non-null   object
 23  CPU2                1481 non-null   object
 24  CPU3                1481 non-null   object
 25  CPU4                1481 non-null   object
 26  Memory1             1481 non-null   float64
 27  Memory2             1481 non-null   float64
 28  Memory3             1481 non-null   float64
 29  Memory4             1481 non-null   float64
 30  Graphic Card1       1481 non-null   object
 31  Graphic Card2       1481 non-null   object
 32  Graphic Card3       1481 non-null   object
 33  Graphic Card4       1481 non-null   object
dtypes: float64(12), int64(2), object(20)
memory usage: 393.5+ KB

In [45]:
a = pc_details['Memory1'].unique()
print(a) # Check with one column

[ 3.62  2.    1.   15.52  8.    7.56  7.69  7.6  15.3   0.    5.74  7.77
  7.68  7.67 15.51  3.76  4.    3.86 16.   11.58  1.95  7.62  2.84  7.66
  7.55  3.92 15.57  7.85  3.3   3.63  7.64 15.49  6.75 15.37  3.74  3.55
  3.77 15.41 15.14  3.73  3.71  7.14  7.86  3.75  7.44  3.69  7.63 15.39
  5.59 11.49 15.55  7.65  7.51  7.52]

## **Analzing other columns**

In [46]:
a = pc_details['CPU1'].unique()
print(a)

['Intel Core i3-1005G1' 'Intel Core i7-9750H' 'Intel Core i3-3217U'
 'Intel Core i7-8565U' 'Intel Core i5-10300H' 'Intel Core i7-8750H'
 'Intel Core i3-5005U' 'Intel Core i5-1135G7' 'AMD Ryzen 5 2500U'
 'Intel Core i5-8300H' 'Intel Core i5-1035G1' 'Intel Core i5-8265U'
 'Intel Core i5-8210Y' 'Intel Core i5-8250U' 'AMD Ryzen 5 5500U'
 'AMD Ryzen 5 4600H' 'AMD Ryzen 7 3750H' 'Intel Core i5-7200U'
 'Intel Core i5-7300HQ' 'Intel Core i5-5200U' 'Intel Core i5-1035G4'
 'Intel Core i7-7700HQ' 'Intel Core i3-7020U' 'Intel Core i7-10750H'
 'Intel Core i5-10210U' 'AMD Ryzen 5 3550H' 'Intel Core i3-380M'
 'Intel Core i5-6200U' 'Intel Core i5-9300HF' 'Nil'
 'ASUSTeK COMPUTER INC. X409JB' 'Intel Core i5-9300H' 'Intel Core i5-520M'
 'AMD Ryzen 3 3200U' 'AMD Ryzen 5 3500U' 'Intel Core i5-8259U'
 'Intel Core i5-6402P' 'AMD Ryzen 5 2600' 'AMD Ryzen 3 3250U'
 'CFL Covini_CFS' 'HP 8742' 'Intel Core i3-7100'
 'ASUSTeK COMPUTER INC. X513EA' 'Intel Core i5-5350U'
 'Intel Core i5-3320M' 'Intel Core i5-4570' 'AMD A8-6410'
 'Intel Core i5-8257U' 'LENOVO LNVNB161216' 'Intel Core i3-7100U'
 'Dell Inc. 0NV0M7' 'AMD A4-9120e' 'Intel Pentium N3710'
 'Intel Core i7-1065G7' 'Intel Pentium 4405U' 'Intel Pentium N4200'
 'Intel Core i5-4210M' 'ASUSTeK COMPUTER INC. G512LI' 'Intel Core i5-8400'
 'Hewlett-Packard 220D' 'Intel Core i7-8550U' 'Intel Core 2 Duo E7500'
 'AMD A9-9400' 'AMD Ryzen 5 4500U' 'Intel Core i3-5010U'
 'Intel Core i5-2520M' 'HP 87FD' 'HP 8533' 'Intel Core i7-11370H'
 'Intel Core i3-4005U' 'AMD A8-7410' 'AMD Ryzen 7 4800H'
 'Intel Core i7-9700F' 'Intel Core i3-8145U' 'Intel Core i7-7500U'
 'Intel Core i3-6006U' 'AMD Ryzen 5 5600H' 'AMD Ryzen 3 2200U'
 'Intel Core i3-3210' 'Apple M1' 'Intel Core i7-10510U'
 'Intel Core i5-1038NG7' 'Intel Core i3-4030U' 'AMD PRO A4-4350B'
 'AMD A8-5545M' 'HP 8487' 'Intel Core i3-1115G4' 'Intel Core i7-5600U'
 'Intel Core i7-1165G7' 'Intel Core i3-350M' 'CFL Sienta_CFS'
 'AMD Ryzen 5 3500' 'Intel Core i5-9400F' 'Intel Core i5-9400'
 'AMD Ryzen 5 3450U with Radeon Vega Mobile Gfx' 'Intel Core i5-3427U'
 'Intel Core i5-8265UC' 'AMD Ryzen 7 4700U' 'HP 8786' 'AMD Ryzen 9 5900HS'
 'Intel Core i5-3230M' 'HP 85FC'
 'Apple Inc. Mac-827FAC58A8FDFA22 MacBookAir8,1' 'Intel Core i5-4210U'
 'Intel Core i7-10870H' 'Intel Core i5-11300H' 'AMD Ryzen 3 3200G'
 'Intel Core i5-9600K' 'AMD E2-9000' 'Intel Core i3-6100U'
 'Intel Core i5-5250U' 'AMD A6-4400M' 'AMD A4-3330MX' 'HP 8656'
 'Intel Celeron N3050' 'Intel Pentium B940' 'AMD A6-7310'
 'Intel Core i7-2600' 'Intel Pentium Gold 4417U' 'Intel Core i7-4510U'
 'Intel Core i5-1030NG7' 'Intel Core i5-11400' 'Intel Core i5-5300U'
 'Intel Core i3-10110U' 'Intel Core i5-6300U' 'Intel Pentium B950'
 'ASUSTeK COMPUTER INC. G712LU' 'AMD Ryzen 5 4600HSS' 'Dell Inc. 0K83NX'
 'HP 85E0' 'Dell Inc. 0FV465' 'Intel Core i7-6660U' 'Dell Inc. 0M78VH'
 'Acer EA50_HC_CR' 'Intel Core i3-2120' 'Intel Core i3-8130U'
 'AMD A4 Pro-3350B' 'Intel Core i5-1035G7' 'Intel Core i7-10610U'
 'Intel Core i5-480M' 'Intel Core i5-4300M' 'CFL Azalea_FMS'
 'AMD Ryzen 5 3600' 'Dell Inc. 0MF26F' 'Intel Core i5-3340M'
 'Intel Core i3-3227U' 'Intel Core i3-3220' 'Intel Pentium G2030'
 'ASUSTeK COMPUTER INC. X421EPY' 'Intel Core i5-10600K'
 'Intel Core i3-4010U' 'Intel Celeron N3060' 'Intel Core i3-7130U'
 'AMD Phenom II X4 840' 'AMD Ryzen 7 5800H' 'Intel Core i5-2430M'
 'ARM Qualcomm' 'Intel Core i3-4150' 'Intel Core i3-2130'
 'Apple Inc. Mac-E7203C0F68AA0004 MacBookPro16,3' 'HP 881E'
 'Intel Celeron N2820' 'KBL Freed_KLS' 'Intel Core i3-1000NG4'
 'Intel Pentium 3558U' 'Intel Pentium N3540' 'Intel Core i3-4012Y'
 'AMD Ryzen 7 3700U' 'AMD Ryzen 9 5900HX' 'Intel Core i3-4160'
 'Dell Inc. 0CPWYR' 'Intel Pentium 2020M' 'AMD A6-7400K'
 'AMD Ryzen 7 5700U' 'AMD A6-9225' 'MacBookAir10,1'
 'Apple Inc. Mac-937CB26E2E02BB01 MacBookAir7,2' 'HP 866E' 'HP 852E'
 'Dell Inc. 0V3F5M' 'Intel Core i7-10710U' 'Intel Core i5-10200H'
 'Intel Core i5-8500' 'Intel Core i5-4200U' 'Qualcomm Qualcomm'
 'AMD Athlon Silver 3050U' 'Dell Inc. 09PY2G' 'Intel Celeron 3865U'
 'AMD PRO A10-8700B' 'Intel Core i3-3110M' 'HP 81EC'
 'Intel Core i7-4870HQ' 'ASUSTeK COMPUTER INC. G531GT' 'Dell Inc. 0MTYV1'
 'Intel Core i7-4600U' 'Intel Core i5-2410M' 'Intel Core i3-8100'
 'AMD Ryzen 7 4800HS' 'Intel Core i5-580M' 'Intel Pentium G4560'
 'AMD Ryzen 3 3100' 'Intel Core i3-9100F' 'HP 881D' 'Intel Core i7-2670QM'
 'Intel Core i7-6500U' 'Intel Core i7-7700' 'MacBookPro17,1'
 'Intel Core i5-2300' 'Dell Inc. 08HGD3' 'Intel Pentium J4205'
 'Intel Core i5-3380M' 'AMD Ryzen 3 3300U with Radeon Vega Mobile Gfx'
 'Intel Core i3-2120T' 'Intel Core i5-4288U' 'Intel Core i9-9900K'
 'Intel Core i5-3450' 'AMD Ryzen 7 2700' 'Intel Xeon Platinum 8171M'
 'AMD A9-9420' 'Intel Core 2 Quad Q6600' 'Intel Core i5-2400S'
 'Dell Inc. 0M15G0' 'AMD Ryzen 5 3600X' 'Intel Core i5-2320'
 'Intel Core 2 Duo E7400' 'AMD A4-9125' 'LENOVO 20K5A0QWIG'
 'Sony Corporation VAIO' 'AMD E2-6110' 'AMD Ryzen 5 2400G'
 'Intel Core i7-7660U' 'Intel Pentium N3530']

In [47]:
a = pc_details['Graphic Card1'].unique()
print(a)

[0 '3.14  ' '1.37  ' '2.00   3.00  ' '4.00  ' '3.16  ' '2.00  ' '4.92  '
 '3.11  ' '1.50  ' '1.55  ' 'GeForce GTX 1650' '6.00  ' '6.37  '
 '4.00 MB x 1' '3.12  ' '3.82  ' '3.95  ' '3.15  ' '5.52  '
 'AMD RADV RAVEN (ACO)' '3.00  ' 'AMD RADV POLARIS11 (ACO)' '4.02  '
 '1.56  ' '3.08  ' '1.95   800 MHz' 'Nil' '1.96   2.50  ' '1.57  '
 '1.33  ' '1.00 MB x 1' '4.71  ' '4.04  ' '1.52  ' '3.10  ' '3.13  '
 '1.59  ' '6.36  ' 'AMD Radeon (TM) R5 M430' '3.09  ' '3.06  ' '6.27  '
 '4.03  ' '2.47  ' '1.54  ' 'Intel(R) Iris(R) Plus Graphics' '1.23  '
 'Apple M1' '3.17  ' '2.00   5.00  ' '1.38  ' '1.22  ' '4.76  ' '6.08  '
 '12.4  ' '2.33  ' 'Intel(R) Iris(R) Xe Graphics' '8.00  ' '5.33  '
 '6.07  ' '4.00   6.00  ' '7.04  ' '3.42  ' '5.80  ' '3.00 MB x 1'
 '6.31  ' '1.61  ' '1.62  ' '1.96  ' '1.24  ' '6.00   6.00  ' '3.99  '
 '2.89  ' '3.98  ' '6.34  ' '2.97  ' '6.33  ' '1.96   3.50  '
 '6.00 MB x 1' '6.00   7.00  ' '1.32  ' '1.02  ' '3.04  ' '3.41  '
 '1.39  ' '5.54  ' '3.40  ' '3.02  ' '4.74  ' '3.81  ' '1.53  ' '6.32  '
 '4.00   4.00  ' '3.00   3.50  ' '3.72  ' '8.00   6.00  ' '1.34  '
 '2.36  ' '12.0  ' '7.01  ' 'AMD Radeon(TM) Vega 8 Graphics' '1.94  '
 '1.49  ' 'Intel(R) UHD Graphics 630 (CFL GT2)' '5.93  ' '3.82   4.00  '
 'Intel(R) UHD Graphics 620' '1.51  ' 'Intel(R) HD Graphics 520' '4.77  '
 '4.73  ' '6.35  ' 'Intel(R) HD Graphics 620' '1.00  ' '6.30  ' '6.29  '
 'GeForce MX250' '3.07  ' '6.28  ' 'AMD Radeon(TM) Graphics'
 'Radeon RX 570 Series' '1.35  ' '512 MB']

## **Cleaning Graphic card details**

In [48]:
columns = ['Graphic Card1', 'Graphic Card2', 'Graphic Card3', 'Graphic Card4']

def Graphic_card_replace(columns):  # Removing text data
  for cols in columns:
    pc_details[cols] = pc_details[cols].str.split(' ').str[0]
  return pc_details

pc_details = Graphic_card_replace(columns)

In [49]:
a = pc_details['Graphic Card1'].unique()
print(a)

[nan '3.14' '1.37' '2.00' '4.00' '3.16' '4.92' '3.11' '1.50' '1.55'
 'GeForce' '6.00' '6.37' '3.12' '3.82' '3.95' '3.15' '5.52' 'AMD' '3.00'
 '4.02' '1.56' '3.08' '1.95' 'Nil' '1.96' '1.57' '1.33' '1.00' '4.71'
 '4.04' '1.52' '3.10' '3.13' '1.59' '6.36' '3.09' '3.06' '6.27' '4.03'
 '2.47' '1.54' 'Intel(R)' '1.23' 'Apple' '3.17' '1.38' '1.22' '4.76'
 '6.08' '12.4' '2.33' '8.00' '5.33' '6.07' '7.04' '3.42' '5.80' '6.31'
 '1.61' '1.62' '1.24' '3.99' '2.89' '3.98' '6.34' '2.97' '6.33' '1.32'
 '1.02' '3.04' '3.41' '1.39' '5.54' '3.40' '3.02' '4.74' '3.81' '1.53'
 '6.32' '3.72' '1.34' '2.36' '12.0' '7.01' '1.94' '1.49' '5.93' '1.51'
 '4.77' '4.73' '6.35' '6.30' '6.29' '3.07' '6.28' 'Radeon' '1.35' '512']

In [52]:
columns = ['Graphic Card1', 'Graphic Card2', 'Graphic Card3', 'Graphic Card4']

def Graphic_null_replace(columns):   # Converting nil and null values to 0 and replacing text data
  for cols in columns:
    pc_details[cols] = pc_details[cols].replace('Nil' , '')
    pc_details[cols] = pc_details[cols].apply(pd.to_numeric,errors='coerce') # Replace text data with NaN
    pc_details[cols] = pc_details[cols].fillna(0)
  return pc_details

pc_details = Graphic_null_replace(columns)

In [53]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,CPU3,CPU4,Memory1,Memory2,Memory3,Memory4,Graphic Card1,Graphic Card2,Graphic Card3,Graphic Card4
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,...,Intel Core i5-7200U,AMD Ryzen 5 3500U,3.62,3.64,3.73,5.74,0.00,0.00,0.00,0.0
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,...,Intel Core i3-2350M,Intel Core i5-5200U,2.00,2.00,2.00,1.00,3.14,2.00,0.00,2.0
2,2,1003,363.0,451.0,488.0,0.0,779.0,1154.0,1116.0,0.0,...,Intel Core i3-3110M,0,1.00,1.00,2.00,0.00,1.37,1.56,1.37,0.0
3,3,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,...,Intel Core i5-8250U,Intel Core i7-6500U,1.00,2.00,1.00,1.00,2.00,6.00,3.16,2.0
4,4,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,...,AMD Ryzen 5 4600H,Intel Core i7-9750H,15.52,1.00,1.00,1.00,0.00,6.00,4.00,6.0

In [54]:
a = pc_details['Graphic Card1'].unique()
print(a)

[  0.     3.14   1.37   2.     4.     3.16   4.92   3.11   1.5    1.55
   6.     6.37   3.12   3.82   3.95   3.15   5.52   3.     4.02   1.56
   3.08   1.95   1.96   1.57   1.33   1.     4.71   4.04   1.52   3.1
   3.13   1.59   6.36   3.09   3.06   6.27   4.03   2.47   1.54   1.23
   3.17   1.38   1.22   4.76   6.08  12.4    2.33   8.     5.33   6.07
   7.04   3.42   5.8    6.31   1.61   1.62   1.24   3.99   2.89   3.98
   6.34   2.97   6.33   1.32   1.02   3.04   3.41   1.39   5.54   3.4
   3.02   4.74   3.81   1.53   6.32   3.72   1.34   2.36  12.     7.01
   1.94   1.49   5.93   1.51   4.77   4.73   6.35   6.3    6.29   3.07
   6.28   1.35 512.  ]

In [55]:
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1481 non-null   int64
 1   team_id             1481 non-null   int64
 2   Single core score1  1227 non-null   float64
 3   Single core score2  1114 non-null   float64
 4   Single core score3  1109 non-null   float64
 5   Single core score4  1121 non-null   float64
 6   Multi core score1   1227 non-null   float64
 7   Multi core score2   1114 non-null   float64
 8   Multi core score3   1109 non-null   float64
 9   Multi core score4   1121 non-null   float64
 10  OpenCL score1       1481 non-null   object
 11  OpenCL score2       1481 non-null   object
 12  OpenCL score3       1481 non-null   object
 13  OpenCL score4       1481 non-null   object
 14  OS1                 1481 non-null   object
 15  OS2                 1481 non-null   object
 16  OS3                 1481 non-null   object
 17  OS4                 1481 non-null   object
 18  Model1              1481 non-null   object
 19  Model2              1481 non-null   object
 20  Model3              1481 non-null   object
 21  Model4              1481 non-null   object
 22  CPU1                1481 non-null   object
 23  CPU2                1481 non-null   object
 24  CPU3                1481 non-null   object
 25  CPU4                1481 non-null   object
 26  Memory1             1481 non-null   float64
 27  Memory2             1481 non-null   float64
 28  Memory3             1481 non-null   float64
 29  Memory4             1481 non-null   float64
 30  Graphic Card1       1481 non-null   float64
 31  Graphic Card2       1481 non-null   float64
 32  Graphic Card3       1481 non-null   float64
 33  Graphic Card4       1481 non-null   float64
dtypes: float64(16), int64(2), object(16)
memory usage: 393.5+ KB

## **Cleaning opencl score data**

In [56]:
a = pc_details['OpenCL score1'].unique()
print(a)

[0 '5735' '908' ... '217' '2143' '34544']

In [57]:
columns = ['OpenCL score1', 'OpenCL score2', 'OpenCL score3', 'OpenCL score4']

def Opencl_clean(columns):   # Converting nil and null values to 0 and replacing text data
  for cols in columns:
    pc_details[cols] = pc_details[cols].replace('Nil' , '')
    pc_details[cols] = pc_details[cols].apply(pd.to_numeric,errors='coerce') # Replace text data with NaN
    pc_details[cols] = pc_details[cols].fillna(0)
  return pc_details

pc_details = Opencl_clean(columns)

In [58]:
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1481 non-null   int64
 1   team_id             1481 non-null   int64
 2   Single core score1  1227 non-null   float64
 3   Single core score2  1114 non-null   float64
 4   Single core score3  1109 non-null   float64
 5   Single core score4  1121 non-null   float64
 6   Multi core score1   1227 non-null   float64
 7   Multi core score2   1114 non-null   float64
 8   Multi core score3   1109 non-null   float64
 9   Multi core score4   1121 non-null   float64
 10  OpenCL score1       1481 non-null   float64
 11  OpenCL score2       1481 non-null   float64
 12  OpenCL score3       1481 non-null   float64
 13  OpenCL score4       1481 non-null   float64
 14  OS1                 1481 non-null   object
 15  OS2                 1481 non-null   object
 16  OS3                 1481 non-null   object
 17  OS4                 1481 non-null   object
 18  Model1              1481 non-null   object
 19  Model2              1481 non-null   object
 20  Model3              1481 non-null   object
 21  Model4              1481 non-null   object
 22  CPU1                1481 non-null   object
 23  CPU2                1481 non-null   object
 24  CPU3                1481 non-null   object
 25  CPU4                1481 non-null   object
 26  Memory1             1481 non-null   float64
 27  Memory2             1481 non-null   float64
 28  Memory3             1481 non-null   float64
 29  Memory4             1481 non-null   float64
 30  Graphic Card1       1481 non-null   float64
 31  Graphic Card2       1481 non-null   float64
 32  Graphic Card3       1481 non-null   float64
 33  Graphic Card4       1481 non-null   float64
dtypes: float64(20), int64(2), object(12)
memory usage: 393.5+ KB

Now we can see that only OS, CPU and Model are in Text format all other data are in numeric format

In [59]:
print(pc_details.isna().sum().sort_values(ascending=False).to_markdown())

|                    |   0 |
|:-------------------|----:|
| Single core score3 | 372 |
| Multi core score3  | 372 |
| Single core score2 | 367 |
| Multi core score2  | 367 |
| Single core score4 | 360 |
| Multi core score4  | 360 |
| Single core score1 | 254 |
| Multi core score1  | 254 |
| Unnamed: 0         |   0 |
| Memory2            |   0 |
| CPU2               |   0 |
| CPU3               |   0 |
| CPU4               |   0 |
| Memory1            |   0 |
| Graphic Card3      |   0 |
| Memory3            |   0 |
| Memory4            |   0 |
| Graphic Card1      |   0 |
| Graphic Card2      |   0 |
| Model4             |   0 |
| CPU1               |   0 |
| OS4                |   0 |
| Model3             |   0 |
| Model2             |   0 |
| Model1             |   0 |
| team_id            |   0 |
| OS3                |   0 |
| OS2                |   0 |
| OS1                |   0 |
| OpenCL score4      |   0 |
| OpenCL score3      |   0 |
| OpenCL score2      |   0 |
| OpenCL score1      |   0 |
| Graphic Card4      |   0 |

## **Replacing null values in single and multi core scores**

In [60]:
columns = ['Single core score1', 'Single core score2', 'Single core score3', 'Single core score4', 'Multi core score1', 'Multi core score2', 'Multi core score3', 'Multi core score4']
def Replace_null(columns):
  for cols in columns:
    pc_details[cols] = pc_details[cols].fillna(0)
  return pc_details

pc_details = Replace_null(columns)

In [61]:
print(pc_details.isna().sum().sort_values(ascending=False).to_markdown())

|                    |   0 |
|:-------------------|----:|
| Unnamed: 0         |   0 |
| CPU4               |   0 |
| Model2             |   0 |
| Model3             |   0 |
| Model4             |   0 |
| CPU1               |   0 |
| CPU2               |   0 |
| CPU3               |   0 |
| Memory1            |   0 |
| team_id            |   0 |
| Memory2            |   0 |
| Memory3            |   0 |
| Memory4            |   0 |
| Graphic Card1      |   0 |
| Graphic Card2      |   0 |
| Graphic Card3      |   0 |
| Model1             |   0 |
| OS4                |   0 |
| OS3                |   0 |
| OS2                |   0 |
| OS1                |   0 |
| OpenCL score4      |   0 |
| OpenCL score3      |   0 |
| OpenCL score2      |   0 |
| OpenCL score1      |   0 |
| Multi core score4  |   0 |
| Multi core score3  |   0 |
| Multi core score2  |   0 |
| Multi core score1  |   0 |
| Single core score4 |   0 |
| Single core score3 |   0 |
| Single core score2 |   0 |
| Single core score1 |   0 |
| Graphic Card4      |   0 |

In [62]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,CPU3,CPU4,Memory1,Memory2,Memory3,Memory4,Graphic Card1,Graphic Card2,Graphic Card3,Graphic Card4
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,...,Intel Core i5-7200U,AMD Ryzen 5 3500U,3.62,3.64,3.73,5.74,0.00,0.00,0.00,0.0
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,...,Intel Core i3-2350M,Intel Core i5-5200U,2.00,2.00,2.00,1.00,3.14,2.00,0.00,2.0
2,2,1003,363.0,451.0,488.0,0.0,779.0,1154.0,1116.0,0.0,...,Intel Core i3-3110M,0,1.00,1.00,2.00,0.00,1.37,1.56,1.37,0.0
3,3,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,...,Intel Core i5-8250U,Intel Core i7-6500U,1.00,2.00,1.00,1.00,2.00,6.00,3.16,2.0
4,4,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,...,AMD Ryzen 5 4600H,Intel Core i7-9750H,15.52,1.00,1.00,1.00,0.00,6.00,4.00,6.0

In [63]:
pc_details.to_csv('Cleaned_pc_specs2.csv', index = True)