<a href="https://colab.research.google.com/github/adityapanwar94/Data-Analysis-and-Process-Automation-DaPrA-/blob/drishti/Dataset_filtering_and_managing_null_values(User_data_only%2C_no_computer_specs_25_06_22).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Importing Dataset**

In [83]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [84]:
!unzip -q /content/drive/MyDrive/eYSIP_Data/Dataset25-06.zip

replace Dataset (25-06-22)/Dataset(24-06-22).csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace Dataset (25-06-22)/departments(new).csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace Dataset (25-06-22)/Team_Members_Details_ DaPrA - output_geekbench.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace Dataset (25-06-22)/Team_Members_Details_ DaPrA - team_member_details_30_09.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y

## **Importing Libraries**

In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import groupby
from sklearn.preprocessing import OneHotEncoder

In [86]:
Mem_data24 = pd.read_csv(r'/content/Dataset (25-06-22)/Dataset(24-06-22).csv')
Mem_data24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            5172 non-null   int64
 1   team_id               5172 non-null   int64
 2   role                  5172 non-null   int64
 3   Discipline            5161 non-null   float64
 4   Year                  5161 non-null   float64
 5   Gender                5161 non-null   float64
 6   elsiLab               5153 non-null   float64
 7   cgpa                  4907 non-null   float64
 8   onlineCourse          5154 non-null   float64
 9   completeCourse        5154 non-null   float64
 10  ssc_board             4950 non-null   object
 11  hsc_board             4947 non-null   object
 12  workstation           5154 non-null   float64
 13  internetspeed         4067 non-null   object
 14  sub_ros               5161 non-null   float64
 15  sub_ip                5161 non-null   float64
 16  sub_emb_c             5161 non-null   float64
 17  sub_ml                5161 non-null   float64
 18  sub_ap                5161 non-null   float64
 19  sub_cs                5161 non-null   float64
 20  sub_mss               5161 non-null   float64
 21  sub_fpga              5161 non-null   float64
 22  sub_mm                5161 non-null   float64
 23  sub_de                5161 non-null   float64
 24  preference1           5120 non-null   float64
 25  preference2           5120 non-null   float64
 26  preference3           5120 non-null   float64
 27  preference4           5120 non-null   float64
 28  preference5           5120 non-null   float64
 29  preference6           5120 non-null   float64
 30  IS_eLSI               5172 non-null   int64
 31  country               5172 non-null   object
 32  Participation_Freq    5172 non-null   int64
 33  Internet_option_freq  5172 non-null   int64
 34  Department_category   5111 non-null   float64
dtypes: float64(25), int64(6), object(4)
memory usage: 1.4+ MB

In [87]:
Mem_data24.drop(['Unnamed: 0'], axis=1,inplace=True)

In [88]:
def unique_chart(Dataset):
  uni_dict = {}
  uni_value ={}
  keys = Dataset.columns
  for i in keys:
    uni_dict[i] = Dataset[i].nunique()
    if Dataset[i].nunique() <= 10:
      uni_value[i] = Dataset[i].unique()
    else:
      uni_value[i] = None
  Unique = pd.DataFrame([uni_dict, uni_value]) 
  return (Unique)

## **Converting SSc and HSc columns into numerical data**

In [89]:
Mem_data24['ssc_board'].replace(['SB', 'CBSE', 'CISCE','OT', 'NIOS'], [0, 1, 2, 3, 4], inplace=True)
Mem_data24['hsc_board'].replace(['SB', 'CBSE', 'CISCE','OT', 'NIOS'], [0, 1, 2, 3, 4], inplace=True)

## **Converting internet speed into categories upto 1, 10, 50, 100, 150 and 200**

In [90]:
Mem_data24['internetspeed'].replace(['Upto 1 Mbps', 'Upto 10 Mbps','Upto 50 Mbps', 'Upto 100 Mbps', 'Upto 150 Mbps', 'Upto 200 Mbps & more'], [1, 10, 50, 100, 150, 200], inplace=True)

In [91]:
Mem_data24.rename(columns = {'internetspeed':'internetspeed<'}, inplace = True)

## **Converting country column into numerical value**

In [92]:
Mem_data24['country'].replace(['India', 'Bhutan', 'Sri Lanka'], [0, 1, 2], inplace=True)

In [93]:
Mem_data24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   team_id               5172 non-null   int64
 1   role                  5172 non-null   int64
 2   Discipline            5161 non-null   float64
 3   Year                  5161 non-null   float64
 4   Gender                5161 non-null   float64
 5   elsiLab               5153 non-null   float64
 6   cgpa                  4907 non-null   float64
 7   onlineCourse          5154 non-null   float64
 8   completeCourse        5154 non-null   float64
 9   ssc_board             4950 non-null   float64
 10  hsc_board             4947 non-null   float64
 11  workstation           5154 non-null   float64
 12  internetspeed<        4067 non-null   float64
 13  sub_ros               5161 non-null   float64
 14  sub_ip                5161 non-null   float64
 15  sub_emb_c             5161 non-null   float64
 16  sub_ml                5161 non-null   float64
 17  sub_ap                5161 non-null   float64
 18  sub_cs                5161 non-null   float64
 19  sub_mss               5161 non-null   float64
 20  sub_fpga              5161 non-null   float64
 21  sub_mm                5161 non-null   float64
 22  sub_de                5161 non-null   float64
 23  preference1           5120 non-null   float64
 24  preference2           5120 non-null   float64
 25  preference3           5120 non-null   float64
 26  preference4           5120 non-null   float64
 27  preference5           5120 non-null   float64
 28  preference6           5120 non-null   float64
 29  IS_eLSI               5172 non-null   int64
 30  country               5172 non-null   int64
 31  Participation_Freq    5172 non-null   int64
 32  Internet_option_freq  5172 non-null   int64
 33  Department_category   5111 non-null   float64
dtypes: float64(28), int64(6)
memory usage: 1.3 MB

## **Analysing Null and Unique values**

In [94]:
print(Mem_data24.isna().sum().sort_values(ascending=False).to_markdown())

|                      |    0 |
|:---------------------|-----:|
| internetspeed<       | 1105 |
| cgpa                 |  265 |
| hsc_board            |  225 |
| ssc_board            |  222 |
| Department_category  |   61 |
| preference4          |   52 |
| preference5          |   52 |
| preference6          |   52 |
| preference3          |   52 |
| preference2          |   52 |
| preference1          |   52 |
| elsiLab              |   19 |
| onlineCourse         |   18 |
| completeCourse       |   18 |
| workstation          |   18 |
| sub_mss              |   11 |
| sub_de               |   11 |
| sub_mm               |   11 |
| sub_fpga             |   11 |
| sub_ap               |   11 |
| sub_cs               |   11 |
| sub_ml               |   11 |
| sub_emb_c            |   11 |
| sub_ip               |   11 |
| sub_ros              |   11 |
| Gender               |   11 |
| Year                 |   11 |
| Discipline           |   11 |
| role                 |    0 |
| IS_eLSI              |    0 |
| country              |    0 |
| Participation_Freq   |    0 |
| Internet_option_freq |    0 |
| team_id              |    0 |

In [95]:
Unique = unique_chart(Mem_data24)
print(Unique.to_markdown())

|    |   team_id | role   | Discipline                    | Year                  | Gender        | elsiLab       |   cgpa |   onlineCourse |   completeCourse | ssc_board                 | hsc_board                 | workstation   | internetspeed<                       | sub_ros                   | sub_ip                    | sub_emb_c                 | sub_ml                    | sub_ap                    | sub_cs                    | sub_mss                   | sub_fpga                  | sub_mm                    | sub_de                    | preference1                   | preference2                   | preference3                   | preference4                   | preference5                   | preference6                   | IS_eLSI   | country   | Participation_Freq   | Internet_option_freq   | Department_category   |
|---:|----------:|:-------|:------------------------------|:----------------------|:--------------|:--------------|-------:|---------------:|-----------------:|:--------------------------|:--------------------------|:--------------|:-------------------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:--------------------------|:------------------------------|:------------------------------|:------------------------------|:------------------------------|:------------------------------|:------------------------------|:----------|:----------|:---------------------|:-----------------------|:----------------------|
|  0 |      1293 | 2      | 6                             | 4                     | 2             | 2             |    755 |             40 |               35 | 5                         | 5                         | 2             | 6                                    | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 5                         | 6                             | 6                             | 6                             | 6                             | 6                             | 6                             | 2         | 3         | 4                    | 6                      | 4                     |
|  1 |       nan | [1 2]  | [ 0.  1.  2.  3.  4.  5. nan] | [ 3.  2.  4.  1. nan] | [ 0.  1. nan] | [ 1.  2. nan] |    nan |            nan |              nan | [ 0.  1.  2. nan  3.  4.] | [ 1.  0.  2.  4. nan  3.] | [ 1.  2. nan] | [  1.  10.  50. 150. 200. 100.  nan] | [ 1.  0.  4.  3.  2. nan] | [ 0.  2.  3.  1.  4. nan] | [ 1.  0.  3.  2.  4. nan] | [ 0.  1.  3.  4.  2. nan] | [ 0.  2.  1.  3.  4. nan] | [ 2.  1.  0.  3.  4. nan] | [ 0.  1.  3.  2.  4. nan] | [ 1.  0.  2.  4.  3. nan] | [ 0.  2.  1.  3. nan  4.] | [ 2.  1.  0.  3.  4. nan] | [ 0.  1.  2.  3.  4.  5. nan] | [ 1.  3.  5.  0.  2.  4. nan] | [ 4.  1.  5.  3.  0.  2. nan] | [ 3.  4.  5.  1.  0.  2. nan] | [ 5.  2.  3.  4.  1.  0. nan] | [ 2.  4.  0.  5.  3.  1. nan] | [1 0]     | [0 1 2]   | [1 0 2 3]            | [3 2 1 4 5 0]          | [ 0.  1.  2.  3. nan] |

## **Finding out the list of teams with all preferences empty**

In [96]:
compare1 = Mem_data24.preference1.isnull().groupby(Mem_data24['team_id']).sum().astype(int).reset_index(name='count1')
compare2 = Mem_data24.preference1.isnull().groupby(Mem_data24['team_id']).sum().astype(int).reset_index(name='count2')
compare3 = Mem_data24.preference1.isnull().groupby(Mem_data24['team_id']).sum().astype(int).reset_index(name='count3')
compare4 = Mem_data24.preference1.isnull().groupby(Mem_data24['team_id']).sum().astype(int).reset_index(name='count4')
compare5 = Mem_data24.preference1.isnull().groupby(Mem_data24['team_id']).sum().astype(int).reset_index(name='count5')
compare6 = Mem_data24.preference1.isnull().groupby(Mem_data24['team_id']).sum().astype(int).reset_index(name='count6')

In [97]:
pd.concat([compare1[compare1['count1']==4], compare2[compare2['count2']==4], compare3[compare3['count3']==4], compare4[compare4['count4']==4], compare5[compare5['count5']==4], compare6[compare6['count6']==4]], axis=1)

,team_id,count1,team_id,count2,team_id,count3,team_id,count4,team_id,count5,team_id,count6
33,1054,4,1054,4,1054,4,1054,4,1054,4,1054,4
265,1395,4,1395,4,1395,4,1395,4,1395,4,1395,4
419,1576,4,1576,4,1576,4,1576,4,1576,4,1576,4
434,1594,4,1594,4,1594,4,1594,4,1594,4,1594,4
516,1711,4,1711,4,1711,4,1711,4,1711,4,1711,4
635,1883,4,1883,4,1883,4,1883,4,1883,4,1883,4
699,1965,4,1965,4,1965,4,1965,4,1965,4,1965,4
722,1996,4,1996,4,1996,4,1996,4,1996,4,1996,4
729,2005,4,2005,4,2005,4,2005,4,2005,4,2005,4
764,2093,4,2093,4,2093,4,2093,4,2093,4,2093,4
1120,2670,4,2670,4,2670,4,2670,4,2670,4,2670,4
1130,2684,4,2684,4,2684,4,2684,4,2684,4,2684,4
1162,2736,4,2736,4,2736,4,2736,4,2736,4,2736,4

In [98]:
team_id_with_no_preference = compare2[compare2['count2']==4]['team_id']

In [99]:
team_id_with_no_preference

33      1054
265     1395
419     1576
434     1594
516     1711
635     1883
699     1965
722     1996
729     2005
764     2093
1120    2670
1130    2684
1162    2736
Name: team_id, dtype: int64

## **Team IDs with no Preference**

In [100]:
Data_analysis = Mem_data24

In [101]:
columns = ['preference1', 'preference2', 'preference3', 'preference4', 'preference5', 'preference6']  
df_all = pd.DataFrame(pd.concat([Data_analysis[Data_analysis[cols].isnull()][cols] for cols in columns], axis=1))

In [102]:
indexlist = df_all.index.to_list()
teamids_without_pref = []
for i in indexlist:
  teamids_without_pref.append(Data_analysis.iloc[i,0:1].to_list())
teamid_null_pref = sorted([list(j) for i, j in groupby(teamids_without_pref)], key=len)
print(teamid_null_pref)

[[[1054.0], [1054.0], [1054.0], [1054.0]], [[1395.0], [1395.0], [1395.0], [1395.0]], [[1576.0], [1576.0], [1576.0], [1576.0]], [[1594.0], [1594.0], [1594.0], [1594.0]], [[1711.0], [1711.0], [1711.0], [1711.0]], [[1883.0], [1883.0], [1883.0], [1883.0]], [[1965.0], [1965.0], [1965.0], [1965.0]], [[1996.0], [1996.0], [1996.0], [1996.0]], [[2005.0], [2005.0], [2005.0], [2005.0]], [[2093.0], [2093.0], [2093.0], [2093.0]], [[2670.0], [2670.0], [2670.0], [2670.0]], [[2684.0], [2684.0], [2684.0], [2684.0]], [[2736.0], [2736.0], [2736.0], [2736.0]]]

In [103]:
preference = ['preference1', 'preference2', 'preference3', 'preference4', 'preference5', 'preference6']    
def preference_null_replace(columns):
  for cols in columns:
    Data_analysis[cols] = Data_analysis[cols].fillna(7)
  return Data_analysis

Data_analysis = preference_null_replace(preference)

In [104]:
print(Data_analysis.isna().sum().sort_values(ascending=False).to_markdown())

|                      |    0 |
|:---------------------|-----:|
| internetspeed<       | 1105 |
| cgpa                 |  265 |
| hsc_board            |  225 |
| ssc_board            |  222 |
| Department_category  |   61 |
| elsiLab              |   19 |
| onlineCourse         |   18 |
| completeCourse       |   18 |
| workstation          |   18 |
| sub_ml               |   11 |
| sub_de               |   11 |
| sub_mm               |   11 |
| sub_fpga             |   11 |
| sub_mss              |   11 |
| sub_cs               |   11 |
| sub_ap               |   11 |
| sub_emb_c            |   11 |
| sub_ip               |   11 |
| sub_ros              |   11 |
| Gender               |   11 |
| Year                 |   11 |
| Discipline           |   11 |
| preference6          |    0 |
| Internet_option_freq |    0 |
| Participation_Freq   |    0 |
| country              |    0 |
| IS_eLSI              |    0 |
| preference3          |    0 |
| preference5          |    0 |
| preference4          |    0 |
| role                 |    0 |
| preference2          |    0 |
| preference1          |    0 |
| team_id              |    0 |

In [105]:
Data_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   team_id               5172 non-null   int64
 1   role                  5172 non-null   int64
 2   Discipline            5161 non-null   float64
 3   Year                  5161 non-null   float64
 4   Gender                5161 non-null   float64
 5   elsiLab               5153 non-null   float64
 6   cgpa                  4907 non-null   float64
 7   onlineCourse          5154 non-null   float64
 8   completeCourse        5154 non-null   float64
 9   ssc_board             4950 non-null   float64
 10  hsc_board             4947 non-null   float64
 11  workstation           5154 non-null   float64
 12  internetspeed<        4067 non-null   float64
 13  sub_ros               5161 non-null   float64
 14  sub_ip                5161 non-null   float64
 15  sub_emb_c             5161 non-null   float64
 16  sub_ml                5161 non-null   float64
 17  sub_ap                5161 non-null   float64
 18  sub_cs                5161 non-null   float64
 19  sub_mss               5161 non-null   float64
 20  sub_fpga              5161 non-null   float64
 21  sub_mm                5161 non-null   float64
 22  sub_de                5161 non-null   float64
 23  preference1           5172 non-null   float64
 24  preference2           5172 non-null   float64
 25  preference3           5172 non-null   float64
 26  preference4           5172 non-null   float64
 27  preference5           5172 non-null   float64
 28  preference6           5172 non-null   float64
 29  IS_eLSI               5172 non-null   int64
 30  country               5172 non-null   int64
 31  Participation_Freq    5172 non-null   int64
 32  Internet_option_freq  5172 non-null   int64
 33  Department_category   5111 non-null   float64
dtypes: float64(28), int64(6)
memory usage: 1.3 MB

**Observation:**
> As we can see, there were 52 columns without preferences in any of the preference column. After above analysis we can see that that these 52 columns are from 13 teams. These 13 teams have no preferences mentioned.

## **Null value count per row**

In [ ]:
print(Data_analysis.isnull().sum(axis=1).sort_values(ascending=False).to_markdown())

In [107]:
Nullvalsgrouped = pd.DataFrame(Data_analysis.isnull().sum(axis=1).sort_values(ascending=False))

In [108]:
Nullvalsgrouped[Nullvalsgrouped[0]>20].index

Int64Index([4025, 2919, 2917, 2916, 4962, 1739, 2918, 4027, 4026, 4651], dtype='int64')

**Observation:**
> As all the rows with almost all fields as null belong to different teams, so we need not to drop them as they will be replaced during combination of rows to create single data row for a team.

## **Managing Null Values for Gender**

In [109]:
Gender_null = pd.DataFrame(Data_analysis.Gender.isnull())

In [110]:
Data_analysis['Gender'] = Data_analysis['Gender'].fillna(3)

In [111]:
Data_analysis[Data_analysis['Gender'].isnull()==True]

Empty DataFrame
Columns: [team_id, role, Discipline, Year, Gender, elsiLab, cgpa, onlineCourse, completeCourse, ssc_board, hsc_board, workstation, internetspeed<, sub_ros, sub_ip, sub_emb_c, sub_ml, sub_ap, sub_cs, sub_mss, sub_fpga, sub_mm, sub_de, preference1, preference2, preference3, preference4, preference5, preference6, IS_eLSI, country, Participation_Freq, Internet_option_freq, Department_category]
Index: []

[0 rows x 34 columns]

**Observation:**
> Basically for one-hot encoding, we have replaced nan values with 3 and later we can drop the column as it will not be required. This methodolgy will work as only 11 teams will lose data for a single member.

In [112]:
print(Data_analysis.isna().sum().sort_values(ascending=False).to_markdown())

|                      |    0 |
|:---------------------|-----:|
| internetspeed<       | 1105 |
| cgpa                 |  265 |
| hsc_board            |  225 |
| ssc_board            |  222 |
| Department_category  |   61 |
| elsiLab              |   19 |
| onlineCourse         |   18 |
| completeCourse       |   18 |
| workstation          |   18 |
| sub_ml               |   11 |
| sub_de               |   11 |
| sub_mm               |   11 |
| sub_fpga             |   11 |
| sub_mss              |   11 |
| sub_cs               |   11 |
| sub_ap               |   11 |
| sub_emb_c            |   11 |
| sub_ip               |   11 |
| sub_ros              |   11 |
| Year                 |   11 |
| Discipline           |   11 |
| preference5          |    0 |
| Internet_option_freq |    0 |
| Participation_Freq   |    0 |
| country              |    0 |
| IS_eLSI              |    0 |
| preference6          |    0 |
| preference3          |    0 |
| preference4          |    0 |
| role                 |    0 |
| preference2          |    0 |
| preference1          |    0 |
| Gender               |    0 |
| team_id              |    0 |

## **Analysing null values in Subject Skills scoring**

In [113]:
Data_analysis.columns

Index(['team_id', 'role', 'Discipline', 'Year', 'Gender', 'elsiLab', 'cgpa',
       'onlineCourse', 'completeCourse', 'ssc_board', 'hsc_board',
       'workstation', 'internetspeed<', 'sub_ros', 'sub_ip', 'sub_emb_c',
       'sub_ml', 'sub_ap', 'sub_cs', 'sub_mss', 'sub_fpga', 'sub_mm', 'sub_de',
       'preference1', 'preference2', 'preference3', 'preference4',
       'preference5', 'preference6', 'IS_eLSI', 'country',
       'Participation_Freq', 'Internet_option_freq', 'Department_category'],
      dtype='object')

In [114]:
columns = ['sub_ros', 'sub_ip', 'sub_emb_c','sub_ml', 'sub_ap', 'sub_cs', 'sub_mss', 'sub_fpga', 'sub_mm', 'sub_de']
df_all = pd.DataFrame(pd.concat([Data_analysis[Data_analysis[cols].isnull()][cols] for cols in columns], axis=1))

In [115]:
indexlist = df_all.index.to_list()
teamids_without_sub = []
for i in indexlist:
  # print(Data_analysis.iloc[i,0:1].to_list())
  teamids_without_sub.append(Data_analysis.iloc[i,0:1].to_list())

teamid_null_sub = sorted([list(j) for i, j in groupby(teamids_without_sub)], key=len)
print(teamid_null_sub)

[[[1576.0]], [[1594.0]], [[2736.0]], [[2859.0]], [[2510.0], [2510.0], [2510.0]], [[2005.0], [2005.0], [2005.0], [2005.0]]]

In [116]:
columns = ['sub_ros', 'sub_ip', 'sub_emb_c','sub_ml', 'sub_ap', 'sub_cs', 'sub_mss', 'sub_fpga', 'sub_mm', 'sub_de']
def sub_null_replace(columns):
  for cols in columns:
    Data_analysis[cols] = Data_analysis[cols].fillna(7)
  return Data_analysis

Data_analysis = sub_null_replace(columns)

In [117]:
print(Data_analysis.isna().sum().sort_values(ascending=False).to_markdown())

|                      |    0 |
|:---------------------|-----:|
| internetspeed<       | 1105 |
| cgpa                 |  265 |
| hsc_board            |  225 |
| ssc_board            |  222 |
| Department_category  |   61 |
| elsiLab              |   19 |
| completeCourse       |   18 |
| workstation          |   18 |
| onlineCourse         |   18 |
| Year                 |   11 |
| Discipline           |   11 |
| Internet_option_freq |    0 |
| sub_de               |    0 |
| Participation_Freq   |    0 |
| country              |    0 |
| IS_eLSI              |    0 |
| preference6          |    0 |
| preference5          |    0 |
| preference4          |    0 |
| preference3          |    0 |
| preference2          |    0 |
| preference1          |    0 |
| team_id              |    0 |
| sub_mm               |    0 |
| sub_fpga             |    0 |
| sub_mss              |    0 |
| sub_cs               |    0 |
| role                 |    0 |
| sub_ml               |    0 |
| sub_emb_c            |    0 |
| sub_ip               |    0 |
| sub_ros              |    0 |
| Gender               |    0 |
| sub_ap               |    0 |

In [ ]:
Unique = unique_chart(Data_analysis)
print(Unique.to_markdown())

In [119]:
print(Data_analysis.isna().sum().sort_values(ascending=False).to_markdown())

|                      |    0 |
|:---------------------|-----:|
| internetspeed<       | 1105 |
| cgpa                 |  265 |
| hsc_board            |  225 |
| ssc_board            |  222 |
| Department_category  |   61 |
| elsiLab              |   19 |
| completeCourse       |   18 |
| workstation          |   18 |
| onlineCourse         |   18 |
| Year                 |   11 |
| Discipline           |   11 |
| Internet_option_freq |    0 |
| sub_de               |    0 |
| Participation_Freq   |    0 |
| country              |    0 |
| IS_eLSI              |    0 |
| preference6          |    0 |
| preference5          |    0 |
| preference4          |    0 |
| preference3          |    0 |
| preference2          |    0 |
| preference1          |    0 |
| team_id              |    0 |
| sub_mm               |    0 |
| sub_fpga             |    0 |
| sub_mss              |    0 |
| sub_cs               |    0 |
| role                 |    0 |
| sub_ml               |    0 |
| sub_emb_c            |    0 |
| sub_ip               |    0 |
| sub_ros              |    0 |
| Gender               |    0 |
| sub_ap               |    0 |

### **Null Value Replacement in Discipline, Department, Year, Workstation, ssc and hsc columns**

In [120]:
def null_val_index_list(columns):
  df = pd.DataFrame(pd.concat([Data_analysis[Data_analysis[cols].isnull()][cols] for cols in columns], axis=1))
  indexlist = df.index.to_list()
  teamids = []
  for i in indexlist:
    teamids.append(Data_analysis.iloc[i,0:1].to_list())
  return(teamids)

**List of teams with null in column (for analysis)**

In [121]:
columns = ['Discipline']
teamid_null_discipline = null_val_index_list(columns)
print([list(j) for i, j in groupby(teamid_null_discipline)])

[[[1594.0]], [[1960.0]], [[2005.0], [2005.0], [2005.0], [2005.0]], [[2510.0], [2510.0], [2510.0]], [[2736.0]], [[2859.0]]]

**Null value replacement in column (for analysis)**

In [122]:
columns = ['Discipline']
def discipline_null_replace(columns):
  for cols in columns:
    Data_analysis[cols] = Data_analysis[cols].fillna(7)
  return Data_analysis

Data_analysis = discipline_null_replace(columns)

**List of teams with null in column (for analysis)**

In [123]:
columns = ['ssc_board']
teamid_null_ssc = null_val_index_list(columns)
print([list(j) for i, j in groupby(teamid_null_ssc)])

[[[1070.0]], [[1073.0]], [[1116.0]], [[1127.0]], [[1134.0]], [[1148.0]], [[1172.0]], [[1197.0], [1197.0]], [[1203.0]], [[1230.0]], [[1231.0]], [[1246.0]], [[1268.0]], [[1269.0]], [[1271.0], [1271.0]], [[1309.0]], [[1322.0]], [[1325.0], [1325.0]], [[1337.0], [1337.0], [1337.0]], [[1365.0]], [[1376.0]], [[1387.0]], [[1399.0]], [[1420.0]], [[1424.0]], [[1426.0]], [[1432.0], [1432.0]], [[1437.0]], [[1440.0]], [[1455.0]], [[1456.0]], [[1473.0]], [[1483.0]], [[1488.0], [1488.0]], [[1489.0]], [[1514.0]], [[1520.0]], [[1528.0]], [[1544.0]], [[1549.0]], [[1561.0]], [[1563.0]], [[1564.0]], [[1565.0]], [[1566.0]], [[1571.0]], [[1576.0]], [[1579.0]], [[1583.0]], [[1589.0]], [[1590.0]], [[1594.0]], [[1623.0]], [[1630.0]], [[1647.0]], [[1655.0]], [[1696.0]], [[1698.0]], [[1702.0]], [[1711.0]], [[1721.0], [1721.0], [1721.0], [1721.0]], [[1730.0]], [[1750.0], [1750.0], [1750.0]], [[1756.0], [1756.0], [1756.0], [1756.0]], [[1758.0], [1758.0], [1758.0], [1758.0]], [[1769.0]], [[1781.0]], [[1782.0], [1782.0]], [[1785.0]], [[1788.0]], [[1791.0], [1791.0], [1791.0]], [[1794.0]], [[1809.0], [1809.0]], [[1815.0]], [[1825.0]], [[1834.0], [1834.0]], [[1836.0]], [[1839.0]], [[1852.0], [1852.0]], [[1856.0]], [[1873.0]], [[1883.0]], [[1888.0], [1888.0]], [[1920.0]], [[1932.0], [1932.0], [1932.0], [1932.0]], [[1935.0]], [[1947.0]], [[1950.0], [1950.0]], [[1960.0], [1960.0], [1960.0]], [[1963.0]], [[1979.0]], [[1984.0]], [[2005.0], [2005.0], [2005.0], [2005.0]], [[2012.0]], [[2035.0]], [[2065.0]], [[2090.0]], [[2104.0]], [[2158.0]], [[2166.0]], [[2176.0]], [[2182.0]], [[2197.0], [2197.0], [2197.0], [2197.0]], [[2198.0]], [[2203.0]], [[2242.0], [2242.0], [2242.0]], [[2251.0]], [[2253.0], [2253.0]], [[2277.0]], [[2311.0]], [[2316.0]], [[2344.0]], [[2353.0]], [[2356.0]], [[2391.0]], [[2407.0]], [[2422.0]], [[2425.0]], [[2442.0], [2442.0]], [[2443.0]], [[2459.0]], [[2460.0]], [[2463.0]], [[2465.0], [2465.0], [2465.0]], [[2485.0]], [[2494.0]], [[2510.0], [2510.0], [2510.0]], [[2522.0]], [[2523.0]], [[2528.0]], [[2539.0]], [[2542.0]], [[2544.0]], [[2551.0]], [[2566.0]], [[2572.0]], [[2575.0]], [[2578.0]], [[2624.0], [2624.0], [2624.0]], [[2632.0]], [[2656.0]], [[2665.0]], [[2683.0]], [[2686.0]], [[2700.0]], [[2701.0]], [[2706.0]], [[2722.0], [2722.0], [2722.0]], [[2730.0]], [[2736.0], [2736.0]], [[2741.0]], [[2742.0]], [[2752.0]], [[2766.0]], [[2771.0]], [[2776.0]], [[2788.0]], [[2817.0]], [[2819.0]], [[2822.0]], [[2859.0], [2859.0]], [[2884.0]], [[2886.0]], [[2896.0]], [[2897.0], [2897.0]], [[2910.0]], [[2939.0]], [[2941.0]], [[2949.0]], [[2963.0]]]

In [124]:
columns = ['hsc_board']
teamid_null_hsc = null_val_index_list(columns)
print([list(j) for i, j in groupby(teamid_null_hsc)])

[[[1070.0]], [[1073.0]], [[1127.0]], [[1134.0]], [[1148.0]], [[1172.0]], [[1197.0], [1197.0]], [[1203.0]], [[1223.0]], [[1227.0]], [[1230.0]], [[1231.0]], [[1246.0]], [[1268.0]], [[1269.0]], [[1271.0], [1271.0]], [[1309.0]], [[1317.0]], [[1322.0]], [[1325.0], [1325.0]], [[1337.0], [1337.0]], [[1345.0]], [[1351.0]], [[1365.0]], [[1376.0]], [[1387.0]], [[1399.0]], [[1420.0]], [[1424.0]], [[1426.0], [1426.0]], [[1432.0], [1432.0]], [[1437.0]], [[1440.0]], [[1455.0]], [[1456.0]], [[1473.0]], [[1483.0]], [[1488.0], [1488.0]], [[1489.0]], [[1514.0]], [[1520.0]], [[1525.0]], [[1528.0]], [[1544.0]], [[1549.0]], [[1561.0]], [[1563.0]], [[1564.0]], [[1566.0]], [[1571.0]], [[1576.0]], [[1579.0]], [[1583.0]], [[1589.0]], [[1590.0]], [[1594.0]], [[1630.0]], [[1647.0]], [[1655.0]], [[1696.0]], [[1698.0]], [[1702.0]], [[1711.0]], [[1721.0], [1721.0], [1721.0], [1721.0]], [[1730.0]], [[1750.0], [1750.0], [1750.0]], [[1756.0], [1756.0], [1756.0], [1756.0]], [[1758.0], [1758.0], [1758.0]], [[1769.0]], [[1781.0]], [[1782.0], [1782.0]], [[1785.0]], [[1788.0]], [[1791.0], [1791.0], [1791.0]], [[1794.0]], [[1809.0], [1809.0]], [[1815.0], [1815.0]], [[1825.0]], [[1834.0], [1834.0]], [[1836.0]], [[1839.0]], [[1852.0], [1852.0]], [[1856.0]], [[1873.0]], [[1883.0]], [[1888.0], [1888.0]], [[1920.0]], [[1932.0], [1932.0], [1932.0], [1932.0]], [[1935.0]], [[1947.0]], [[1950.0], [1950.0]], [[1960.0], [1960.0], [1960.0]], [[1963.0]], [[1979.0]], [[1984.0]], [[2005.0], [2005.0], [2005.0], [2005.0]], [[2012.0]], [[2035.0]], [[2065.0]], [[2090.0]], [[2104.0]], [[2158.0]], [[2166.0]], [[2176.0]], [[2182.0]], [[2197.0], [2197.0], [2197.0], [2197.0]], [[2198.0]], [[2203.0]], [[2242.0], [2242.0], [2242.0]], [[2251.0]], [[2253.0], [2253.0]], [[2277.0]], [[2311.0]], [[2316.0]], [[2336.0]], [[2344.0]], [[2353.0]], [[2356.0]], [[2391.0]], [[2407.0]], [[2422.0]], [[2425.0]], [[2442.0], [2442.0]], [[2443.0]], [[2459.0]], [[2460.0]], [[2463.0]], [[2465.0], [2465.0]], [[2485.0]], [[2494.0]], [[2510.0], [2510.0], [2510.0]], [[2522.0]], [[2523.0]], [[2528.0]], [[2539.0]], [[2542.0]], [[2544.0]], [[2551.0]], [[2566.0]], [[2572.0]], [[2575.0]], [[2578.0]], [[2624.0], [2624.0], [2624.0]], [[2632.0]], [[2656.0]], [[2665.0]], [[2683.0]], [[2686.0]], [[2700.0]], [[2701.0]], [[2706.0]], [[2722.0], [2722.0], [2722.0]], [[2730.0]], [[2736.0], [2736.0]], [[2741.0]], [[2742.0]], [[2752.0]], [[2766.0]], [[2771.0]], [[2776.0]], [[2788.0]], [[2817.0]], [[2819.0]], [[2822.0]], [[2859.0], [2859.0]], [[2884.0]], [[2886.0]], [[2896.0]], [[2897.0], [2897.0]], [[2910.0]], [[2939.0]], [[2941.0]], [[2949.0]], [[2963.0]]]

In [125]:
columns = ['Year']
teamid_null_year = null_val_index_list(columns)
print([list(j) for i, j in groupby(teamid_null_year)])

[[[1594.0]], [[1960.0]], [[2005.0], [2005.0], [2005.0], [2005.0]], [[2510.0], [2510.0], [2510.0]], [[2736.0]], [[2859.0]]]

**Null value replacement in column (for analysis)**

In [126]:
columns = ['Year', 'ssc_board', 'hsc_board']
def Year_null_replace(columns):
  for cols in columns:
    Data_analysis[cols] = Data_analysis[cols].fillna(6)
  return Data_analysis

Data_analysis = Year_null_replace(columns)

**List of teams with null in column (for analysis)**

In [127]:
columns = ['elsiLab']
teamid_null_elsiLab = null_val_index_list(columns)
print([list(j) for i, j in groupby(teamid_null_elsiLab)])

[[[1271.0], [1271.0], [1271.0]], [[1576.0]], [[1594.0]], [[1960.0], [1960.0], [1960.0]], [[2005.0], [2005.0], [2005.0], [2005.0]], [[2510.0], [2510.0], [2510.0]], [[2542.0]], [[2736.0]], [[2859.0], [2859.0]]]

**Null value replacement in column (for analysis)**

In [128]:
columns = ['elsiLab']
def elsilab_null_replace(columns):
  for cols in columns:
    Data_analysis[cols] = Data_analysis[cols].fillna(0)
  return Data_analysis

Data_analysis = elsilab_null_replace(columns)

**List of teams with null in column (for analysis)**

In [129]:
columns = ['workstation']
teamid_null_workstation = null_val_index_list(columns)
print([list(j) for i, j in groupby(teamid_null_workstation)])

[[[1271.0], [1271.0]], [[1576.0]], [[1594.0]], [[1960.0], [1960.0], [1960.0]], [[2005.0], [2005.0], [2005.0], [2005.0]], [[2510.0], [2510.0], [2510.0]], [[2542.0]], [[2736.0]], [[2859.0], [2859.0]]]

In [130]:
columns = ['Department_category']
teamid_null_dept = null_val_index_list(columns)
print([list(j) for i, j in groupby(teamid_null_dept)])

[[[1594.0]], [[1960.0]], [[2005.0], [2005.0], [2005.0], [2005.0]], [[2071.0], [2071.0], [2071.0], [2071.0]], [[2162.0]], [[2239.0], [2239.0], [2239.0], [2239.0]], [[2330.0]], [[2398.0]], [[2409.0]], [[2426.0]], [[2472.0]], [[2479.0]], [[2510.0], [2510.0], [2510.0]], [[2548.0]], [[2551.0], [2551.0], [2551.0]], [[2576.0]], [[2610.0], [2610.0], [2610.0], [2610.0]], [[2620.0], [2620.0], [2620.0], [2620.0]], [[2630.0], [2630.0], [2630.0]], [[2640.0], [2640.0], [2640.0], [2640.0]], [[2651.0]], [[2670.0], [2670.0], [2670.0], [2670.0]], [[2736.0]], [[2742.0], [2742.0], [2742.0], [2742.0]], [[2857.0], [2857.0]], [[2859.0]], [[2880.0]], [[2935.0]], [[2971.0], [2971.0]]]

**Null value replacement in column (for analysis)**

In [131]:
columns = ['workstation','Department_category']
def workstation_null_replace(columns):
  for cols in columns:
    Data_analysis[cols] = Data_analysis[cols].fillna(4)
  return Data_analysis

Data_analysis = workstation_null_replace(columns)

In [132]:
print(Data_analysis.isna().sum().sort_values(ascending=False).to_markdown())

|                      |    0 |
|:---------------------|-----:|
| internetspeed<       | 1105 |
| cgpa                 |  265 |
| onlineCourse         |   18 |
| completeCourse       |   18 |
| team_id              |    0 |
| preference4          |    0 |
| sub_mm               |    0 |
| sub_de               |    0 |
| preference1          |    0 |
| preference2          |    0 |
| preference3          |    0 |
| preference6          |    0 |
| preference5          |    0 |
| sub_mss              |    0 |
| IS_eLSI              |    0 |
| country              |    0 |
| Participation_Freq   |    0 |
| Internet_option_freq |    0 |
| sub_fpga             |    0 |
| sub_ap               |    0 |
| sub_cs               |    0 |
| role                 |    0 |
| sub_ml               |    0 |
| sub_emb_c            |    0 |
| sub_ip               |    0 |
| sub_ros              |    0 |
| workstation          |    0 |
| hsc_board            |    0 |
| ssc_board            |    0 |
| elsiLab              |    0 |
| Gender               |    0 |
| Year                 |    0 |
| Discipline           |    0 |
| Department_category  |    0 |

In [133]:
teamsid_without_netspeed = Data_analysis[Data_analysis['internetspeed<'].isnull()]['team_id'].to_list()
print(sorted([list(j) for i, j in groupby(teamsid_without_netspeed)], key=len))

[[1046], [1052], [1059], [1069], [1117], [1133], [1151], [1153], [1158], [1161], [1168], [1190], [1196], [1221], [1240], [1250], [1259], [1270], [1295], [1305], [1317], [1326], [1337], [1339], [1345], [1351], [1355], [1356], [1357], [1361], [1383], [1419], [1420], [1421], [1423], [1440], [1448], [1451], [1462], [1476], [1480], [1485], [1491], [1495], [1497], [1499], [1500], [1501], [1513], [1523], [1561], [1569], [1570], [1577], [1587], [1589], [1595], [1597], [1600], [1610], [1614], [1615], [1617], [1622], [1628], [1650], [1655], [1658], [1660], [1664], [1688], [1697], [1699], [1701], [1706], [1717], [1727], [1730], [1731], [1733], [1763], [1770], [1779], [1783], [1785], [1789], [1803], [1811], [1834], [1844], [1851], [1853], [1855], [1856], [1869], [1872], [1877], [1880], [1888], [1896], [1903], [1914], [1920], [1923], [1927], [1933], [1941], [1954], [1958], [1966], [1973], [1975], [1978], [1987], [1989], [1995], [2004], [2013], [2045], [2087], [2093], [2120], [2167], [2189], [2195], [2196], [2207], [2214], [2216], [2239], [2240], [2249], [2251], [2256], [2257], [2262], [2277], [2285], [2316], [2383], [2392], [2397], [2402], [2417], [2423], [2432], [2437], [2445], [2455], [2474], [2479], [2488], [2494], [2506], [2511], [2516], [2523], [2528], [2542], [2544], [2551], [2562], [2566], [2576], [2594], [2616], [2619], [2620], [2637], [2643], [2649], [2657], [2668], [2679], [2682], [2684], [2693], [2695], [2717], [2722], [2725], [2736], [2758], [2779], [2790], [2814], [2816], [2830], [2843], [2853], [2884], [2896], [2901], [2913], [2916], [2917], [2922], [1065, 1065], [1139, 1139], [1162, 1162], [1170, 1170], [1210, 1210], [1271, 1271], [1277, 1277], [1278, 1278], [1279, 1279], [1331, 1331], [1385, 1385], [1406, 1406], [1411, 1411], [1415, 1415], [1445, 1445], [1452, 1452], [1455, 1455], [1456, 1456], [1481, 1481], [1508, 1508], [1511, 1511], [1514, 1514], [1533, 1533], [1534, 1534], [1547, 1547], [1549, 1549], [1583, 1583], [1591, 1591], [1592, 1592], [1647, 1647], [1680, 1680], [1695, 1695], [1698, 1698], [1704, 1704], [1713, 1713], [1726, 1726], [1768, 1768], [1780, 1780], [1794, 1794], [1797, 1797], [1807, 1807], [1818, 1818], [1824, 1824], [1832, 1832], [1835, 1835], [1845, 1845], [1852, 1852], [1863, 1863], [1865, 1865], [1883, 1883], [1893, 1893], [1901, 1901], [1902, 1902], [1906, 1906], [1918, 1918], [1930, 1930], [1988, 1988], [2009, 2009], [2058, 2058], [2065, 2065], [2205, 2205], [2219, 2219], [2245, 2245], [2278, 2278], [2284, 2284], [2291, 2291], [2354, 2354], [2362, 2362], [2365, 2365], [2394, 2394], [2398, 2398], [2425, 2425], [2464, 2464], [2470, 2470], [2472, 2472], [2496, 2496], [2499, 2499], [2500, 2500], [2503, 2503], [2563, 2563], [2581, 2581], [2593, 2593], [2597, 2597], [2600, 2600], [2609, 2609], [2622, 2622], [2627, 2627], [2635, 2635], [2651, 2651], [2665, 2665], [2666, 2666], [2740, 2740], [2744, 2744], [2753, 2753], [2778, 2778], [2780, 2780], [2808, 2808], [2819, 2819], [2854, 2854], [2866, 2866], [2872, 2872], [2900, 2900], [2910, 2910], [2953, 2953], [1194, 1194, 1194], [1263, 1263, 1263], [1349, 1349, 1349], [1370, 1370, 1370], [1402, 1402, 1402], [1457, 1457, 1457], [1464, 1464, 1464], [1496, 1496, 1496], [1531, 1531, 1531], [1550, 1550, 1550], [1560, 1560, 1560], [1566, 1566, 1566], [1573, 1573, 1573], [1574, 1574, 1574], [1575, 1575, 1575], [1594, 1594, 1594], [1599, 1599, 1599], [1618, 1618, 1618], [1626, 1626, 1626], [1635, 1635, 1635], [1636, 1636, 1636], [1642, 1642, 1642], [1678, 1678, 1678], [1689, 1689, 1689], [1724, 1724, 1724], [1738, 1738, 1738], [1742, 1742, 1742], [1769, 1769, 1769], [1775, 1775, 1775], [1777, 1777, 1777], [1801, 1801, 1801], [1842, 1842, 1842], [1860, 1860, 1860], [1881, 1881, 1881], [1907, 1907, 1907], [1946, 1946, 1946], [1960, 1960, 1960], [1963, 1963, 1963], [2034, 2034, 2034], [2176, 2176, 2176], [2332, 2332, 2332], [2344, 2344, 2344], [2348, 2348, 2348], [2358, 2358, 2358], [2382, 2382, 2382], [2386, 2386, 2386], [2409, 2409, 2409], [2426, 2426, 2426], [2428, 2428, 2428], [2438, 2438, 2438], [2442, 2442, 2442], [2454, 2454, 2454], [2475, 2475, 2475], [2484, 2484, 2484], [2507, 2507, 2507], [2510, 2510, 2510], [2514, 2514, 2514], [2521, 2521, 2521], [2558, 2558, 2558], [2592, 2592, 2592], [2607, 2607, 2607], [2613, 2613, 2613], [2615, 2615, 2615], [2618, 2618, 2618], [2632, 2632, 2632], [2640, 2640, 2640], [2652, 2652, 2652], [2661, 2661, 2661], [2663, 2663, 2663], [2705, 2705, 2705], [2735, 2735, 2735], [2742, 2742, 2742], [2771, 2771, 2771], [2787, 2787, 2787], [2793, 2793, 2793], [2800, 2800, 2800], [2812, 2812, 2812], [2836, 2836, 2836], [2841, 2841, 2841], [2842, 2842, 2842], [2845, 2845, 2845], [2859, 2859, 2859], [2869, 2869, 2869], [2870, 2870, 2870], [2909, 2909, 2909], [2941, 2941, 2941], [2949, 2949, 2949], [2951, 2951, 2951], [1054, 1054, 1054, 1054], [1125, 1125, 1125, 1125], [1177, 1177, 1177, 1177], [1231, 1231, 1231, 1231], [1246, 1246, 1246, 1246], [1248, 1248, 1248, 1248], [1256, 1256, 1256, 1256], [1367, 1367, 1367, 1367], [1393, 1393, 1393, 1393], [1467, 1467, 1467, 1467], [1521, 1521, 1521, 1521], [1539, 1539, 1539, 1539], [1546, 1546, 1546, 1546], [1562, 1562, 1562, 1562], [1576, 1576, 1576, 1576], [1601, 1601, 1601, 1601], [1632, 1632, 1632, 1632], [1651, 1651, 1651, 1651], [1687, 1687, 1687, 1687], [1696, 1696, 1696, 1696], [1711, 1711, 1711, 1711], [1864, 1864, 1864, 1864], [1867, 1867, 1867, 1867], [1870, 1870, 1870, 1870], [1894, 1894, 1894, 1894], [1895, 1895, 1895, 1895], [1916, 1916, 1916, 1916], [1922, 1922, 1922, 1922], [1949, 1949, 1949, 1949], [1950, 1950, 1950, 1950], [1965, 1965, 1965, 1965], [1971, 1971, 1971, 1971], [1984, 1984, 1984, 1984], [1994, 1994, 1994, 1994], [1996, 1996, 1996, 1996], [2000, 2000, 2000, 2000], [2005, 2005, 2005, 2005], [2032, 2032, 2032, 2032], [2063, 2063, 2063, 2063], [2090, 2090, 2090, 2090], [2104, 2104, 2104, 2104], [2110, 2110, 2110, 2110], [2137, 2137, 2137, 2137], [2171, 2171, 2171, 2171], [2182, 2182, 2182, 2182], [2183, 2183, 2183, 2183], [2187, 2187, 2187, 2187], [2188, 2188, 2188, 2188], [2273, 2273, 2273, 2273], [2336, 2336, 2336, 2336], [2353, 2353, 2353, 2353], [2387, 2387, 2387, 2387], [2391, 2391, 2391, 2391], [2399, 2399, 2399, 2399], [2403, 2403, 2403, 2403], [2408, 2408, 2408, 2408], [2414, 2414, 2414, 2414], [2433, 2433, 2433, 2433], [2447, 2447, 2447, 2447], [2460, 2460, 2460, 2460], [2485, 2485, 2485, 2485], [2491, 2491, 2491, 2491], [2498, 2498, 2498, 2498], [2543, 2543, 2543, 2543], [2554, 2554, 2554, 2554], [2555, 2555, 2555, 2555], [2575, 2575, 2575, 2575], [2580, 2580, 2580, 2580], [2589, 2589, 2589, 2589], [2601, 2601, 2601, 2601], [2602, 2602, 2602, 2602], [2617, 2617, 2617, 2617], [2621, 2621, 2621, 2621], [2639, 2639, 2639, 2639], [2654, 2654, 2654, 2654], [2660, 2660, 2660, 2660], [2664, 2664, 2664, 2664], [2669, 2669, 2669, 2669], [2670, 2670, 2670, 2670], [2671, 2671, 2671, 2671], [2672, 2672, 2672, 2672], [2677, 2677, 2677, 2677], [2680, 2680, 2680, 2680], [2681, 2681, 2681, 2681], [2685, 2685, 2685, 2685], [2686, 2686, 2686, 2686], [2687, 2687, 2687, 2687], [2689, 2689, 2689, 2689], [2690, 2690, 2690, 2690], [2691, 2691, 2691, 2691], [2692, 2692, 2692, 2692], [2699, 2699, 2699, 2699], [2733, 2733, 2733, 2733], [2741, 2741, 2741, 2741], [2766, 2766, 2766, 2766], [2769, 2769, 2769, 2769], [2774, 2774, 2774, 2774], [2776, 2776, 2776, 2776], [2799, 2799, 2799, 2799], [2807, 2807, 2807, 2807], [2809, 2809, 2809, 2809], [2822, 2822, 2822, 2822], [2828, 2828, 2828, 2828], [2847, 2847, 2847, 2847], [2879, 2879, 2879, 2879], [2912, 2912, 2912, 2912], [2968, 2968, 2968, 2968], [2970, 2970, 2970, 2970], [2971, 2971, 2971, 2971]]

In [134]:
teamsid_without_cgpa = Data_analysis[Data_analysis['cgpa'].isnull()]['team_id']
print(sorted([list(j) for i, j in groupby(teamsid_without_cgpa)], key=len))

[[1070], [1073], [1134], [1148], [1172], [1183], [1203], [1223], [1230], [1231], [1246], [1268], [1269], [1282], [1293], [1309], [1322], [1337], [1351], [1362], [1365], [1370], [1376], [1387], [1399], [1415], [1420], [1424], [1426], [1437], [1438], [1440], [1455], [1457], [1473], [1481], [1483], [1485], [1489], [1514], [1520], [1528], [1531], [1549], [1557], [1561], [1563], [1564], [1566], [1571], [1576], [1583], [1589], [1594], [1623], [1630], [1636], [1642], [1655], [1666], [1696], [1698], [1702], [1711], [1730], [1731], [1764], [1766], [1769], [1781], [1785], [1788], [1791], [1794], [1815], [1825], [1828], [1834], [1836], [1839], [1856], [1858], [1860], [1873], [1876], [1883], [1886], [1888], [1895], [1903], [1920], [1935], [1984], [2000], [2012], [2035], [2065], [2090], [2104], [2139], [2158], [2166], [2176], [2192], [2198], [2203], [2232], [2248], [2251], [2277], [2311], [2316], [2344], [2353], [2382], [2391], [2407], [2422], [2443], [2447], [2459], [2460], [2461], [2485], [2486], [2522], [2523], [2528], [2539], [2544], [2551], [2558], [2566], [2572], [2575], [2578], [2624], [2632], [2665], [2683], [2686], [2700], [2701], [2730], [2736], [2737], [2741], [2742], [2752], [2766], [2771], [2776], [2788], [2790], [2817], [2819], [2822], [2857], [2884], [2896], [2910], [2941], [2949], [2961], [2963], [2965], [1128, 1128], [1197, 1197], [1271, 1271], [1312, 1312], [1325, 1325], [1432, 1432], [1456, 1456], [1488, 1488], [1544, 1544], [1653, 1653], [1756, 1756], [1809, 1809], [1852, 1852], [1947, 1947], [1950, 1950], [1963, 1963], [2249, 2249], [2253, 2253], [2356, 2356], [2442, 2442], [2542, 2542], [2656, 2656], [2706, 2706], [2859, 2859], [2897, 2897], [1750, 1750, 1750], [1758, 1758, 1758], [1932, 1932, 1932], [1960, 1960, 1960], [2058, 2058, 2058], [2242, 2242, 2242], [2510, 2510, 2510], [1721, 1721, 1721, 1721], [1782, 1782, 1782, 1782], [1956, 1956, 1956, 1956], [2005, 2005, 2005, 2005], [2197, 2197, 2197, 2197], [2465, 2465, 2465, 2465], [2722, 2722, 2722, 2722]]

In [135]:
columns = ['onlineCourse', 'completeCourse']
teamid = null_val_index_list(columns)
print(sorted([list(j) for i, j in groupby(teamid)], key=len))

[[[1576.0]], [[1594.0]], [[2542.0]], [[2652.0]], [[2736.0]], [[2859.0]], [[1960.0], [1960.0]], [[1271.0], [1271.0], [1271.0]], [[2510.0], [2510.0], [2510.0]], [[2005.0], [2005.0], [2005.0], [2005.0]]]

In [136]:
print(Data_analysis.isna().sum().sort_values(ascending=False).to_markdown())

|                      |    0 |
|:---------------------|-----:|
| internetspeed<       | 1105 |
| cgpa                 |  265 |
| onlineCourse         |   18 |
| completeCourse       |   18 |
| team_id              |    0 |
| preference4          |    0 |
| sub_mm               |    0 |
| sub_de               |    0 |
| preference1          |    0 |
| preference2          |    0 |
| preference3          |    0 |
| preference6          |    0 |
| preference5          |    0 |
| sub_mss              |    0 |
| IS_eLSI              |    0 |
| country              |    0 |
| Participation_Freq   |    0 |
| Internet_option_freq |    0 |
| sub_fpga             |    0 |
| sub_ap               |    0 |
| sub_cs               |    0 |
| role                 |    0 |
| sub_ml               |    0 |
| sub_emb_c            |    0 |
| sub_ip               |    0 |
| sub_ros              |    0 |
| workstation          |    0 |
| hsc_board            |    0 |
| ssc_board            |    0 |
| elsiLab              |    0 |
| Gender               |    0 |
| Year                 |    0 |
| Discipline           |    0 |
| Department_category  |    0 |

**Some analysis code:(Not required)**

In [ ]:
x = pd.DataFrame(teamid_null_pref)
x

In [ ]:
y = pd.DataFrame(teamid_null_sub)
y

In [ ]:
z = pd.DataFrame(teamid_null_discipline)
z

In [ ]:
w = pd.DataFrame(teamsid_without_netspeed)
w

## **One Hot Encoding:**

In [138]:
Data_analysis.columns

Index(['team_id', 'role', 'Discipline', 'Year', 'Gender', 'elsiLab', 'cgpa',
       'onlineCourse', 'completeCourse', 'ssc_board', 'hsc_board',
       'workstation', 'internetspeed<', 'sub_ros', 'sub_ip', 'sub_emb_c',
       'sub_ml', 'sub_ap', 'sub_cs', 'sub_mss', 'sub_fpga', 'sub_mm', 'sub_de',
       'preference1', 'preference2', 'preference3', 'preference4',
       'preference5', 'preference6', 'IS_eLSI', 'country',
       'Participation_Freq', 'Internet_option_freq', 'Department_category'],
      dtype='object')

In [139]:
Unique = unique_chart(Data_analysis)
print(Unique.to_markdown())

|    |   team_id | role   | Discipline             | Year             | Gender     | elsiLab    |   cgpa |   onlineCourse |   completeCourse | ssc_board           | hsc_board           | workstation   | internetspeed<                       | sub_ros             | sub_ip              | sub_emb_c           | sub_ml              | sub_ap              | sub_cs              | sub_mss             | sub_fpga            | sub_mm              | sub_de              | preference1            | preference2            | preference3            | preference4            | preference5            | preference6            | IS_eLSI   | country   | Participation_Freq   | Internet_option_freq   | Department_category   |
|---:|----------:|:-------|:-----------------------|:-----------------|:-----------|:-----------|-------:|---------------:|-----------------:|:--------------------|:--------------------|:--------------|:-------------------------------------|:--------------------|:--------------------|:--------------------|:--------------------|:--------------------|:--------------------|:--------------------|:--------------------|:--------------------|:--------------------|:-----------------------|:-----------------------|:-----------------------|:-----------------------|:-----------------------|:-----------------------|:----------|:----------|:---------------------|:-----------------------|:----------------------|
|  0 |      1293 | 2      | 7                      | 5                | 3          | 3          |    755 |             40 |               35 | 6                   | 6                   | 3             | 6                                    | 6                   | 6                   | 6                   | 6                   | 6                   | 6                   | 6                   | 6                   | 6                   | 6                   | 7                      | 7                      | 7                      | 7                      | 7                      | 7                      | 2         | 3         | 4                    | 6                      | 5                     |
|  1 |       nan | [1 2]  | [0. 1. 2. 3. 4. 5. 7.] | [3. 2. 4. 1. 6.] | [0. 1. 3.] | [1. 2. 0.] |    nan |            nan |              nan | [0. 1. 2. 6. 3. 4.] | [1. 0. 2. 4. 6. 3.] | [1. 2. 4.]    | [  1.  10.  50. 150. 200. 100.  nan] | [1. 0. 4. 3. 2. 7.] | [0. 2. 3. 1. 4. 7.] | [1. 0. 3. 2. 4. 7.] | [0. 1. 3. 4. 2. 7.] | [0. 2. 1. 3. 4. 7.] | [2. 1. 0. 3. 4. 7.] | [0. 1. 3. 2. 4. 7.] | [1. 0. 2. 4. 3. 7.] | [0. 2. 1. 3. 7. 4.] | [2. 1. 0. 3. 4. 7.] | [0. 1. 2. 3. 4. 5. 7.] | [1. 3. 5. 0. 2. 4. 7.] | [4. 1. 5. 3. 0. 2. 7.] | [3. 4. 5. 1. 0. 2. 7.] | [5. 2. 3. 4. 1. 0. 7.] | [2. 4. 0. 5. 3. 1. 7.] | [1 0]     | [0 1 2]   | [1 0 2 3]            | [3 2 1 4 5 0]          | [0. 1. 2. 3. 4.]      |

In [140]:
Data_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   team_id               5172 non-null   int64
 1   role                  5172 non-null   int64
 2   Discipline            5172 non-null   float64
 3   Year                  5172 non-null   float64
 4   Gender                5172 non-null   float64
 5   elsiLab               5172 non-null   float64
 6   cgpa                  4907 non-null   float64
 7   onlineCourse          5154 non-null   float64
 8   completeCourse        5154 non-null   float64
 9   ssc_board             5172 non-null   float64
 10  hsc_board             5172 non-null   float64
 11  workstation           5172 non-null   float64
 12  internetspeed<        4067 non-null   float64
 13  sub_ros               5172 non-null   float64
 14  sub_ip                5172 non-null   float64
 15  sub_emb_c             5172 non-null   float64
 16  sub_ml                5172 non-null   float64
 17  sub_ap                5172 non-null   float64
 18  sub_cs                5172 non-null   float64
 19  sub_mss               5172 non-null   float64
 20  sub_fpga              5172 non-null   float64
 21  sub_mm                5172 non-null   float64
 22  sub_de                5172 non-null   float64
 23  preference1           5172 non-null   float64
 24  preference2           5172 non-null   float64
 25  preference3           5172 non-null   float64
 26  preference4           5172 non-null   float64
 27  preference5           5172 non-null   float64
 28  preference6           5172 non-null   float64
 29  IS_eLSI               5172 non-null   int64
 30  country               5172 non-null   int64
 31  Participation_Freq    5172 non-null   int64
 32  Internet_option_freq  5172 non-null   int64
 33  Department_category   5172 non-null   float64
dtypes: float64(28), int64(6)
memory usage: 1.3 MB

In [141]:
categorical_cols = ['Discipline', 'Year', 'Gender', 'elsiLab', 'ssc_board', 'hsc_board',
       'workstation', 'sub_ros', 'sub_ip', 'sub_emb_c',
       'sub_ml', 'sub_ap', 'sub_cs', 'sub_mss', 'sub_fpga', 'sub_mm', 'sub_de',
       'preference1', 'preference2', 'preference3', 'preference4',
       'preference5', 'preference6', 'IS_eLSI', 'country',
       'Participation_Freq', 'Internet_option_freq', 'Department_category'] 
ohe = OneHotEncoder()

In [142]:
average_data = Data_analysis.drop(columns=categorical_cols, axis=1)

In [143]:
Data_analysis.columns

Index(['team_id', 'role', 'Discipline', 'Year', 'Gender', 'elsiLab', 'cgpa',
       'onlineCourse', 'completeCourse', 'ssc_board', 'hsc_board',
       'workstation', 'internetspeed<', 'sub_ros', 'sub_ip', 'sub_emb_c',
       'sub_ml', 'sub_ap', 'sub_cs', 'sub_mss', 'sub_fpga', 'sub_mm', 'sub_de',
       'preference1', 'preference2', 'preference3', 'preference4',
       'preference5', 'preference6', 'IS_eLSI', 'country',
       'Participation_Freq', 'Internet_option_freq', 'Department_category'],
      dtype='object')

In [144]:
data_hot_encoded = pd.get_dummies(Data_analysis, columns = categorical_cols)

In [145]:
data_hot_encoded.drop(['role', 'cgpa', 'onlineCourse', 'completeCourse', 'internetspeed<'], axis=1, inplace=True)

In [146]:
data_hot_encoded.head()

,team_id,Discipline_0.0,Discipline_1.0,Discipline_2.0,Discipline_3.0,Discipline_4.0,Discipline_5.0,Discipline_7.0,Year_1.0,Year_2.0,...,Internet_option_freq_1,Internet_option_freq_2,Internet_option_freq_3,Internet_option_freq_4,Internet_option_freq_5,Department_category_0.0,Department_category_1.0,Department_category_2.0,Department_category_3.0,Department_category_4.0
0,1001,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
1,1001,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,1001,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,1001,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,1002,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0

In [147]:
average_data.head()

   team_id  role   cgpa  onlineCourse  completeCourse  internetspeed<
0     1001     1  9.000           3.0             2.0             1.0
1     1001     2  9.000           4.0             2.0             1.0
2     1001     2  8.450           3.0             0.0             1.0
3     1001     2  7.300           1.0             0.0             1.0
4     1002     1  9.004          10.0             7.0            10.0

In [148]:
# average_data = average_data.groupby('team_id').mean()
average_data = average_data.groupby('team_id').agg({'cgpa':'mean', 
                         'onlineCourse':'mean', 
                         'completeCourse':'mean', 
                         'internetspeed<': 'max'})

In [149]:
average_data.head()

             cgpa  onlineCourse  completeCourse  internetspeed<
team_id
1001     8.437500          2.75             1.0             1.0
1002     8.443500          5.75             4.5            50.0
1004     8.852500          6.00             5.5           150.0
1005     8.650000          5.75             4.0           200.0
1006     7.549675          0.50             0.5           100.0

In [150]:
data_hot_encoded = data_hot_encoded.groupby("team_id").sum()

In [151]:
data_hot_encoded.head()

,Discipline_0.0,Discipline_1.0,Discipline_2.0,Discipline_3.0,Discipline_4.0,Discipline_5.0,Discipline_7.0,Year_1.0,Year_2.0,Year_3.0,...,Internet_option_freq_1,Internet_option_freq_2,Internet_option_freq_3,Internet_option_freq_4,Internet_option_freq_5,Department_category_0.0,Department_category_1.0,Department_category_2.0,Department_category_3.0,Department_category_4.0
team_id,,,,,,,,,,,,,,,,,,,,,
1001,4,0,0,0,0,0,0,0,0,4,...,0,3,1,0,0,4,0,0,0,0
1002,4,0,0,0,0,0,0,0,0,4,...,3,0,1,0,0,3,1,0,0,0
1004,4,0,0,0,0,0,0,0,1,3,...,4,0,0,0,0,1,0,3,0,0
1005,4,0,0,0,0,0,0,0,0,0,...,4,0,0,0,0,0,0,3,1,0
1006,3,1,0,0,0,0,0,0,4,0,...,0,4,0,0,0,3,1,0,0,0

In [152]:
data_grouped = pd.concat([average_data, data_hot_encoded], axis=1)

In [153]:
data_grouped.head()

,cgpa,onlineCourse,completeCourse,internetspeed<,Discipline_0.0,Discipline_1.0,Discipline_2.0,Discipline_3.0,Discipline_4.0,Discipline_5.0,...,Internet_option_freq_1,Internet_option_freq_2,Internet_option_freq_3,Internet_option_freq_4,Internet_option_freq_5,Department_category_0.0,Department_category_1.0,Department_category_2.0,Department_category_3.0,Department_category_4.0
team_id,,,,,,,,,,,,,,,,,,,,,
1001,8.437500,2.75,1.0,1.0,4,0,0,0,0,0,...,0,3,1,0,0,4,0,0,0,0
1002,8.443500,5.75,4.5,50.0,4,0,0,0,0,0,...,3,0,1,0,0,3,1,0,0,0
1004,8.852500,6.00,5.5,150.0,4,0,0,0,0,0,...,4,0,0,0,0,1,0,3,0,0
1005,8.650000,5.75,4.0,200.0,4,0,0,0,0,0,...,4,0,0,0,0,0,0,3,1,0
1006,7.549675,0.50,0.5,100.0,3,1,0,0,0,0,...,0,4,0,0,0,3,1,0,0,0

In [154]:
data_grouped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1293 entries, 1001 to 2971
Columns: 159 entries, cgpa to Department_category_4.0
dtypes: float64(4), uint8(155)
memory usage: 246.2 KB

In [155]:
data_grouped.describe()

,cgpa,onlineCourse,completeCourse,internetspeed<,Discipline_0.0,Discipline_1.0,Discipline_2.0,Discipline_3.0,Discipline_4.0,Discipline_5.0,...,Internet_option_freq_1,Internet_option_freq_2,Internet_option_freq_3,Internet_option_freq_4,Internet_option_freq_5,Department_category_0.0,Department_category_1.0,Department_category_2.0,Department_category_3.0,Department_category_4.0
count,1286.000000,1292.000000,1292.000000,1184.000000,1293.000000,1293.000000,1293.00000,1293.000000,1293.000000,1293.000000,...,1293.000000,1293.000000,1293.000000,1293.000000,1293.000000,1293.000000,1293.000000,1293.000000,1293.000000,1293.000000
mean,8.494606,2.898671,1.962461,63.363176,3.768755,0.008507,0.07966,0.096674,0.015468,0.022428,...,2.730085,0.788863,0.359629,0.094354,0.013148,2.050271,0.948183,0.728538,0.225831,0.047177
std,0.812837,3.185943,2.462263,55.176500,0.827104,0.133152,0.42811,0.593382,0.218514,0.252464,...,1.227522,0.969887,0.735948,0.377880,0.120552,1.701787,1.415179,1.306010,0.688279,0.369212
min,2.870000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.117812,1.000000,0.500000,10.000000,4.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,8.589417,2.000000,1.250000,50.000000,4.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,3.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,9.011875,4.000000,2.750000,100.000000,4.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,4.000000,1.000000,0.000000,0.000000,0.000000,4.000000,2.000000,1.000000,0.000000,0.000000
max,10.000000,29.250000,28.500000,200.000000,4.000000,4.000000,4.00000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [156]:
data_grouped.shape

(1293, 159)

In [ ]:
data_grouped.columns.to_list()

In [158]:
data_grouped.to_csv('Dataset_grouped(25-06-22).csv', index=True)

The dataset generated is grouped according to the team id, so that each team has a single data entry. Some continuous values columns like cgpa, courses and internet speed will be dealt later.