<a href="https://colab.research.google.com/github/adityapanwar94/Data-Analysis-and-Process-Automation-DaPrA-/blob/harshini/Data_cleaning_pc_specs(09_07_22).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Import Dataset**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **Import Libraries**

In [2]:
import pandas as pd
import numpy as np

In [3]:
pc_details = pd.read_csv(r'/content/drive/MyDrive/dataset/Cleaned_pc_specs3.csv')
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1293 entries, 0 to 1292
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1293 non-null   int64
 1   team_id             1293 non-null   int64
 2   Single core score1  1293 non-null   object
 3   Single core score2  1293 non-null   object
 4   Single core score3  1293 non-null   object
 5   Single core score4  1293 non-null   object
 6   Multi core score1   1293 non-null   object
 7   Multi core score2   1293 non-null   object
 8   Multi core score3   1293 non-null   object
 9   Multi core score4   1293 non-null   object
 10  OpenCL score1       959 non-null    object
 11  OpenCL score2       883 non-null    object
 12  OpenCL score3       859 non-null    object
 13  OpenCL score4       848 non-null    object
 14  OS1                 1293 non-null   object
 15  OS2                 1293 non-null   object
 16  OS3                 1293 non-null   object
 17  OS4                 1293 non-null   object
 18  Model1              1293 non-null   object
 19  Model2              1293 non-null   object
 20  Model3              1293 non-null   object
 21  Model4              1293 non-null   object
 22  CPU1                1293 non-null   object
 23  CPU2                1293 non-null   object
 24  CPU3                1293 non-null   object
 25  CPU4                1293 non-null   object
 26  Memory1             1293 non-null   object
 27  Memory2             1293 non-null   object
 28  Memory3             1293 non-null   object
 29  Memory4             1293 non-null   object
 30  Graphic Card1       959 non-null    object
 31  Graphic Card2       883 non-null    object
 32  Graphic Card3       859 non-null    object
 33  Graphic Card4       848 non-null    object
dtypes: int64(2), object(32)
memory usage: 343.6+ KB

In [4]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,CPU3,CPU4,Memory1,Memory2,Memory3,Memory4,Graphic Card1,Graphic Card2,Graphic Card3,Graphic Card4
0,0,1001,1142,543,836,601,2148,1132,1525,2281,...,Intel Core i5-7200U,AMD Ryzen 5 3500U,3.62,3.64,3.73,5.74,NaN,Intel(R) HD Graphics 520 (SKL GT2),Intel(R) HD Graphics 620 (KBL GT2),AMD RADV RAVEN (ACO)
1,1,1002,1060,549,416,590,3394,1834,857,1326,...,Intel Core i3-2350M,Intel Core i5-5200U,2,2,2,1,3.14,2.00,NaN,2.00
2,2,1004,809,1182,847,770,2303,6647,2474,1643,...,Intel Core i5-8250U,Intel Core i7-6500U,1,2,1,1,2.00 3.00,6.00,3.16,2.00
3,3,1005,686,1003,624,827,3318,3848,3610,4071,...,AMD Ryzen 5 4600H,Intel Core i7-9750H,15.52,1,1,1,NaN,6.00,4.00,6.00 6.00
4,4,1006,1004,422,657,1121,2612,1127,2252,5887,...,Intel Core i5-10300H,AMD Ryzen 7 4800H,1,1,1,2,4.00,1.59,4.00,6.00

## **Analzing the values and count of numeric values**

In [5]:
pc_details['Memory1'].str.isnumeric().sum()

973

In [6]:
import re

In [7]:
pc_details['Memory1'].str.isalpha().sum()

214

In [8]:
pc_details['Memory2'].str.isalpha().sum()

308

In [9]:
pc_details['Memory3'].str.isalpha().sum()

313

In [10]:
pc_details['Memory1']

0        3.62
1             2
2             1
3       15.52
4             1
         ...
1288          1
1289          2
1290        Nil
1291        Nil
1292        Nil
Name: Memory1, Length: 1293, dtype: object

In [11]:
pc_details['Memory1'].isnull().sum()

0

In [12]:
pc_details['Memory1'].str.replace('Nil','')

0        3.62
1             2
2             1
3       15.52
4             1
         ...
1288          1
1289          2
1290
1291
1292
Name: Memory1, Length: 1293, dtype: object

In [13]:
pc_details['Memory1'].isnull().sum()

0

In [14]:
a=  pc_details['Memory1'].unique()
print(a)

['3.62  ' '2' '1' '15.52  ' '8.00   LPDDR3 2133 MT/s' '7.69  ' '7.60  '
 '15.30  ' 'Nil' '5.74  ' '7.77  ' '7.68  ' '7.67  ' '15.51  ' '3.76  '
 '4.00    794 MHz' '8.00  ' '7.56  ' '3.86  ' '16.00  ' '11.58  ' '1.95  '
 '16.00   LPDDR4X 3733 MT/s' '7.62  ' '7.66  ' '4' '7.55  '
 '3.92   DDR3 SDRAM 1599 MHz' '15.57  ' '7.85  ' '3.30  ' '3.63  '
 '4.00   DDR3 SDRAM 665 MHz' '7.64  ' '6.75  ' '8.00   LPDDR4X 3733 MT/s'
 '8.00   DDR3 1600 MT/s' '15.37  ' '8.00   LPDDR3 933 MHz' '3.74  '
 '3.55  ' '15.14  ' '3.71  ' '7.14  ' '4.00   DDR3 SDRAM 1599 MHz'
 '7.86  ' '3.75  ' '7.44  ' '3.69  ' '7.63  ' '15.39  ' '4.00  ' '11.49  '
 '15.55  ' '15.49  ' '7.65  ' '4.00    798 MHz' '16.00   EDO RAM' '7.52  ']

In [15]:
print(pc_details.isna().sum().sort_values(ascending=False).to_markdown())

|                    |   0 |
|:-------------------|----:|
| Graphic Card4      | 445 |
| OpenCL score4      | 445 |
| OpenCL score3      | 434 |
| Graphic Card3      | 434 |
| Graphic Card2      | 410 |
| OpenCL score2      | 410 |
| Graphic Card1      | 334 |
| OpenCL score1      | 334 |
| Model4             |   0 |
| CPU1               |   0 |
| CPU2               |   0 |
| CPU3               |   0 |
| CPU4               |   0 |
| Model2             |   0 |
| Memory1            |   0 |
| Memory2            |   0 |
| Memory3            |   0 |
| Memory4            |   0 |
| Model3             |   0 |
| Unnamed: 0         |   0 |
| Model1             |   0 |
| team_id            |   0 |
| OS3                |   0 |
| OS2                |   0 |
| OS1                |   0 |
| Multi core score4  |   0 |
| Multi core score3  |   0 |
| Multi core score2  |   0 |
| Multi core score1  |   0 |
| Single core score4 |   0 |
| Single core score3 |   0 |
| Single core score2 |   0 |
| Single core score1 |   0 |
| OS4                |   0 |

In [16]:
pc_details.columns

Index(['Unnamed: 0', 'team_id', 'Single core score1', 'Single core score2',
       'Single core score3', 'Single core score4', 'Multi core score1',
       'Multi core score2', 'Multi core score3', 'Multi core score4',
       'OpenCL score1', 'OpenCL score2', 'OpenCL score3', 'OpenCL score4',
       'OS1', 'OS2', 'OS3', 'OS4', 'Model1', 'Model2', 'Model3', 'Model4',
       'CPU1', 'CPU2', 'CPU3', 'CPU4', 'Memory1', 'Memory2', 'Memory3',
       'Memory4', 'Graphic Card1', 'Graphic Card2', 'Graphic Card3',
       'Graphic Card4'],
      dtype='object')

In [17]:
print(pc_details.isnull().sum(axis=1).sort_values(ascending=False).to_markdown())

|      |   0 |
|-----:|----:|
| 1292 |   8 |
|  133 |   8 |
|  837 |   8 |
| 1137 |   8 |
| 1136 |   8 |
| 1135 |   8 |
| 1134 |   8 |
| 1133 |   8 |
| 1132 |   8 |
| 1131 |   8 |
|  843 |   8 |
| 1141 |   8 |
|  370 |   8 |
|  861 |   8 |
| 1127 |   8 |
| 1126 |   8 |
| 1124 |   8 |
| 1122 |   8 |
| 1121 |   8 |
|  143 |   8 |
|  387 |   8 |
|  392 |   8 |
|  145 |   8 |
|  437 |   8 |
|  772 |   8 |
|  775 |   8 |
| 1185 |   8 |
|   94 |   8 |
| 1184 |   8 |
|  439 |   8 |
| 1180 |   8 |
| 1178 |   8 |
|  790 |   8 |
|  406 |   8 |
|  806 |   8 |
| 1166 |   8 |
|  419 |   8 |
| 1038 |   8 |
|  812 |   8 |
|  815 |   8 |
| 1159 |   8 |
|  816 |   8 |
| 1120 |   8 |
| 1119 |   8 |
|  762 |   8 |
|  245 |   8 |
|  264 |   8 |
|  984 |   8 |
|  989 |   8 |
| 1069 |   8 |
|  994 |   8 |
| 1066 |   8 |
| 1065 |   8 |
|  997 |   8 |
| 1060 |   8 |
| 1079 |   8 |
| 1002 |   8 |
| 1058 |   8 |
| 1056 |   8 |
| 1052 |   8 |
| 1048 |   8 |
| 1022 |   8 |
| 1031 |   8 |
| 1040 |   8 |
| 1075 |   8 |
|  971 |   8 |
|  883 |   8 |
| 1103 |   8 |
|  886 |   8 |
|  152 |   8 |
| 1115 |   8 |
|  901 |   8 |
|  324 |   8 |
| 1112 |   8 |
| 1106 |   8 |
|  918 |   8 |
|  921 |   8 |
| 1084 |   8 |
|  927 |   8 |
|  931 |   8 |
|  935 |   8 |
|  939 |   8 |
|  948 |   8 |
| 1094 |   8 |
|  954 |   8 |
|  962 |   8 |
|  763 |   8 |
|  811 |   8 |
| 1039 |   8 |
|  500 |   8 |
|  724 |   8 |
| 1220 |   8 |
|  722 |   8 |
|  620 |   8 |
|  720 |   8 |
|  712 |   8 |
|  622 |   8 |
| 1229 |   8 |
|  644 |   8 |
|  699 |   8 |
| 1232 |   8 |
|  624 |   8 |
|  696 |   8 |
| 1239 |   8 |
| 1216 |   8 |
|  504 |   8 |
|  687 |   8 |
| 1263 |   8 |
|  686 |   8 |
|  516 |   8 |
| 1248 |   8 |
|  663 |   8 |
|  532 |   8 |
|  534 |   8 |
|   33 |   8 |
|  660 |   8 |
|  643 |   8 |
|  549 |   8 |
| 1276 |   8 |
|  704 |   8 |
|  592 |   8 |
| 1203 |   8 |
|  743 |   8 |
|  462 |   8 |
| 1195 |   8 |
|  751 |   8 |
| 1205 |   8 |
| 1199 |   8 |
| 1290 |   8 |
|  588 |   8 |
| 1208 |   8 |
| 1291 |   8 |
|   70 |   8 |
|  729 |   8 |
|  475 |   8 |
| 1277 |   8 |
|  476 |   8 |
| 1023 |   6 |
|  967 |   6 |
|  642 |   6 |
|  279 |   6 |
|  557 |   6 |
|  244 |   6 |
|  961 |   6 |
|  229 |   6 |
|  959 |   6 |
|  565 |   6 |
|  958 |   6 |
|  290 |   6 |
|  555 |   6 |
|  560 |   6 |
|  633 |   6 |
|  271 |   6 |
|  975 |   6 |
|  999 |   6 |
|  616 |   6 |
|  611 |   6 |
| 1003 |   6 |
|  248 |   6 |
| 1006 |   6 |
|  575 |   6 |
|  573 |   6 |
|  988 |   6 |
|  606 |   6 |
|  987 |   6 |
|  570 |   6 |
| 1009 |   6 |
| 1014 |   6 |
|  619 |   6 |
|  980 |   6 |
|  603 |   6 |
|  950 |   6 |
|  756 |   6 |
|  550 |   6 |
|  418 |   6 |
|  380 |   6 |
|  836 |   6 |
|  834 |   6 |
|  396 |   6 |
|  404 |   6 |
|  410 |   6 |
|  473 |   6 |
|  416 |   6 |
|  417 |   6 |
|  469 |   6 |
|  496 |   6 |
|  807 |   6 |
|  744 |   6 |
|  432 |   6 |
|  434 |   6 |
|  465 |   6 |
|  464 |   6 |
|  745 |   6 |
|  752 |   6 |
|  449 |   6 |
|  705 |   6 |
|  697 |   6 |
|  936 |   6 |
|  896 |   6 |
|  653 |   6 |
|  656 |   6 |
|  315 |   6 |
|  321 |   6 |
|  917 |   6 |
|  670 |   6 |
|  915 |   6 |
|  905 |   6 |
|  456 |   6 |
|  522 |   6 |
|  695 |   6 |
|  893 |   6 |
|  683 |   6 |
|  344 |   6 |
|  877 |   6 |
|  513 |   6 |
|  507 |   6 |
|  506 |   6 |
|  350 |   6 |
|  502 |   6 |
|  523 |   6 |
|  597 |   6 |
| 1231 |   6 |
| 1261 |   6 |
| 1193 |   6 |
| 1073 |   6 |
| 1279 |   6 |
| 1114 |   6 |
| 1191 |   6 |
| 1187 |   6 |
| 1076 |   6 |
| 1113 |   6 |
| 1243 |   6 |
| 1186 |   6 |
|  158 |   6 |
| 1145 |   6 |
| 1104 |   6 |
| 1181 |   6 |
| 1082 |   6 |
|  180 |   6 |
| 1268 |   6 |
| 1088 |   6 |
| 1244 |   6 |
|   36 |   6 |
| 1095 |   6 |
| 1153 |   6 |
| 1161 |   6 |
| 1264 |   6 |
| 1162 |   6 |
| 1168 |   6 |
|   20 |   6 |
| 1167 |   6 |
|  106 |   6 |
| 1072 |   6 |
| 1139 |   6 |
|  201 |   6 |
| 1200 |   6 |
| 1256 |   6 |
| 1061 |   6 |
| 1225 |   6 |
|   54 |   6 |
| 1067 |   6 |
| 1219 |   6 |
| 1228 |   6 |
| 1281 |   6 |
| 1280 |   6 |
| 1036 |   4 |
|  648 |   4 |
|  855 |   4 |
|  828 |   4 |
|  825 |   4 |
|  546 |   4 |
|  529 |   4 |
|  116 |   4 |
|  362 |   4 |
| 1163 |   4 |
|  647 |   4 |
|  365 |   4 |
|  524 |   4 |
| 1129 |   4 |
|  858 |   4 |
| 1128 |   4 |
|  363 |   4 |
|  382 |   4 |
|  372 |   4 |
|  661 |   4 |
|  537 |   4 |
|   30 |   4 |
|  384 |   4 |
|   31 |   4 |
| 1165 |   4 |
|  652 |   4 |
| 1140 |   4 |
|  121 |   4 |
|  651 |   4 |
|  376 |   4 |
|  649 |   4 |
|  390 |   4 |
|  846 |   4 |
|  849 |   4 |
|  393 |   4 |
|  395 |   4 |
|  851 |   4 |
|  383 |   4 |
|   34 |   4 |
|   39 |   4 |
| 1245 |   4 |
|  107 |   4 |
|  421 |   4 |
|  509 |   4 |
|  749 |   4 |
| 1197 |   4 |
|   80 |   4 |
|   76 |   4 |
| 1204 |   4 |
|   47 |   4 |
|   74 |   4 |
|  693 |   4 |
|  471 |   4 |
|  730 |   4 |
|  503 |   4 |
| 1237 |   4 |
| 1214 |   4 |
| 1235 |   4 |
|  721 |   4 |
|   62 |   4 |
|  716 |   4 |
|  715 |   4 |
|  714 |   4 |
|  498 |   4 |
| 1233 |   4 |
|  490 |   4 |
|   85 |   4 |
|  690 |   4 |
|  753 |   4 |
|  781 |   4 |
|  675 |   4 |
|  799 |   4 |
|  426 |   4 |
|  427 |   4 |
|  791 |   4 |
|  430 |   4 |
| 1174 |   4 |
|  359 |   4 |
|  433 |   4 |
|  517 |   4 |
|   99 |   4 |
|  511 |   4 |
|   43 |   4 |
|  778 |   4 |
|   92 |   4 |
|  773 |   4 |
|  444 |   4 |
| 1242 |   4 |
|  764 |   4 |
|   90 |   4 |
| 1188 |   4 |
|  760 |   4 |
|  360 |   4 |
|  221 |   4 |
|  358 |   4 |
|  964 |   4 |
|  982 |   4 |
|  621 |   4 |
|  578 |   4 |
|  974 |   4 |
|  273 |   4 |
|  274 |   4 |
| 1080 |   4 |
|  970 |   4 |
|  277 |   4 |
|  577 |   4 |
|  280 |   4 |
|  957 |   4 |
|   21 |   4 |
|  288 |   4 |
| 1091 |   4 |
|  629 |   4 |
|  172 |   4 |
|  296 |   4 |
|  599 |   4 |
|  171 |   4 |
|  170 |   4 |
|  304 |   4 |
|  635 |   4 |
| 1097 |   4 |
|  265 |   4 |
|  190 |   4 |
|  260 |   4 |
|  193 |   4 |
| 1287 |   4 |
| 1032 |   4 |
| 1041 |   4 |
| 1030 |   4 |
|  227 |   4 |
| 1042 |   4 |
| 1043 |   4 |
| 1044 |   4 |
| 1020 |   4 |
|  213 |   4 |
| 1010 |   4 |
| 1282 |   4 |
|  609 |   4 |
| 1053 |   4 |
| 1059 |   4 |
| 1001 |   4 |
|  589 |   4 |
|  998 |   4 |
| 1064 |   4 |
|  996 |   4 |
| 1068 |   4 |
|  255 |   4 |
|  257 |   4 |
|  307 |   4 |
|  947 |   4 |
|  564 |   4 |
|  151 |   4 |
|  561 |   4 |
|  916 |   4 |
| 1262 |   4 |
|  639 |   4 |
|  908 |   4 |
|  926 |   4 |
|   23 |   4 |
|  902 |   4 |
|  155 |   4 |
| 1116 |   4 |
|  338 |   4 |
| 1117 |   4 |
| 1105 |   4 |
|  554 |   4 |
|  147 |   4 |
|  146 |   4 |
|  551 |   4 |
|  871 |   4 |
| 1125 |   4 |
|  869 |   4 |
|  867 |   4 |
|  354 |   4 |
|  865 |   4 |
|  864 |   4 |
|  322 |   4 |
|  907 |   4 |
|  165 |   4 |
|  922 |   4 |
|  311 |   4 |
|  563 |   4 |
|  314 |   4 |
|  317 |   4 |
|  923 |   4 |
|  313 |   4 |
|  673 |   2 |
|  610 |   2 |
| 1240 |   2 |
|  667 |   2 |
|  645 |   2 |
|  630 |   2 |
| 1236 |   2 |
|  608 |   2 |
|  632 |   2 |
| 1283 |   2 |
| 1255 |   2 |
|  664 |   2 |
| 1250 |   2 |
|  605 |   2 |
| 1234 |   2 |
|  671 |   2 |
| 1254 |   2 |
| 1247 |   2 |
|  700 |   2 |
|  678 |   2 |
| 1257 |   2 |
|  662 |   2 |
| 1269 |   2 |
|  658 |   2 |
|  685 |   2 |
|  623 |   2 |
| 1270 |   2 |
|  625 |   2 |
| 1252 |   2 |
| 1272 |   2 |
| 1273 |   2 |
|  637 |   2 |
|  650 |   2 |
| 1267 |   2 |
| 1259 |   2 |
|  615 |   2 |
|  692 |   2 |
|  612 |   2 |
| 1241 |   2 |
|  655 |   2 |
|  626 |   2 |
| 1253 |   2 |
|    1 |   2 |
|  817 |   2 |
|  702 |   2 |
| 1230 |   2 |
|  946 |   2 |
|  945 |   2 |
|  943 |   2 |
|  941 |   2 |
| 1096 |   2 |
|  930 |   2 |
| 1098 |   2 |
|  925 |   2 |
| 1102 |   2 |
| 1109 |   2 |
|  912 |   2 |
|  909 |   2 |
|  903 |   2 |
|  899 |   2 |
|  897 |   2 |
|  891 |   2 |
| 1118 |   2 |
|  882 |   2 |
|  878 |   2 |
|  876 |   2 |
|  870 |   2 |
|  866 |   2 |
|  862 |   2 |
|  951 |   2 |
|  953 |   2 |
| 1093 |   2 |
|  991 |   2 |
| 1035 |   2 |
| 1026 |   2 |
| 1016 |   2 |
| 1011 |   2 |
| 1045 |   2 |
| 1007 |   2 |
| 1049 |   2 |
| 1063 |   2 |
|  995 |   2 |
|  992 |   2 |
|  990 |   2 |
| 1089 |   2 |
|  986 |   2 |
| 1074 |   2 |
|  983 |   2 |
|  981 |   2 |
|  977 |   2 |
| 1077 |   2 |
| 1078 |   2 |
|  968 |   2 |
| 1081 |   2 |
| 1086 |   2 |
|  857 |   2 |
|  856 |   2 |
|  854 |   2 |
| 1198 |   2 |
| 1177 |   2 |
|  784 |   2 |
|  780 |   2 |
|  779 |   2 |
|  771 |   2 |
|  766 |   2 |
|  755 |   2 |
| 1192 |   2 |
|  750 |   2 |
|  746 |   2 |
|  736 |   2 |
|  793 |   2 |
|  732 |   2 |
| 1209 |   2 |
| 1211 |   2 |
| 1212 |   2 |
|  728 |   2 |
| 1222 |   2 |
|  711 |   2 |
|  708 |   2 |
|  707 |   2 |
|  706 |   2 |
| 1176 |   2 |
|  803 |   2 |
|  852 |   2 |
|  829 |   2 |
|  845 |   2 |
| 1130 |   2 |
|  842 |   2 |
| 1138 |   2 |
|  840 |   2 |
|  839 |   2 |
|  835 |   2 |
| 1142 |   2 |
|  833 |   2 |
| 1146 |   2 |
|  824 |   2 |
|  804 |   2 |
|  823 |   2 |
|  822 |   2 |
|  821 |   2 |
| 1150 |   2 |
|  820 |   2 |
|  819 |   2 |
|  818 |   2 |
| 1154 |   2 |
|  810 |   2 |
| 1164 |   2 |
|  944 |   2 |
|    0 |   2 |
|  598 |   2 |
|   67 |   2 |
|  467 |   2 |
|  463 |   2 |
|   96 |   2 |
|   97 |   2 |
|  460 |   2 |
|  328 |   2 |
|  458 |   2 |
|  457 |   2 |
|  100 |   2 |
|  330 |   2 |
|  453 |   2 |
|  452 |   2 |
|  332 |   2 |
|  333 |   2 |
|  450 |   2 |
|  448 |   2 |
|  447 |   2 |
|  103 |   2 |
|  104 |   2 |
|  195 |   2 |
|  446 |   2 |
|  445 |   2 |
|  443 |   2 |
|  327 |   2 |
|  204 |   2 |
|   91 |   2 |
|  310 |   2 |
|  489 |   2 |
|  210 |   2 |
|   72 |   2 |
|  486 |   2 |
|  485 |   2 |
|  309 |   2 |
|  483 |   2 |
|  482 |   2 |
|   73 |   2 |
|   75 |   2 |
|  481 |   2 |
|   89 |   2 |
|  480 |   2 |
|  209 |   2 |
|   78 |   2 |
|  163 |   2 |
|  319 |   2 |
|  477 |   2 |
|   84 |   2 |
|   87 |   2 |
|  325 |   2 |
|   88 |   2 |
|  109 |   2 |
|  442 |   2 |
|  111 |   2 |
|  394 |   2 |
|  405 |   2 |
|  134 |   2 |
|  402 |   2 |
|  401 |   2 |
|  349 |   2 |
|  137 |   2 |
|  351 |   2 |
|  139 |   2 |
|  352 |   2 |
|  353 |   2 |
|  391 |   2 |
|  130 |   2 |
|  388 |   2 |
|  173 |   2 |
|  169 |   2 |
|  361 |   2 |
|  154 |   2 |
|  156 |   2 |
|  378 |   2 |
|  157 |   2 |
|  167 |   2 |
|  164 |   2 |
|  407 |   2 |
|  412 |   2 |
|  194 |   2 |
|  183 |   2 |
|  337 |   2 |
|  438 |   2 |
|  436 |   2 |
|  435 |   2 |
|  188 |   2 |
|  340 |   2 |
|  185 |   2 |
|  429 |   2 |
|  428 |   2 |
|  341 |   2 |
|  342 |   2 |
|  129 |   2 |
|  343 |   2 |
|  120 |   2 |
|  122 |   2 |
|  124 |   2 |
|  422 |   2 |
|  420 |   2 |
|  346 |   2 |
|  347 |   2 |
|  414 |   2 |
|  413 |   2 |
|  212 |   2 |
|  161 |   2 |
|  493 |   2 |
|  283 |   2 |
|  556 |   2 |
|  282 |   2 |
|   26 |   2 |
|  548 |   2 |
|   27 |   2 |
|  545 |   2 |
|  543 |   2 |
|  231 |   2 |
|   32 |   2 |
|  284 |   2 |
|   22 |   2 |
|   37 |   2 |
|  538 |   2 |
|  285 |   2 |
|  286 |   2 |
|  535 |   2 |
|  531 |   2 |
|  530 |   2 |
|  528 |   2 |
|   41 |   2 |
|  559 |   2 |
|  566 |   2 |
|   44 |   2 |
|  237 |   2 |
|  246 |   2 |
|    3 |   2 |
|  240 |   2 |
|  593 |   2 |
|  259 |   2 |
|  261 |   2 |
|  585 |   2 |
|  584 |   2 |
|  267 |   2 |
|  582 |   2 |
|  234 |   2 |
|  581 |   2 |
|  580 |   2 |
|  236 |   2 |
|  576 |   2 |
|  269 |   2 |
|  235 |   2 |
|  272 |   2 |
|   14 |   2 |
|   15 |   2 |
|  527 |   2 |
|   28 |   2 |
|   57 |   2 |
|  215 |   2 |
|  289 |   2 |
|  220 |   2 |
|   63 |   2 |
|  508 |   2 |
|  505 |   2 |
|  501 |   2 |
|  218 |   2 |
|  518 |   2 |
|   65 |   2 |
|  295 |   2 |
|   56 |   2 |
|   55 |   2 |
|   52 |   2 |
|  299 |   2 |
|  226 |   2 |
|  214 |   2 |
|  525 |   2 |
|  166 |   0 |
| 1099 |   0 |
|  219 |   0 |
| 1100 |   0 |
| 1101 |   0 |
| 1090 |   0 |
|  177 |   0 |
| 1037 |   0 |
|  216 |   0 |
| 1051 |   0 |
|  178 |   0 |
| 1012 |   0 |
|  222 |   0 |
| 1087 |   0 |
|  223 |   0 |
|  176 |   0 |
| 1008 |   0 |
| 1047 |   0 |
| 1050 |   0 |
|  217 |   0 |
|  174 |   0 |
|  211 |   0 |
| 1004 |   0 |
|  168 |   0 |
|  241 |   0 |
| 1005 |   0 |
|  175 |   0 |
|  239 |   0 |
| 1013 |   0 |
|  242 |   0 |
|  238 |   0 |
| 1092 |   0 |
| 1000 |   0 |
|  243 |   0 |
|  228 |   0 |
| 1034 |   0 |
| 1054 |   0 |
|  206 |   0 |
|  205 |   0 |
| 1071 |   0 |
|  224 |   0 |
|  203 |   0 |
| 1070 |   0 |
|  225 |   0 |
|  230 |   0 |
| 1062 |   0 |
|  196 |   0 |
| 1029 |   0 |
| 1024 |   0 |
| 1028 |   0 |
| 1027 |   0 |
|  202 |   0 |
|  197 |   0 |
|  198 |   0 |
|  199 |   0 |
| 1025 |   0 |
|  200 |   0 |
| 1046 |   0 |
|  192 |   0 |
| 1015 |   0 |
|  191 |   0 |
|  179 |   0 |
|  233 |   0 |
| 1085 |   0 |
|  181 |   0 |
| 1083 |   0 |
| 1017 |   0 |
| 1018 |   0 |
|  182 |   0 |
| 1033 |   0 |
| 1055 |   0 |
| 1019 |   0 |
|  184 |   0 |
|  232 |   0 |
| 1021 |   0 |
|  186 |   0 |
|  187 |   0 |
|  207 |   0 |
| 1057 |   0 |
|  189 |   0 |
|  208 |   0 |
| 1147 |   0 |
|  162 |   0 |
|   50 |   0 |
| 1227 |   0 |
|   60 |   0 |
|   59 |   0 |
|   58 |   0 |
|   53 |   0 |
|   51 |   0 |
| 1238 |   0 |
|   61 |   0 |
|   49 |   0 |
|   48 |   0 |
|   46 |   0 |
|   45 |   0 |
|   42 |   0 |
| 1246 |   0 |
| 1226 |   0 |
| 1224 |   0 |
|   38 |   0 |
|   68 |   0 |
|   77 |   0 |
| 1206 |   0 |
| 1207 |   0 |
|   71 |   0 |
| 1210 |   0 |
|   69 |   0 |
| 1213 |   0 |
| 1223 |   0 |
| 1215 |   0 |
|   66 |   0 |
| 1217 |   0 |
| 1218 |   0 |
|   64 |   0 |
| 1221 |   0 |
|   40 |   0 |
| 1249 |   0 |
| 1107 |   0 |
|    5 |   0 |
|   10 |   0 |
| 1278 |   0 |
|    9 |   0 |
|    8 |   0 |
|    7 |   0 |
|    6 |   0 |
| 1284 |   0 |
| 1275 |   0 |
| 1285 |   0 |
| 1286 |   0 |
|    4 |   0 |
| 1288 |   0 |
| 1289 |   0 |
|    2 |   0 |
|   11 |   0 |
| 1274 |   0 |
| 1251 |   0 |
|   19 |   0 |
|   35 |   0 |
|   29 |   0 |
| 1258 |   0 |
|   25 |   0 |
| 1260 |   0 |
|   24 |   0 |
|   18 |   0 |
|   12 |   0 |
| 1265 |   0 |
| 1266 |   0 |
|   17 |   0 |
|   16 |   0 |
| 1271 |   0 |
|   13 |   0 |
| 1202 |   0 |
| 1201 |   0 |
|   79 |   0 |
| 1143 |   0 |
|  131 |   0 |
|  128 |   0 |
|  127 |   0 |
|  126 |   0 |
|  125 |   0 |
|  123 |   0 |
| 1144 |   0 |
|  135 |   0 |
|  119 |   0 |
|  118 |   0 |
|  249 |   0 |
| 1148 |   0 |
| 1149 |   0 |
|  117 |   0 |
|  132 |   0 |
|  136 |   0 |
|   81 |   0 |
|  150 |   0 |
| 1108 |   0 |
|  160 |   0 |
| 1110 |   0 |
| 1111 |   0 |
|  159 |   0 |
|  153 |   0 |
|  149 |   0 |
|  138 |   0 |
|  148 |   0 |
|  144 |   0 |
|  142 |   0 |
|  141 |   0 |
| 1123 |   0 |
|  140 |   0 |
| 1151 |   0 |
| 1152 |   0 |
|  115 |   0 |
|   93 |   0 |
|  101 |   0 |
|   98 |   0 |
| 1179 |   0 |
| 1182 |   0 |
| 1183 |   0 |
|   95 |   0 |
| 1189 |   0 |
|  114 |   0 |
| 1190 |   0 |
|   86 |   0 |
| 1194 |   0 |
|   83 |   0 |
| 1196 |   0 |
|   82 |   0 |
| 1175 |   0 |
|  102 |   0 |
| 1173 |   0 |
| 1172 |   0 |
| 1171 |   0 |
| 1170 |   0 |
| 1169 |   0 |
|  105 |   0 |
|  108 |   0 |
|  110 |   0 |
|  112 |   0 |
| 1160 |   0 |
|  113 |   0 |
| 1158 |   0 |
| 1157 |   0 |
| 1156 |   0 |
| 1155 |   0 |
|  247 |   0 |
|  297 |   0 |
|  250 |   0 |
|  478 |   0 |
|  726 |   0 |
|  727 |   0 |
|  474 |   0 |
|  472 |   0 |
|  731 |   0 |
|  470 |   0 |
|  733 |   0 |
|  734 |   0 |
|  735 |   0 |
|  468 |   0 |
|  737 |   0 |
|  738 |   0 |
|  739 |   0 |
|  740 |   0 |
|  741 |   0 |
|  725 |   0 |
|  723 |   0 |
|  425 |   0 |
|  479 |   0 |
|  495 |   0 |
|  494 |   0 |
|  701 |   0 |
|  703 |   0 |
|  492 |   0 |
|  491 |   0 |
|  488 |   0 |
|  487 |   0 |
|  709 |   0 |
|  710 |   0 |
|  713 |   0 |
|  484 |   0 |
|  717 |   0 |
|  718 |   0 |
|  719 |   0 |
|  742 |   0 |
|  466 |   0 |
|  461 |   0 |
|  747 |   0 |
|  441 |   0 |
|  440 |   0 |
|  782 |   0 |
|  783 |   0 |
|  785 |   0 |
|  786 |   0 |
|  787 |   0 |
|  788 |   0 |
|  789 |   0 |
|  431 |   0 |
|  792 |   0 |
|  794 |   0 |
|  795 |   0 |
|  796 |   0 |
|  797 |   0 |
|  777 |   0 |
|  776 |   0 |
|  774 |   0 |
|  758 |   0 |
|  748 |   0 |
|  459 |   0 |
|  455 |   0 |
|  754 |   0 |
|  454 |   0 |
|  757 |   0 |
|  759 |   0 |
|  770 |   0 |
|  761 |   0 |
|  451 |   0 |
|  765 |   0 |
|  767 |   0 |
|  768 |   0 |
|  769 |   0 |
|  698 |   0 |
|  497 |   0 |
|  499 |   0 |
|  552 |   0 |
|  572 |   0 |
|  627 |   0 |
|  628 |   0 |
|  571 |   0 |
|  569 |   0 |
|  631 |   0 |
|  568 |   0 |
|  567 |   0 |
|  634 |   0 |
|  636 |   0 |
|  562 |   0 |
|  638 |   0 |
|  640 |   0 |
|  641 |   0 |
|  558 |   0 |
|  574 |   0 |
|  579 |   0 |
|  583 |   0 |
|  607 |   0 |
|  601 |   0 |
|  602 |   0 |
|  596 |   0 |
|  604 |   0 |
|  595 |   0 |
|  594 |   0 |
|  591 |   0 |
|  618 |   0 |
|  590 |   0 |
|  587 |   0 |
|  586 |   0 |
|  613 |   0 |
|  614 |   0 |
|  617 |   0 |
|  553 |   0 |
|  547 |   0 |
|  694 |   0 |
|  544 |   0 |
|  676 |   0 |
|  677 |   0 |
|  519 |   0 |
|  679 |   0 |
|  680 |   0 |
|  681 |   0 |
|  682 |   0 |
|  684 |   0 |
|  515 |   0 |
|  514 |   0 |
|  512 |   0 |
|  688 |   0 |
|  689 |   0 |
|  510 |   0 |
|  691 |   0 |
|  520 |   0 |
|  674 |   0 |
|  521 |   0 |
|  536 |   0 |
|  542 |   0 |
|  541 |   0 |
|  540 |   0 |
|  654 |   0 |
|  539 |   0 |
|  657 |   0 |
|  659 |   0 |
|  672 |   0 |
|  533 |   0 |
|  665 |   0 |
|  666 |   0 |
|  668 |   0 |
|  669 |   0 |
|  526 |   0 |
|  798 |   0 |
|  800 |   0 |
|  251 |   0 |
|  312 |   0 |
|  929 |   0 |
|  308 |   0 |
|  306 |   0 |
|  932 |   0 |
|  933 |   0 |
|  934 |   0 |
|  305 |   0 |
|  303 |   0 |
|  937 |   0 |
|  938 |   0 |
|  302 |   0 |
|  940 |   0 |
|  301 |   0 |
|  942 |   0 |
|  300 |   0 |
|  928 |   0 |
|  924 |   0 |
|  801 |   0 |
|  316 |   0 |
|  334 |   0 |
|  904 |   0 |
|  331 |   0 |
|  906 |   0 |
|  329 |   0 |
|  910 |   0 |
|  911 |   0 |
|  913 |   0 |
|  914 |   0 |
|  326 |   0 |
|  323 |   0 |
|  320 |   0 |
|  919 |   0 |
|  920 |   0 |
|  318 |   0 |
|  298 |   0 |
|  600 |   0 |
|  294 |   0 |
|  949 |   0 |
|  270 |   0 |
|  976 |   0 |
|  978 |   0 |
|  979 |   0 |
|  268 |   0 |
|  266 |   0 |
|  263 |   0 |
|  262 |   0 |
|  985 |   0 |
|  258 |   0 |
|  256 |   0 |
|  254 |   0 |
|  253 |   0 |
|  252 |   0 |
|  993 |   0 |
|  973 |   0 |
|  972 |   0 |
|  275 |   0 |
|  287 |   0 |
|  293 |   0 |
|  292 |   0 |
|  952 |   0 |
|  291 |   0 |
|  955 |   0 |
|  956 |   0 |
|  960 |   0 |
|  276 |   0 |
|  963 |   0 |
|  965 |   0 |
|  966 |   0 |
|  281 |   0 |
|  278 |   0 |
|  969 |   0 |
|  900 |   0 |
|  335 |   0 |
|  898 |   0 |
|  374 |   0 |
|  397 |   0 |
|  830 |   0 |
|  831 |   0 |
|  832 |   0 |
|  389 |   0 |
|  386 |   0 |
|  838 |   0 |
|  385 |   0 |
|  381 |   0 |
|  841 |   0 |
|  379 |   0 |
|  844 |   0 |
|  377 |   0 |
|  375 |   0 |
|  847 |   0 |
|  398 |   0 |
|  827 |   0 |
|  826 |   0 |
|  415 |   0 |
|  802 |   0 |
|  424 |   0 |
|  423 |   0 |
|  805 |   0 |
|  808 |   0 |
|  809 |   0 |
|  813 |   0 |
|  399 |   0 |
|  814 |   0 |
|  411 |   0 |
|  409 |   0 |
|  408 |   0 |
|  403 |   0 |
|  400 |   0 |
|  848 |   0 |
|  850 |   0 |
|  336 |   0 |
|  373 |   0 |
|  875 |   0 |
|  345 |   0 |
|  879 |   0 |
|  880 |   0 |
|  881 |   0 |
|  884 |   0 |
|  885 |   0 |
|  887 |   0 |
|  888 |   0 |
|  889 |   0 |
|  890 |   0 |
|  892 |   0 |
|  339 |   0 |
|  894 |   0 |
|  895 |   0 |
|  874 |   0 |
|  873 |   0 |
|  872 |   0 |
|  364 |   0 |
|  371 |   0 |
|  853 |   0 |
|  369 |   0 |
|  368 |   0 |
|  367 |   0 |
|  366 |   0 |
|  859 |   0 |
|  348 |   0 |
|  860 |   0 |
|  357 |   0 |
|  863 |   0 |
|  356 |   0 |
|  355 |   0 |
|  868 |   0 |
|  646 |   0 |

In [18]:
Nullvalsgrouped = pd.DataFrame(pc_details.isnull().sum(axis=1).sort_values(ascending=False))

In [19]:
Nullvalsgrouped[Nullvalsgrouped[0]>15].index

Int64Index([], dtype='int64')

**Observation**: These are the teams with more than 15 null values, but there can be pc facilites with atleast one of the members in the team, so we need not drop these teams.

## **Managing null values in Memory column**

In [20]:
Memory1_null = pd.DataFrame(pc_details.Memory1.isnull())
Memory2_null = pd.DataFrame(pc_details.Memory2.isnull())
Memory3_null = pd.DataFrame(pc_details.Memory3.isnull())
Memory4_null = pd.DataFrame(pc_details.Memory4.isnull())

In [21]:
pc_details['Memory1'] = pc_details['Memory1'].fillna(0)

In [22]:
pc_details['Memory2'] = pc_details['Memory2'].fillna(0)

In [23]:
pc_details[pc_details['Memory1'].isnull()==True]

Empty DataFrame
Columns: [Unnamed: 0, team_id, Single core score1, Single core score2, Single core score3, Single core score4, Multi core score1, Multi core score2, Multi core score3, Multi core score4, OpenCL score1, OpenCL score2, OpenCL score3, OpenCL score4, OS1, OS2, OS3, OS4, Model1, Model2, Model3, Model4, CPU1, CPU2, CPU3, CPU4, Memory1, Memory2, Memory3, Memory4, Graphic Card1, Graphic Card2, Graphic Card3, Graphic Card4]
Index: []

[0 rows x 34 columns]

In [24]:
print(pc_details.isna().sum().sort_values(ascending=False).to_markdown())

|                    |   0 |
|:-------------------|----:|
| Graphic Card4      | 445 |
| OpenCL score4      | 445 |
| OpenCL score3      | 434 |
| Graphic Card3      | 434 |
| Graphic Card2      | 410 |
| OpenCL score2      | 410 |
| Graphic Card1      | 334 |
| OpenCL score1      | 334 |
| Model4             |   0 |
| CPU1               |   0 |
| CPU2               |   0 |
| CPU3               |   0 |
| CPU4               |   0 |
| Model2             |   0 |
| Memory1            |   0 |
| Memory2            |   0 |
| Memory3            |   0 |
| Memory4            |   0 |
| Model3             |   0 |
| Unnamed: 0         |   0 |
| Model1             |   0 |
| team_id            |   0 |
| OS3                |   0 |
| OS2                |   0 |
| OS1                |   0 |
| Multi core score4  |   0 |
| Multi core score3  |   0 |
| Multi core score2  |   0 |
| Multi core score1  |   0 |
| Single core score4 |   0 |
| Single core score3 |   0 |
| Single core score2 |   0 |
| Single core score1 |   0 |
| OS4                |   0 |

## **Managing null values in score column**

In [25]:
pc_details['Single core score1'] = pc_details['Single core score1'].fillna(0)
pc_details['Single core score2'] = pc_details['Single core score2'].fillna(0)
pc_details['Single core score3'] = pc_details['Single core score3'].fillna(0)
pc_details['Single core score4'] = pc_details['Single core score4'].fillna(0)

In [26]:
pc_details[pc_details['Single core score1'].isnull()==True]

Empty DataFrame
Columns: [Unnamed: 0, team_id, Single core score1, Single core score2, Single core score3, Single core score4, Multi core score1, Multi core score2, Multi core score3, Multi core score4, OpenCL score1, OpenCL score2, OpenCL score3, OpenCL score4, OS1, OS2, OS3, OS4, Model1, Model2, Model3, Model4, CPU1, CPU2, CPU3, CPU4, Memory1, Memory2, Memory3, Memory4, Graphic Card1, Graphic Card2, Graphic Card3, Graphic Card4]
Index: []

[0 rows x 34 columns]

In [27]:
print(pc_details.isna().sum().sort_values(ascending=False).to_markdown())

|                    |   0 |
|:-------------------|----:|
| Graphic Card4      | 445 |
| OpenCL score4      | 445 |
| OpenCL score3      | 434 |
| Graphic Card3      | 434 |
| Graphic Card2      | 410 |
| OpenCL score2      | 410 |
| Graphic Card1      | 334 |
| OpenCL score1      | 334 |
| Model4             |   0 |
| CPU1               |   0 |
| CPU2               |   0 |
| CPU3               |   0 |
| CPU4               |   0 |
| Model2             |   0 |
| Memory1            |   0 |
| Memory2            |   0 |
| Memory3            |   0 |
| Memory4            |   0 |
| Model3             |   0 |
| Unnamed: 0         |   0 |
| Model1             |   0 |
| team_id            |   0 |
| OS3                |   0 |
| OS2                |   0 |
| OS1                |   0 |
| Multi core score4  |   0 |
| Multi core score3  |   0 |
| Multi core score2  |   0 |
| Multi core score1  |   0 |
| Single core score4 |   0 |
| Single core score3 |   0 |
| Single core score2 |   0 |
| Single core score1 |   0 |
| OS4                |   0 |

In [28]:
pc_details.fillna(value=0, inplace=True)

In [29]:
print(pc_details.isna().sum().sort_values(ascending=False).to_markdown())

|                    |   0 |
|:-------------------|----:|
| Unnamed: 0         |   0 |
| CPU4               |   0 |
| Model2             |   0 |
| Model3             |   0 |
| Model4             |   0 |
| CPU1               |   0 |
| CPU2               |   0 |
| CPU3               |   0 |
| Memory1            |   0 |
| team_id            |   0 |
| Memory2            |   0 |
| Memory3            |   0 |
| Memory4            |   0 |
| Graphic Card1      |   0 |
| Graphic Card2      |   0 |
| Graphic Card3      |   0 |
| Model1             |   0 |
| OS4                |   0 |
| OS3                |   0 |
| OS2                |   0 |
| OS1                |   0 |
| OpenCL score4      |   0 |
| OpenCL score3      |   0 |
| OpenCL score2      |   0 |
| OpenCL score1      |   0 |
| Multi core score4  |   0 |
| Multi core score3  |   0 |
| Multi core score2  |   0 |
| Multi core score1  |   0 |
| Single core score4 |   0 |
| Single core score3 |   0 |
| Single core score2 |   0 |
| Single core score1 |   0 |
| Graphic Card4      |   0 |

In [30]:
pc_details

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,CPU3,CPU4,Memory1,Memory2,Memory3,Memory4,Graphic Card1,Graphic Card2,Graphic Card3,Graphic Card4
0,0,1001,1142,543,836,601,2148,1132,1525,2281,...,Intel Core i5-7200U,AMD Ryzen 5 3500U,3.62,3.64,3.73,5.74,0,Intel(R) HD Graphics 520 (SKL GT2),Intel(R) HD Graphics 620 (KBL GT2),AMD RADV RAVEN (ACO)
1,1,1002,1060,549,416,590,3394,1834,857,1326,...,Intel Core i3-2350M,Intel Core i5-5200U,2,2,2,1,3.14,2.00,0,2.00
2,2,1004,809,1182,847,770,2303,6647,2474,1643,...,Intel Core i5-8250U,Intel Core i7-6500U,1,2,1,1,2.00 3.00,6.00,3.16,2.00
3,3,1005,686,1003,624,827,3318,3848,3610,4071,...,AMD Ryzen 5 4600H,Intel Core i7-9750H,15.52,1,1,1,0,6.00,4.00,6.00 6.00
4,4,1006,1004,422,657,1121,2612,1127,2252,5887,...,Intel Core i5-10300H,AMD Ryzen 7 4800H,1,1,1,2,4.00,1.59,4.00,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1288,1288,2964,416,777,1059,622,1101,2845,2893,2040,...,Intel Core i5-10300H,Intel Core i5-8265U,1,8.00 LPDDR3 2133 MT/s,1,1,1.56,1.50,4.00,2.00
1289,1289,2965,664,Nil,587,441,4373,Nil,2513,1053,...,Intel Core i5-10210U,Intel Core i3-5005U,2,1,1,1,4.00,1.55,3.12,1.56
1290,1290,2968,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,...,Nil,Nil,Nil,Nil,Nil,Nil,0,0,0,0
1291,1291,2970,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,...,Nil,Nil,Nil,Nil,Nil,Nil,0,0,0,0
1292,1292,2971,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,...,Nil,Nil,Nil,Nil,Nil,Nil,0,0,0,0

## **Cleaning and normalizing Memory columns**

In [31]:
pc_details['Memory1'].str.isalpha().sum()

214

In [32]:
a=  pc_details['Memory1'].unique()
print(a)

['3.62  ' '2' '1' '15.52  ' '8.00   LPDDR3 2133 MT/s' '7.69  ' '7.60  '
 '15.30  ' 'Nil' '5.74  ' '7.77  ' '7.68  ' '7.67  ' '15.51  ' '3.76  '
 '4.00    794 MHz' '8.00  ' '7.56  ' '3.86  ' '16.00  ' '11.58  ' '1.95  '
 '16.00   LPDDR4X 3733 MT/s' '7.62  ' '7.66  ' '4' '7.55  '
 '3.92   DDR3 SDRAM 1599 MHz' '15.57  ' '7.85  ' '3.30  ' '3.63  '
 '4.00   DDR3 SDRAM 665 MHz' '7.64  ' '6.75  ' '8.00   LPDDR4X 3733 MT/s'
 '8.00   DDR3 1600 MT/s' '15.37  ' '8.00   LPDDR3 933 MHz' '3.74  '
 '3.55  ' '15.14  ' '3.71  ' '7.14  ' '4.00   DDR3 SDRAM 1599 MHz'
 '7.86  ' '3.75  ' '7.44  ' '3.69  ' '7.63  ' '15.39  ' '4.00  ' '11.49  '
 '15.55  ' '15.49  ' '7.65  ' '4.00    798 MHz' '16.00   EDO RAM' '7.52  ']

In [33]:
columns = ['Memory1', 'Memory2', 'Memory3', 'Memory4']

def Memory_replace(columns):  # Removing text data
  for cols in columns:
    pc_details[cols] = pc_details[cols].str.split(' ').str[0]
  return pc_details

pc_details = Memory_replace(columns)

In [34]:
a=  pc_details['Memory1'].unique()
print(a)

['3.62' '2' '1' '15.52' '8.00' '7.69' '7.60' '15.30' 'Nil' '5.74' '7.77'
 '7.68' '7.67' '15.51' '3.76' '4.00' '7.56' '3.86' '16.00' '11.58' '1.95'
 '7.62' '7.66' '4' '7.55' '3.92' '15.57' '7.85' '3.30' '3.63' '7.64'
 '6.75' '15.37' '3.74' '3.55' '15.14' '3.71' '7.14' '7.86' '3.75' '7.44'
 '3.69' '7.63' '15.39' '11.49' '15.55' '15.49' '7.65' '7.52']

In [35]:
columns = ['Memory1', 'Memory2', 'Memory3', 'Memory4']

def Memory_null_replace(columns):   # Converting nil and null values to 0
  for cols in columns:
    pc_details[cols] = pc_details[cols].replace('Nil' , '')
    pc_details[cols] = pc_details[cols].replace(r'^\s*$', np.nan, regex=True)  # Converting null values(empty string) to NaN
    pc_details[cols] = pc_details[cols].fillna(0)     # Replace all NaN with 0
  return pc_details

pc_details = Memory_null_replace(columns)

In [36]:
pc_details

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,CPU3,CPU4,Memory1,Memory2,Memory3,Memory4,Graphic Card1,Graphic Card2,Graphic Card3,Graphic Card4
0,0,1001,1142,543,836,601,2148,1132,1525,2281,...,Intel Core i5-7200U,AMD Ryzen 5 3500U,3.62,3.64,3.73,5.74,0,Intel(R) HD Graphics 520 (SKL GT2),Intel(R) HD Graphics 620 (KBL GT2),AMD RADV RAVEN (ACO)
1,1,1002,1060,549,416,590,3394,1834,857,1326,...,Intel Core i3-2350M,Intel Core i5-5200U,2,2,2,1,3.14,2.00,0,2.00
2,2,1004,809,1182,847,770,2303,6647,2474,1643,...,Intel Core i5-8250U,Intel Core i7-6500U,1,2,1,1,2.00 3.00,6.00,3.16,2.00
3,3,1005,686,1003,624,827,3318,3848,3610,4071,...,AMD Ryzen 5 4600H,Intel Core i7-9750H,15.52,1,1,1,0,6.00,4.00,6.00 6.00
4,4,1006,1004,422,657,1121,2612,1127,2252,5887,...,Intel Core i5-10300H,AMD Ryzen 7 4800H,1,1,1,2,4.00,1.59,4.00,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1288,1288,2964,416,777,1059,622,1101,2845,2893,2040,...,Intel Core i5-10300H,Intel Core i5-8265U,1,8.00,1,1,1.56,1.50,4.00,2.00
1289,1289,2965,664,Nil,587,441,4373,Nil,2513,1053,...,Intel Core i5-10210U,Intel Core i3-5005U,2,1,1,1,4.00,1.55,3.12,1.56
1290,1290,2968,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,...,Nil,Nil,0,0,0,0,0,0,0,0
1291,1291,2970,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,...,Nil,Nil,0,0,0,0,0,0,0,0
1292,1292,2971,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,...,Nil,Nil,0,0,0,0,0,0,0,0

In [37]:
a = pc_details['Memory1'].unique()
print(a)

['3.62' '2' '1' '15.52' '8.00' '7.69' '7.60' '15.30' 0 '5.74' '7.77'
 '7.68' '7.67' '15.51' '3.76' '4.00' '7.56' '3.86' '16.00' '11.58' '1.95'
 '7.62' '7.66' '4' '7.55' '3.92' '15.57' '7.85' '3.30' '3.63' '7.64'
 '6.75' '15.37' '3.74' '3.55' '15.14' '3.71' '7.14' '7.86' '3.75' '7.44'
 '3.69' '7.63' '15.39' '11.49' '15.55' '15.49' '7.65' '7.52']

In [38]:
a = pc_details['Memory2'].unique()
print(a)

['3.64' '2' '1' '3.62' '15.29' '15.49' 0 '8.00' '5.81' '7.21' '5.71'
 '16.00' '7.67' '7.68' '13.64' '7.58' '7.55' '15.43' '3.51' '15.65' '3.75'
 '11.58' '3.86' '7.69' '4.00' '7.64' '3.73' '7.62' '3.76' '7.47' '7.60'
 '7.50' '19.23' '7.54' '3.65' '5.77' '3.88' '3.68' '15.32' '3.54' '12.00'
 '11.59' '15.46' '15.57' '1.96' '32.00']

In [39]:
a = pc_details['Memory3'].unique()
print(a)

['3.73' '2' '1' '4.00' '15.52' '7.68' '19.46' 0 '15.56' '7.65' '7.71'
 '8.00' '16.00' '3.32' '7.88' '7.55' '5.70' '7.61' '7.64' '5.73' '7.21'
 '7.46' '3.55' '3.72' '3.35' '7.58' '7.70' '15.51' '7.56' '3.91' '3.76'
 '4' '32.00' '7.69' '3.85' '7.66' '7.60' '3.88']

In [40]:
a = pc_details['Memory4'].unique()
print(a)

['5.74' '1' '2' '7.65' '7.85' 0 '8.00' '16.00' '15.48' '7.56' '7.78'
 '7.52' '7.66' '7.70' '15.52' '15.51' '7.63' '7.61' '4.00' '4' '32.00'
 '3.74' '15.56' '7.44' '15.36' '11.81' '11.54' '3.57' '11.48' '7.60'
 '15.53' '11.86']

**Observation :** The unique values listed here shows that all string data were removed from memory columns and the data is normalized.

## **Analysing score data**

In [41]:
a = pc_details['Single core score1'].unique()
print(a)

['1142' '1060' '809' '686' '1004' '834' '973' '769' '1044' '1150' '493'
 '632' '805' '325' '855' '1057' '1114' '1096' '794' '815' '545' '860'
 '1186' '967' '551' '1291' '1048' '1015' '980' '765' '323' '569' '522'
 'Nil' '1140' '521' '348' '603' '917' '1054' '820' '1066' '464' '1086'
 '747' '1128' '911' '777' '892' '1031' '783' '657' '934' '811' '665' '417'
 '454' '1233' '607' '975' '758' '1136' '652' '253' '1132' '902' '432'
 '888' '1078' '912' '1047' '289' '1062' '451' '1359' '455' '816' '974'
 '969' '1009' '466' '990' '713' '703' '1162' '343' '706' '599' '398'
 '1104' '971' '585' '874' '535' '276' '957' '1107' '460' '913' '463' '675'
 '985' '1038' '1052' '1039' '1181' '486' '1241' '523' '536' '528' '505'
 '359' '767' '882' '354' '618' '732' '407' '839' '890' '234' '1063' '1274'
 '899' '550' '1073' '1007' '1203' '1072' '992' '502' '986' '1018' '633'
 '563' '879' '548' '895' '875' '634' '339' '396' '952' '223' '869' '734'
 '1041' '851' '683' '501' '499' '1329' '1720' '668' '387' '784' '1033'
 '687' '336' '299' '923' '739' '1008' '1242' '400' '788' '1029' '1037'
 '544' '812' '701' '1056' '1317' '670' '408' '807' '887' '1036' '527'
 '893' '479' '1146' '868' '854' '836' '1076' '674' '473' '1051' '590'
 '1124' '1050' '1134' '1139' '260' '949' '1157' '715' '748' '411' '431'
 '1164' '373' '503' '922' '1040' '677' '1314' '685' '1472' '489' '588'
 '529' '1106' '857' '630' '357' '1365' '965' '711' '830' '841' '928'
 '1734' '185' '679' '970' '441' '935' '648' '593' '472' '1069' '540' '450'
 '629' '1195' '1342' '1294' '896' '98' '817' '1082' '898' '780' '1137'
 '329' '822' '598' '1221' '666' '940' '165' '1218' '409' '1246' '524'
 '1013' '785' '795' '979' '624' '328' '1010' '786' '265' '361' '1268'
 '1362' '549' '1193' '470' '620' '847' '1143' '558' '506' '215' '1188'
 '916' '381' '1074' '950' '481' '385' '199' '725' '379' '793' '266' '941'
 '1190' '866' '658' '638' '556' '651' '901' '840' '833' '1053' '671'
 '1364' '1049' '539' '823' '1094' '1014' '1733' '741' '1344' '680' '399'
 '760' '656' '575' '871' '1001' '835' '770' '1330' '358' '513' '391' '492'
 '491' '360' '996' '570' '1016' '774' '270' '1005' '821' '749' '1112'
 '578' '736' '710' '543' '733' '800' '1110' '1084' '1122' '1095' '669'
 '262' '469' '596' '977' '429' '533' '754' '915' '592' '617' '647' '258'
 '826' '993' '810' '580' '309' '962' '639' '306' '983' '465' '1168' '1089'
 '1243' '987' '752' '425' '519' '610' '384' '1302' '335' '438' '582' '552'
 '918' '1166' '1354' '312' '277' '557' '1207' '1262' '247' '416' '480'
 '707' '891' '994' '951' '1130' '292' '376' '342' '640' '218' '261' '751'
 '1741' '1042' '1068' '1123' '388' '542' '942' '627' '745' '518' '1043'
 '392' '938' '695' '858' '849' '845' '850' '615' '1340' '877' '722' '211'
 '526' '468' '1002' '862' '787' '616' '1201' '370' '1209' '1385' '241'
 '1035' '368' '1046' '900' '613' '672' '1256' '755' '623' '422' '1065'
 '717' '818' '600' '1236' '744' '337' '447' '859' '395' '681' '334' '1017'
 '1011' '516' '1125' '356' '1121' '731' '1167' '984' '959' '1234' '1032'
 '594' '846' '547' '1080' '302' '1026' '1090' '541' '1153' '852' '389'
 '530' '622' '1213' '136' '931' '1070' '1071' '612' '458' '477' '664'
 '1178' '340' '452' '690' '1199' '1175' '988' '1411' '1629' '886' '279'
 '864' '646' '998' '275' '587' '176' '1222' '1020' '740' '654' '625' '349'
 '1185' '636' '1686' '1261' '903' '870' '961' '426' '682' '1045' '945'
 '571' '714' '673' '956' '1023' '444' '483' '699' '1108' '410' '1355'
 '981' '1265' '678' '512' '885' '963' '909' '982' '832' '1380' '1034'
 '693' '485' '806' '197' '1331' '378' '798' '1277' '635' '437' '1027'
 '978' '1161' '1292' '487' '643' '1081' '572' '308' '313' '766' '333'
 '1350' '184' '844' '1006' '288' '1012' '926' '1075' '1694' '374' '1120'
 '1360' '589' '609' '1224' '120' '482' '914' '1092' '645' '421' '1727'
 '249' '813' '937' '910' '1286' '1158' '397' '954' '907' '730' '204' '883'
 '494' '700' '829' '445' '1079' '1098' '872' '507' '461' '716' '579'
 '1163' '930' '1732' '724' '1088' '628' '897' '297' '1127' '750' '947'
 '631' '1024' '1739' '1735' '372' '1257' '999' '314' '1152' '412' '742'
 '436' '1003' '735' '1706' '394' '1192' '663' '933' '559' '520' '252'
 '1030' '453' '375' '775' '884' '943' '366' '434' '586' '216']

The score data are all clean and do not consist of null values, these values should be converted to integer format.

## **Converting score and memory column to numeric format**

In [42]:
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1293 entries, 0 to 1292
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1293 non-null   int64
 1   team_id             1293 non-null   int64
 2   Single core score1  1293 non-null   object
 3   Single core score2  1293 non-null   object
 4   Single core score3  1293 non-null   object
 5   Single core score4  1293 non-null   object
 6   Multi core score1   1293 non-null   object
 7   Multi core score2   1293 non-null   object
 8   Multi core score3   1293 non-null   object
 9   Multi core score4   1293 non-null   object
 10  OpenCL score1       1293 non-null   object
 11  OpenCL score2       1293 non-null   object
 12  OpenCL score3       1293 non-null   object
 13  OpenCL score4       1293 non-null   object
 14  OS1                 1293 non-null   object
 15  OS2                 1293 non-null   object
 16  OS3                 1293 non-null   object
 17  OS4                 1293 non-null   object
 18  Model1              1293 non-null   object
 19  Model2              1293 non-null   object
 20  Model3              1293 non-null   object
 21  Model4              1293 non-null   object
 22  CPU1                1293 non-null   object
 23  CPU2                1293 non-null   object
 24  CPU3                1293 non-null   object
 25  CPU4                1293 non-null   object
 26  Memory1             1293 non-null   object
 27  Memory2             1293 non-null   object
 28  Memory3             1293 non-null   object
 29  Memory4             1293 non-null   object
 30  Graphic Card1       1293 non-null   object
 31  Graphic Card2       1293 non-null   object
 32  Graphic Card3       1293 non-null   object
 33  Graphic Card4       1293 non-null   object
dtypes: int64(2), object(32)
memory usage: 343.6+ KB

In [43]:
columns = ['Single core score1', 'Single core score2', 'Single core score3', 'Single core score4', 'Multi core score1', 'Multi core score2', 'Multi core score3', 'Multi core score4', 'Memory1', 'Memory2', 'Memory3', 'Memory4']
def Convert_to_numerical(columns):
  for cols in columns:
    pc_details[cols] = pc_details[cols].apply(pd.to_numeric, errors='coerce')
  return pc_details

pc_details = Convert_to_numerical(columns)

In [44]:
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1293 entries, 0 to 1292
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1293 non-null   int64
 1   team_id             1293 non-null   int64
 2   Single core score1  1059 non-null   float64
 3   Single core score2  963 non-null    float64
 4   Single core score3  954 non-null    float64
 5   Single core score4  933 non-null    float64
 6   Multi core score1   1059 non-null   float64
 7   Multi core score2   963 non-null    float64
 8   Multi core score3   954 non-null    float64
 9   Multi core score4   933 non-null    float64
 10  OpenCL score1       1293 non-null   object
 11  OpenCL score2       1293 non-null   object
 12  OpenCL score3       1293 non-null   object
 13  OpenCL score4       1293 non-null   object
 14  OS1                 1293 non-null   object
 15  OS2                 1293 non-null   object
 16  OS3                 1293 non-null   object
 17  OS4                 1293 non-null   object
 18  Model1              1293 non-null   object
 19  Model2              1293 non-null   object
 20  Model3              1293 non-null   object
 21  Model4              1293 non-null   object
 22  CPU1                1293 non-null   object
 23  CPU2                1293 non-null   object
 24  CPU3                1293 non-null   object
 25  CPU4                1293 non-null   object
 26  Memory1             1293 non-null   float64
 27  Memory2             1293 non-null   float64
 28  Memory3             1293 non-null   float64
 29  Memory4             1293 non-null   float64
 30  Graphic Card1       1293 non-null   object
 31  Graphic Card2       1293 non-null   object
 32  Graphic Card3       1293 non-null   object
 33  Graphic Card4       1293 non-null   object
dtypes: float64(12), int64(2), object(20)
memory usage: 343.6+ KB

In [45]:
a = pc_details['Memory1'].unique()
print(a) # Check with one column

[ 3.62  2.    1.   15.52  8.    7.69  7.6  15.3   0.    5.74  7.77  7.68
  7.67 15.51  3.76  4.    7.56  3.86 16.   11.58  1.95  7.62  7.66  7.55
  3.92 15.57  7.85  3.3   3.63  7.64  6.75 15.37  3.74  3.55 15.14  3.71
  7.14  7.86  3.75  7.44  3.69  7.63 15.39 11.49 15.55 15.49  7.65  7.52]

**Observation :** All the score and memory columns have been converted to numeric format, so mean or average of these values can be calculated.

## **Analzing other columns**

In [46]:
a = pc_details['CPU1'].unique()
print(a)

['Intel Core i3-1005G1' 'Intel Core i7-9750H' 'Intel Core i7-8565U'
 'Intel Core i5-10300H' 'Intel Core i7-8750H' 'Intel Core i5-1135G7'
 'AMD Ryzen 5 2500U' 'Intel Core i5-8300H' 'Intel Core i5-1035G1'
 'Intel Core i5-8265U' 'Intel Core i5-8210Y' 'Intel Core i5-8250U'
 'AMD Ryzen 5 5500U' 'Intel Core i5-7200U' 'Intel Core i5-5200U'
 'Intel Core i5-1035G4' 'Intel Core i7-7700HQ' 'Intel Core i3-7020U'
 'Intel Core i7-10750H' 'Intel Core i5-10210U' 'AMD Ryzen 5 3550H'
 'Intel Core i3-380M' 'Intel Core i5-6200U' 'Intel Core i5-9300HF' 'Nil'
 'ASUSTeK COMPUTER INC. X409JB' 'AMD Ryzen 7 3750H' 'Intel Core i5-520M'
 'AMD Ryzen 3 3200U' 'AMD Ryzen 5 3500U' 'Intel Core i5-8259U'
 'Intel Core i5-6402P' 'AMD Ryzen 5 2600' 'AMD Ryzen 3 3250U' 'HP 8742'
 'AMD Ryzen 5 4600H' 'Intel Core i3-7100' 'ASUSTeK COMPUTER INC. X513EA'
 'Intel Core i5-5350U' 'Intel Core i5-3320M' 'Intel Core i5-4570'
 'LENOVO LNVNB161216' 'Intel Core i3-7100U' 'Dell Inc. 0NV0M7'
 'Intel Pentium N3710' 'Intel Core i7-1065G7' 'Intel Pentium 4405U'
 'Intel Pentium N4200' 'Intel Core i5-4210M' 'Intel Core i5-9300H'
 'ASUSTeK COMPUTER INC. G512LI' 'Intel Core i5-8400'
 'Hewlett-Packard 220D' 'Intel Core 2 Duo E7500' 'AMD A9-9400'
 'AMD Ryzen 5 4500U' 'Intel Core i3-5010U' 'Intel Core i5-2520M' 'HP 87FD'
 'HP 8533' 'Intel Core i7-11370H' 'Intel Core i3-4005U'
 'Intel Core i7-8550U' 'AMD A8-7410' 'AMD Ryzen 7 4800H'
 'Intel Core i7-9700F' 'Intel Core i3-8145U' 'Intel Core i7-7500U'
 'Intel Core i3-6006U' 'AMD Ryzen 5 5600H' 'AMD Ryzen 3 2200U'
 'Intel Core i3-3210' 'Apple M1' 'Intel Core i5-1038NG7'
 'Intel Core i3-4030U' 'AMD PRO A4-4350B' 'HP 8487' 'Intel Core i3-1115G4'
 'Intel Core i7-5600U' 'Intel Core i5-8257U' 'Intel Core i7-1165G7'
 'CFL Sienta_CFS' 'AMD Ryzen 5 3500' 'Intel Core i5-9400F'
 'Intel Core i7-10510U' 'Intel Core i5-9400'
 'AMD Ryzen 5 3450U with Radeon Vega Mobile Gfx' 'Intel Core i5-3427U'
 'Intel Core i5-8265UC' 'AMD Ryzen 7 4700U' 'HP 8786' 'AMD Ryzen 9 5900HS'
 'Intel Core i5-3230M' 'HP 85FC'
 'Apple Inc. Mac-827FAC58A8FDFA22 MacBookAir8,1' 'Intel Core i5-4210U'
 'Intel Core i7-10870H' 'Intel Core i5-11300H' 'AMD Ryzen 3 3200G'
 'Intel Core i5-9600K' 'AMD E2-9000' 'Intel Core i3-6100U' 'AMD A6-4400M'
 'AMD A4-3330MX' 'HP 8656' 'Intel Celeron N3050' 'Intel Pentium B940'
 'AMD A6-7310' 'Intel Core i7-2600' 'Intel Pentium Gold 4417U'
 'Intel Core i5-1030NG7' 'Intel Core i5-5250U' 'Intel Core i5-11400'
 'Intel Core i5-5300U' 'Intel Core i5-6300U' 'Intel Pentium B950'
 'ASUSTeK COMPUTER INC. G712LU' 'AMD Ryzen 5 4600HSS' 'Dell Inc. 0K83NX'
 'HP 85E0' 'Dell Inc. 0FV465' 'Intel Core i3-5005U' 'Intel Core i7-6660U'
 'Dell Inc. 0M78VH' 'Acer EA50_HC_CR' 'Intel Core i3-2120'
 'Intel Core i3-8130U' 'AMD A4 Pro-3350B' 'Intel Core i5-1035G7'
 'Intel Core i7-10610U' 'Intel Core i5-480M' 'Intel Core i5-4300M'
 'CFL Azalea_FMS' 'AMD Ryzen 5 3600' 'Dell Inc. 0MF26F'
 'Intel Core i5-3340M' 'Intel Core i3-3227U' 'Intel Core i3-3220'
 'Intel Pentium G2030' 'ASUSTeK COMPUTER INC. X421EPY'
 'Intel Core i5-10600K' 'Intel Core i3-4010U' 'Intel Celeron N3060'
 'Intel Core i3-7130U' 'AMD Phenom II X4 840' 'AMD Ryzen 7 5800H'
 'ARM Qualcomm' 'Intel Core i3-4150' 'Intel Core i3-2130'
 'Apple Inc. Mac-E7203C0F68AA0004 MacBookPro16,3' 'HP 881E'
 'Intel Celeron N2820' 'Intel Core i3-10110U' 'KBL Freed_KLS'
 'Intel Core i3-1000NG4' 'Intel Pentium 3558U' 'Intel Pentium N3540'
 'Intel Core i3-4012Y' 'AMD Ryzen 7 3700U' 'AMD Ryzen 9 5900HX'
 'Intel Core i3-4160' 'Intel Pentium 2020M' 'AMD A6-7400K'
 'AMD Ryzen 7 5700U' 'AMD A6-9225'
 'Apple Inc. Mac-937CB26E2E02BB01 MacBookAir7,2' 'HP 866E' 'HP 852E'
 'Dell Inc. 0V3F5M' 'Intel Core i7-10710U' 'Intel Core i5-10200H'
 'Intel Core i5-8500' 'AMD Athlon Silver 3050U' 'Intel Celeron 3865U'
 'AMD PRO A10-8700B' 'Intel Core i3-3110M' 'HP 81EC'
 'Intel Core i7-4870HQ' 'Intel Core i5-4200U'
 'ASUSTeK COMPUTER INC. G531GT' 'Intel Core i7-4600U'
 'Intel Core i5-2410M' 'Intel Core i3-8100' 'AMD Ryzen 7 4800HS'
 'Intel Core i5-580M' 'Intel Pentium G4560' 'AMD Ryzen 3 3100' 'HP 881D'
 'Intel Core i7-2670QM' 'Intel Core i7-6500U' 'Intel Core i7-7700'
 'MacBookPro17,1' 'Intel Core i5-2300' 'Intel Pentium J4205'
 'Intel Core i5-3380M' 'AMD Ryzen 3 3300U with Radeon Vega Mobile Gfx'
 'Intel Core i3-2120T' 'Intel Core i5-4288U' 'Intel Core i9-9900K'
 'Intel Core i5-3450' 'AMD Ryzen 7 2700' 'Intel Xeon Platinum 8171M'
 'AMD A9-9420' 'Intel Core i5-2400S' 'Dell Inc. 0M15G0'
 'AMD Ryzen 5 3600X' 'Intel Core i5-2320' 'Intel Core 2 Duo E7400'
 'LENOVO 20K5A0QWIG' 'Sony Corporation VAIO' 'Intel Core i5-7300HQ'
 'AMD E2-6110' 'Intel Core i7-7660U' 'Intel Pentium N3530']

In [47]:
a = pc_details['Graphic Card1'].unique()
print(a)

[0 '3.14  ' '2.00   3.00  ' '4.00  ' '2.00  ' '4.92  ' '3.11  ' '1.50  '
 '1.55  ' 'GeForce GTX 1650' '6.37  ' '3.12  ' '3.82  ' '3.95  ' '3.15  '
 '6.00  ' '5.52  ' 'AMD RADV RAVEN (ACO)' '3.00  '
 'AMD RADV POLARIS11 (ACO)' '4.02  ' '1.56  ' '3.08  ' '1.37  '
 '1.95   800 MHz' 'Nil' '1.96   2.50  ' '1.57  ' '1.00 MB x 1' '4.71  '
 '4.04  ' '1.52  ' '3.10  ' '3.16  ' '3.13  ' '1.59  ' '6.36  '
 'AMD Radeon (TM) R5 M430' '3.09  ' '3.06  ' '6.27  ' '4.03  ' '1.54  '
 '1.23  ' 'Apple M1' '3.17  ' '2.00   5.00  ' '1.38  ' '1.22  ' '4.76  '
 '6.08  ' '12.4  ' '2.33  ' 'Intel(R) Iris(R) Xe Graphics' '8.00  '
 '5.33  ' '6.07  ' '4.00   6.00  ' '7.04  ' '3.42  ' '5.80  '
 '3.00 MB x 1' '6.31  ' '1.61  ' '1.62  ' '1.96  ' '1.24  '
 '6.00   6.00  ' '3.99  ' '3.98  ' '2.97  ' '6.33  ' '6.34  '
 '1.96   3.50  ' '6.00   7.00  ' '1.32  ' '1.02  ' '3.04  ' '3.41  '
 '1.39  ' '5.54  ' '3.02  ' '4.74  ' '3.81  ' '1.53  ' '6.32  '
 '4.00   4.00  ' '3.00   3.50  ' '3.72  ' '1.34  ' '2.36  ' '12.0  '
 '7.01  ' 'AMD Radeon(TM) Vega 8 Graphics' '1.49  '
 'Intel(R) UHD Graphics 630 (CFL GT2)' '3.82   4.00  '
 'Intel(R) UHD Graphics 620' '1.51  ' '4.77  ' '4.73  ' '6.35  '
 'Intel(R) HD Graphics 620' '1.00  ' '6.30  ' '6.29  ' 'GeForce MX250'
 'Intel(R) HD Graphics 520' '3.07  ' '6.28  ' 'AMD Radeon(TM) Graphics'
 'Radeon RX 570 Series' '512 MB' '1.94  ']

## **Cleaning Graphic card details**

In [48]:
columns = ['Graphic Card1', 'Graphic Card2', 'Graphic Card3', 'Graphic Card4']

def Graphic_card_replace(columns):        # Removing text data
  for cols in columns:
    pc_details[cols] = pc_details[cols].str.split(' ').str[0]   # Only first part of the strings is retained
  return pc_details

pc_details = Graphic_card_replace(columns)

In [49]:
a = pc_details['Graphic Card1'].unique()
print(a)

[nan '3.14' '2.00' '4.00' '4.92' '3.11' '1.50' '1.55' 'GeForce' '6.37'
 '3.12' '3.82' '3.95' '3.15' '6.00' '5.52' 'AMD' '3.00' '4.02' '1.56'
 '3.08' '1.37' '1.95' 'Nil' '1.96' '1.57' '1.00' '4.71' '4.04' '1.52'
 '3.10' '3.16' '3.13' '1.59' '6.36' '3.09' '3.06' '6.27' '4.03' '1.54'
 '1.23' 'Apple' '3.17' '1.38' '1.22' '4.76' '6.08' '12.4' '2.33'
 'Intel(R)' '8.00' '5.33' '6.07' '7.04' '3.42' '5.80' '6.31' '1.61' '1.62'
 '1.24' '3.99' '3.98' '2.97' '6.33' '6.34' '1.32' '1.02' '3.04' '3.41'
 '1.39' '5.54' '3.02' '4.74' '3.81' '1.53' '6.32' '3.72' '1.34' '2.36'
 '12.0' '7.01' '1.49' '1.51' '4.77' '4.73' '6.35' '6.30' '6.29' '3.07'
 '6.28' 'Radeon' '512' '1.94']

In [50]:
columns = ['Graphic Card1', 'Graphic Card2', 'Graphic Card3', 'Graphic Card4']

def Graphic_null_replace(columns):   # Converting nil and null values to 0 and replacing text data
  for cols in columns:
    pc_details[cols] = pc_details[cols].replace('Nil' , '')
    pc_details[cols] = pc_details[cols].apply(pd.to_numeric,errors='coerce') # Replace text data with NaN
    pc_details[cols] = pc_details[cols].fillna(0)
  return pc_details

pc_details = Graphic_null_replace(columns)

In [51]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,CPU3,CPU4,Memory1,Memory2,Memory3,Memory4,Graphic Card1,Graphic Card2,Graphic Card3,Graphic Card4
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,...,Intel Core i5-7200U,AMD Ryzen 5 3500U,3.62,3.64,3.73,5.74,0.00,0.00,0.00,0.0
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,...,Intel Core i3-2350M,Intel Core i5-5200U,2.00,2.00,2.00,1.00,3.14,2.00,0.00,2.0
2,2,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,...,Intel Core i5-8250U,Intel Core i7-6500U,1.00,2.00,1.00,1.00,2.00,6.00,3.16,2.0
3,3,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,...,AMD Ryzen 5 4600H,Intel Core i7-9750H,15.52,1.00,1.00,1.00,0.00,6.00,4.00,6.0
4,4,1006,1004.0,422.0,657.0,1121.0,2612.0,1127.0,2252.0,5887.0,...,Intel Core i5-10300H,AMD Ryzen 7 4800H,1.00,1.00,1.00,2.00,4.00,1.59,4.00,6.0

In [52]:
a = pc_details['Graphic Card1'].unique()
print(a)

[  0.     3.14   2.     4.     4.92   3.11   1.5    1.55   6.37   3.12
   3.82   3.95   3.15   6.     5.52   3.     4.02   1.56   3.08   1.37
   1.95   1.96   1.57   1.     4.71   4.04   1.52   3.1    3.16   3.13
   1.59   6.36   3.09   3.06   6.27   4.03   1.54   1.23   3.17   1.38
   1.22   4.76   6.08  12.4    2.33   8.     5.33   6.07   7.04   3.42
   5.8    6.31   1.61   1.62   1.24   3.99   3.98   2.97   6.33   6.34
   1.32   1.02   3.04   3.41   1.39   5.54   3.02   4.74   3.81   1.53
   6.32   3.72   1.34   2.36  12.     7.01   1.49   1.51   4.77   4.73
   6.35   6.3    6.29   3.07   6.28 512.     1.94]

In [53]:
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1293 entries, 0 to 1292
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1293 non-null   int64
 1   team_id             1293 non-null   int64
 2   Single core score1  1059 non-null   float64
 3   Single core score2  963 non-null    float64
 4   Single core score3  954 non-null    float64
 5   Single core score4  933 non-null    float64
 6   Multi core score1   1059 non-null   float64
 7   Multi core score2   963 non-null    float64
 8   Multi core score3   954 non-null    float64
 9   Multi core score4   933 non-null    float64
 10  OpenCL score1       1293 non-null   object
 11  OpenCL score2       1293 non-null   object
 12  OpenCL score3       1293 non-null   object
 13  OpenCL score4       1293 non-null   object
 14  OS1                 1293 non-null   object
 15  OS2                 1293 non-null   object
 16  OS3                 1293 non-null   object
 17  OS4                 1293 non-null   object
 18  Model1              1293 non-null   object
 19  Model2              1293 non-null   object
 20  Model3              1293 non-null   object
 21  Model4              1293 non-null   object
 22  CPU1                1293 non-null   object
 23  CPU2                1293 non-null   object
 24  CPU3                1293 non-null   object
 25  CPU4                1293 non-null   object
 26  Memory1             1293 non-null   float64
 27  Memory2             1293 non-null   float64
 28  Memory3             1293 non-null   float64
 29  Memory4             1293 non-null   float64
 30  Graphic Card1       1293 non-null   float64
 31  Graphic Card2       1293 non-null   float64
 32  Graphic Card3       1293 non-null   float64
 33  Graphic Card4       1293 non-null   float64
dtypes: float64(16), int64(2), object(16)
memory usage: 343.6+ KB

## **Cleaning opencl score data**

In [54]:
a = pc_details['OpenCL score1'].unique()
print(a)

[0 '5735' '8153' '43776' '22699' '15354' '8557' '19103' '5105' '5490'
 '4186' '4544' '8067' '7211' '36957' '41394' '44790' '4842' '2399' '7019'
 '37313' '4584' '27873' '13309' '5595' '4892' '41529' '35789' '24786'
 '5011' '40468' '2865' '7712' '21091' '40788' '11508' '5031' '5032'
 '46325' '22837' '42054' '39447' '41428' '4345' '4925' '9954' '1057'
 '1377' '40324' '10869' 'Nil' '2538' '10165' '6532' '4101' '39536' '38928'
 '11135' '256' '8765' '5245' '9600' '43970' '33986' '38115' '781' '37535'
 '3126' '10303' '70560' '7312' '4690' '5827' '3334' '35415' '47176'
 '33412' '7055' '4908' '37793' '4502' '3539' '7277' '2799' '38483' '35510'
 '11499' '36002' '4894' '2983' '18375' '51342' '18783' '22747' '4323'
 '3531' '8728' '38344' '8646' '11317' '44999' '2740' '11262' '4865' '4133'
 '7615' '15335' '8943' '10933' '11531' '4300' '2508' '4527' '3133' '9072'
 '44883' '5040' '6986' '5424' '60379' '3221' '41113' '9663' '7503' '71675'
 '38909' '31011' '9997' '3826' '16699' '42488' '5608' '4654' '7204' '5484'
 '7386' '4956' '10418' '35028' '62071' '59280' '12722' '7680' '41140'
 '3870' '4646' '1182' '4943' '11881' '21126' '4762' '8590' '2795' '5427'
 '32240' '5124' '2533' '2408' '7600' '4444' '40727' '27726' '8018' '2716'
 '9922' '22359' '16346' '9249' '5303' '6603' '4137' '12700' '10407'
 '24124' '35120' '2548' '10304' '17295' '4128' '4602' '11347' '5191'
 '7728' '17604' '41430' '4732' '10984' '5205' '56951' '4737' '3832' '4509'
 '11729' '41411' '72325' '10223' '44433' '45797' '42793' '7220' '11354'
 '35931' '5130' '4037' '25134' '10924' '7945' '45367' '975' '4697' '35513'
 '10752' '19717' '7029' '16684' '19342' '122150' '41306' '969' '5441'
 '11294' '41279' '4371' '19268' '2500' '33771' '30683' '8627' '7732'
 '4784' '42638' '29677' '5653' '7834' '4618' '17393' '5701' '5098' '7690'
 '40329' '44779' '44995' '8177' '18035' '37161' '35673' '6501' '39806'
 '7647' '3997' '8145' '7636' '51735' '9605' '11091' '12096' '916' '5677'
 '47041' '40940' '7779' '3953' '1732' '7685' '17800' '39973' '4759'
 '10444' '29619' '7675' '9314' '1921' '62899' '7365' '28752' '6070'
 '35615' '13692' '4525' '2079' '7504' '11071' '5737' '4708' '40203'
 '11793' '5076' '265' '11669' '9786' '35211' '9797' '3975' '10809' '2663'
 '2780' '5378' '14164' '967' '4726' '34483' '647' '5738' '5071' '11625'
 '6200' '48747' '41680' '38915' '3265' '7585' '3637' '6212' '7563' '1705'
 '41814' '71402' '5210' '38519' '41164' '2894' '19255' '2743' '41733'
 '11753' '20740' '6978' '19424' '35006' '3665' '27635' '5093' '4949'
 '5679' '5225' '41760' '34171' '20478' '16550' '6181' '36781' '5451'
 '5479' '5045' '9528' '6863' '6281' '2615' '4516' '4614' '4662' '5171'
 '36286' '12822' '4971' '34510' '6040' '41292' '13646' '3472' '1584'
 '4997' '6459' '65876' '1281' '28672' '11385' '5697' '5394' '34543'
 '37980' '5578' '3677' '35722' '4748' '1647' '8444' '65145' '40315' '8592'
 '4222' '4068' '4156' '4331' '2246' '5929' '11036' '5117' '40527' '3634'
 '5532' '7528' '5771' '38353' '5516' '3847' '6699' '32430' '868' '3528'
 '7631' '4681' '3722' '40915' '945' '300' '7664' '5319' '28247' '28884'
 '4243' '39866' '23872' '39602' '1901' '2470' '3003' '5090' '22437' '931'
 '8547' '7586' '7309' '5154' '2411' '10811' '37588' '5731' '3073' '41454'
 '8319' '23305' '63566' '4760' '35440' '39846' '139294' '7551' '3746'
 '4425' '10745' '1576' '5748' '1093' '11963' '947' '4887' '3800' '66377'
 '34965' '10250' '4455' '7461' '10785' '31238' '963' '27742' '4532' '391'
 '9894' '34831' '14662' '9250' '10294' '37963' '7999' '877' '4911' '4692'
 '22667' '4495' '7274' '1770' '62509' '5084' '15050' '4055' '2479' '9564'
 '2611' '1349' '842' '8045' '8574' '16564' '4822' '44379' '44969' '38389'
 '1941' '4796' '35879' '4205' '33616' '36971' '4607' '9175' '50840' '5216'
 '17370' '4953' '38009' '4996' '7786' '913' '2504' '5326' '3202' '25489'
 '4710' '65165' '1952' '38783' '36354' '42108' '4722' '7393' '3844'
 '15419' '34574' '3787' '41500' '11568' '186' '44178' '6864' '4171' '2057'
 '43139' '7569' '44455' '4062' '21751' '4083' '3279' '1984' '4694' '1447'
 '3798' '13730' '42244' '10644' '22745' '3770' '1321' '11750' '8947'
 '4014' '6769' '2192' '102308' '9685' '34368' '6086' '1139' '9937' '41494'
 '2727' '37712' '4486' '37038' '30429' '42861' '4195' '18560' '42726'
 '411' '4466' '3671' '8001' '22188' '881' '26941' '25317' '37367' '39427'
 '3326' '2680' '39992' '39593' '2542' '2603' '5632' '40605' '922' '5710'
 '4640' '3492' '3723' '39964' '18786' '5136' '4869' '8374' '2547' '41582'
 '13113' '6617' '11283' '38060' '2584' '3606' '4636' '35571' '31092' '380'
 '7638' '41025' '36943' '73669' '35717' '35414' '69706' '1845' '35220'
 '2559' '2439' '5486' '5406' '71475' '45742' '23323' '34192' '41141'
 '34271' '8293' '17120' '6375' '4611' '4216' '11320' '38881' '10624'
 '40766' '41707' '34563' '1902' '16327' '4801' '4528' '3628' '36007'
 '38597' '44815' '45158' '4145' '2557' '2461' '1490' '36668' '97186'
 '18613' '33943' '33670' '28819' '5323' '45077' '6061' '2406' '3393'
 '38924' '3001' '2671' '1692' '10256' '38797' '35684' '3872' '940' '11245'
 '4898' '29962' '4693' '34618' '4550' '4629' '3378' '5778' '2099' '4265'
 '1940' '3717' '1095' '17255' '10680' '36014' '5464' '4458' '1044' '11730'
 '3540' '4713' '1594' '5146' '42048' '5587' '4200' '4978' '4984' '3695'
 '2798' '6606' '5605' '5240' '39833' '2415' '40481' '5101' '7652' '39116'
 '2417' '10139' '10958' '5752' '4945' '1933' '4840' '12655' '8689' '72810'
 '5629' '35207' '2797' '4315' '11709' '24367' '1937' '62502' '12732'
 '38631' '1961' '4829' '6937' '4569' '10862' '8884' '11603' '32610' '7818'
 '3224' '10803' '38594' '423' '5432' '10398' '10821' '44271' '9765'
 '36669' '35209' '8410' '1670' '2569' '16594' '30888' '2550' '31564' '856'
 '5994' '2625' '3441' '11627' '2018' '44408' '5647' '24756' '18765' '7871'
 '37080' '40893' '9194' '40899' '606' '28087' '2011' '9981' '13017'
 '39927' '11398' '4379' '45598' '1091' '36156' '10981' '15496' '7993'
 '4772' '34830' '5520' '436' '10873' '11726' '38554' '4523' '9308' '2718'
 '40200' '2543' '74520' '2120' '4213' '8609' '11744' '5200' '3287' '5840'
 '35412' '5540' '17642' '4634' '10723' '6134' '3666' '19510' '4628' '8906'
 '3091' '3882' '7402' '11676' '91618' '5087' '2390' '5159' '35547' '44662'
 '37602' '35995' '4056' '4951' '4672' '19524' '8294' '20074' '4063'
 '38843' '25864' '5013' '19263' '63197' '7125' '11631' '45922' '9177'
 '3737' '4823' '879' '5513' '3701' '4835' '932' '45308' '3963' '5607'
 '9492' '4820' '2944' '36775' '4625' '7240' '17752' '16302' '38622'
 '15637' '89393' '39588' '38958' '5817' '15317' '4504' '10402' '924'
 '45812' '8494' '7969' '906' '3537' '34739' '35902' '4755' '7280' '36228'
 '18204' '2537' '9463' '8751' '14519' '7320' '4307' '3993' '14602' '4542'
 '13617' '72048' '40539' '2446' '7584' '8492' '32907' '36037' '2999'
 '3591' '2341' '3951' '2678' '18688' '40115' '35582' '4578' '41867'
 '11651' '4246' '44182' '8325' '5080' '3412' '41374' '11209' '41061'
 '6384' '19409' '3392' '2608' '4305' '2601' '34407' '217' '2143' '34544']

In [55]:
columns = ['OpenCL score1', 'OpenCL score2', 'OpenCL score3', 'OpenCL score4']

def Opencl_clean(columns):   # Converting nil and null values to 0 and replacing text data
  for cols in columns:
    pc_details[cols] = pc_details[cols].replace('Nil' , '')
    pc_details[cols] = pc_details[cols].apply(pd.to_numeric,errors='coerce') # Replace text data with NaN
    pc_details[cols] = pc_details[cols].fillna(0)
  return pc_details

pc_details = Opencl_clean(columns)

In [56]:
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1293 entries, 0 to 1292
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1293 non-null   int64
 1   team_id             1293 non-null   int64
 2   Single core score1  1059 non-null   float64
 3   Single core score2  963 non-null    float64
 4   Single core score3  954 non-null    float64
 5   Single core score4  933 non-null    float64
 6   Multi core score1   1059 non-null   float64
 7   Multi core score2   963 non-null    float64
 8   Multi core score3   954 non-null    float64
 9   Multi core score4   933 non-null    float64
 10  OpenCL score1       1293 non-null   float64
 11  OpenCL score2       1293 non-null   float64
 12  OpenCL score3       1293 non-null   float64
 13  OpenCL score4       1293 non-null   float64
 14  OS1                 1293 non-null   object
 15  OS2                 1293 non-null   object
 16  OS3                 1293 non-null   object
 17  OS4                 1293 non-null   object
 18  Model1              1293 non-null   object
 19  Model2              1293 non-null   object
 20  Model3              1293 non-null   object
 21  Model4              1293 non-null   object
 22  CPU1                1293 non-null   object
 23  CPU2                1293 non-null   object
 24  CPU3                1293 non-null   object
 25  CPU4                1293 non-null   object
 26  Memory1             1293 non-null   float64
 27  Memory2             1293 non-null   float64
 28  Memory3             1293 non-null   float64
 29  Memory4             1293 non-null   float64
 30  Graphic Card1       1293 non-null   float64
 31  Graphic Card2       1293 non-null   float64
 32  Graphic Card3       1293 non-null   float64
 33  Graphic Card4       1293 non-null   float64
dtypes: float64(20), int64(2), object(12)
memory usage: 343.6+ KB

Now we can see that only OS, CPU and Model are in Text format all other data are in numeric format

In [57]:
print(pc_details.isna().sum().sort_values(ascending=False).to_markdown())

|                    |   0 |
|:-------------------|----:|
| Single core score4 | 360 |
| Multi core score4  | 360 |
| Single core score3 | 339 |
| Multi core score3  | 339 |
| Single core score2 | 330 |
| Multi core score2  | 330 |
| Single core score1 | 234 |
| Multi core score1  | 234 |
| Unnamed: 0         |   0 |
| Memory2            |   0 |
| CPU2               |   0 |
| CPU3               |   0 |
| CPU4               |   0 |
| Memory1            |   0 |
| Graphic Card3      |   0 |
| Memory3            |   0 |
| Memory4            |   0 |
| Graphic Card1      |   0 |
| Graphic Card2      |   0 |
| Model4             |   0 |
| CPU1               |   0 |
| OS4                |   0 |
| Model3             |   0 |
| Model2             |   0 |
| Model1             |   0 |
| team_id            |   0 |
| OS3                |   0 |
| OS2                |   0 |
| OS1                |   0 |
| OpenCL score4      |   0 |
| OpenCL score3      |   0 |
| OpenCL score2      |   0 |
| OpenCL score1      |   0 |
| Graphic Card4      |   0 |

## **Replacing null values in single and multi core scores**

In [58]:
columns = ['Single core score1', 'Single core score2', 'Single core score3', 'Single core score4', 'Multi core score1', 'Multi core score2', 'Multi core score3', 'Multi core score4']
def Replace_null(columns):
  for cols in columns:
    pc_details[cols] = pc_details[cols].fillna(0)
  return pc_details

pc_details = Replace_null(columns)

In [59]:
print(pc_details.isna().sum().sort_values(ascending=False).to_markdown())

|                    |   0 |
|:-------------------|----:|
| Unnamed: 0         |   0 |
| CPU4               |   0 |
| Model2             |   0 |
| Model3             |   0 |
| Model4             |   0 |
| CPU1               |   0 |
| CPU2               |   0 |
| CPU3               |   0 |
| Memory1            |   0 |
| team_id            |   0 |
| Memory2            |   0 |
| Memory3            |   0 |
| Memory4            |   0 |
| Graphic Card1      |   0 |
| Graphic Card2      |   0 |
| Graphic Card3      |   0 |
| Model1             |   0 |
| OS4                |   0 |
| OS3                |   0 |
| OS2                |   0 |
| OS1                |   0 |
| OpenCL score4      |   0 |
| OpenCL score3      |   0 |
| OpenCL score2      |   0 |
| OpenCL score1      |   0 |
| Multi core score4  |   0 |
| Multi core score3  |   0 |
| Multi core score2  |   0 |
| Multi core score1  |   0 |
| Single core score4 |   0 |
| Single core score3 |   0 |
| Single core score2 |   0 |
| Single core score1 |   0 |
| Graphic Card4      |   0 |

In [60]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,CPU3,CPU4,Memory1,Memory2,Memory3,Memory4,Graphic Card1,Graphic Card2,Graphic Card3,Graphic Card4
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,...,Intel Core i5-7200U,AMD Ryzen 5 3500U,3.62,3.64,3.73,5.74,0.00,0.00,0.00,0.0
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,...,Intel Core i3-2350M,Intel Core i5-5200U,2.00,2.00,2.00,1.00,3.14,2.00,0.00,2.0
2,2,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,...,Intel Core i5-8250U,Intel Core i7-6500U,1.00,2.00,1.00,1.00,2.00,6.00,3.16,2.0
3,3,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,...,AMD Ryzen 5 4600H,Intel Core i7-9750H,15.52,1.00,1.00,1.00,0.00,6.00,4.00,6.0
4,4,1006,1004.0,422.0,657.0,1121.0,2612.0,1127.0,2252.0,5887.0,...,Intel Core i5-10300H,AMD Ryzen 7 4800H,1.00,1.00,1.00,2.00,4.00,1.59,4.00,6.0

In [61]:
pc_details.to_csv('Cleaned_pc_specs4.csv', index = True)